Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: portal, api
  .azure-pipelines/terraform.yml: any of: infrastructure

fix: Improve About page environment display and badge positioning
  admin-portal/src/components/About.css
  admin-portal/src/components/About.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Restore About page environment badge positioning
  admin-portal/e2e/ui-inspection-authenticated.spec.ts
  admin-portal/e2e/ui-inspection-oct-26-2025.spec.ts
Due: .azure-pipelines/admin-portal.yml

test: Trigger admin portal pipeline
  admin-portal/README.md
Due: .azure-pipelines/admin-portal.yml

fix: Add missing environment badge CSS for About page
  admin-portal/src/components/About.css
Due: .azure-pipelines/admin-portal.yml

fix: Default health check environment to 'production' instead of 'development'
  api/src/functions/healthCheck.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

docs: Add mandatory workflow prevention system to prevent lost fixes
  CLAUDE.md
  docs/WORKFLOW_PREVENTION_MANDATORY.md
  scripts/find-missing-commits.sh
Due: none

fix: Replace Kendo Badge with custom styled badge to prevent header positioning
  admin-portal/src/components/About.css
  admin-portal/src/components/About.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Improve About page environment display and badge positioning
  admin-portal/src/components/About.css
Due: .azure-pipelines/admin-portal.yml

feat: Add comprehensive KvK registry data storage and display
  admin-portal/src/components/KvkRegistryDetails.css
  admin-portal/src/components/KvkRegistryDetails.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/services/apiV2.ts
  api/src/essential-index.ts
  api/src/functions/getKvkRegistryData.ts
  api/src/functions/uploadKvkDocument.ts
  database/migrations/014_kvk_registry_data.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Add MapPin icon for KvK Registry component
  admin-portal/src/components/icons.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Remove non-existent TokensManager import from MemberDetailView
  admin-portal/src/components/MemberDetailView.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Register getKvkRegistryData function in API entry point
  api/src/index.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Extract and store comprehensive KvK registry data
  api/src/functions/uploadKvkDocument.ts
  api/src/services/kvkService.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Improve KvK verification error messages
  api/src/functions/uploadKvkDocument.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat: Add backfill script for existing KvK registry records
  api/scripts/backfill-kvk-registry-data.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Allow admin access to getEndpointsByEntity endpoint
  api/src/functions/getEndpointsByEntity.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Check permissions in GetLegalEntity handler for admin access
  api/src/functions/GetLegalEntity.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Add @progress/kendo-draggable-common to member portal
  member-portal/package.json
Due: none

fix: Replace lucide-react icons with emojis in member portal
  member-portal/src/App.tsx
  member-portal/src/components/NotFound.tsx
Due: none

Add Google Maps API key to enable journey visualization
  booking-portal/web/index.html
Due: none

Add mandatory branch protection protocol to prevent monorepo data loss
  CLAUDE.md
  docs/BRANCH_PROTECTION_PROTOCOL.md
Due: none

docs: Update workflow to eliminate feature branches
  CLAUDE.md
  docs/BRANCH_PROTECTION_PROTOCOL.md
Due: none

fix: Add Node.js types to booking-portal tsconfig to resolve build errors
  booking-portal/api/tsconfig.json
Due: none

chore: Bump admin portal version to trigger fresh deployment
  admin-portal/package.json
Due: .azure-pipelines/admin-portal.yml

fix: Remove unused @ts-expect-error directives in export utilities
  admin-portal/src/utils/exportUtils.ts
  admin-portal/src/utils/genericExportUtils.ts
Due: .azure-pipelines/admin-portal.yml

fix: Remove non-existent kendo-draggable packages and regenerate lock files
  booking-portal/api/package-lock.json
  member-portal/package-lock.json
  member-portal/package.json
  package-lock.json
Due: none

chore: Bump admin portal version to trigger fresh build with KvK Registry
  admin-portal/package.json
Due: .azure-pipelines/admin-portal.yml

fix: Remove admin-portal package-lock.json for proper workspace dependency resolution
  admin-portal/package-lock.json
  package-lock.json
Due: .azure-pipelines/admin-portal.yml

fix: Cast jsPDF internal to any for getCurrentPageInfo access
  admin-portal/src/utils/exportUtils.ts
  admin-portal/src/utils/genericExportUtils.ts
Due: .azure-pipelines/admin-portal.yml

fix: Add Rollup Linux binary as optional dependency to fix workspace build
  admin-portal/package.json
  package-lock.json
Due: .azure-pipelines/admin-portal.yml

fix: Remove undefined userPermissions property from GetLegalEntity
  api/src/functions/GetLegalEntity.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Preserve KvK registry historical records and always show latest
  api/src/functions/getKvkRegistryData.ts
  api/src/functions/uploadKvkDocument.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat: Add DevOps Guardian agent for Git/Azure/Monorepo operations
  .claude/agents/devops-guardian-dg.md
  CLAUDE.md
Due: none

feat: Complete KvK document verification UI improvements
  admin-portal/src/components/KvkDocumentUpload.tsx
Due: .azure-pipelines/admin-portal.yml

chore: Bump API version to trigger deployment with KvK Registry fix
  api/package.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

chore: Trigger admin portal deployment with KvK Registry tab
  admin-portal/package.json
Due: .azure-pipelines/admin-portal.yml

fix: Prevent endpoints 404 from blocking KvK Registry tab display
  admin-portal/src/components/MemberDetailView.tsx
Due: .azure-pipelines/admin-portal.yml

docs: Add Lesson #34 - Cascading try-catch failures hide functionality
  CLAUDE.md
Due: none
