Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    displayName: Install Node.js 18.x
    inputs:
      versionSpec: 18.x
  - script: 'node --version
  
      npm --version
  
      '
    displayName: Display Node and NPM versions
  - script: 'cd web
  
      npm ci --legacy-peer-deps
  
      '
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-MEMBER
      RunAsPreJob: true
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

fix: Handle paginated response in getContacts API call
  ROADMAP.md
  docs/COMPLETED_ACTIONS.md
  web/src/services/apiV2.ts
Due: .azure-pipelines/admin-portal.yml

docs: Document MCP config location and disable BrowserMCPServer
  CLAUDE.md
Due: none

docs: Comprehensive ROADMAP.md cleanup and prioritization
  ROADMAP.md
  docs/COMPLETED_ACTIONS.md
Due: none

security: Complete Git history cleanup - credentials removed
  ROADMAP.md
Due: none

chore: Update author email to ramon@denoronha.consulting
  ROADMAP.md
Due: none

fix: Resolve P2 and P3 bugs - form validation, country filtering, contact edit, accessibility
  web/src/components/AdminPortal.tsx
  web/src/components/ContactForm.tsx
  web/src/components/IdentifiersManager.tsx
  web/src/components/MemberForm.css
Due: .azure-pipelines/admin-portal.yml

feat: Add Settings page and export functionality for grids
  web/src/components/AdminPortal.css
  web/src/components/AdminPortal.tsx
  web/src/components/AdminSidebar.tsx
  web/src/components/NewslettersGrid.tsx
  web/src/components/Settings.css
  web/src/components/Settings.tsx
  web/src/utils/genericExportUtils.ts
Due: .azure-pipelines/admin-portal.yml

docs: Update ROADMAP and COMPLETED_ACTIONS after autonomous bug fixing
  ROADMAP.md
  docs/COMPLETED_ACTIONS.md
  docs/archive/SESSION_SUMMARY_2025-10-16_AUTONOMOUS_BUG_FIXES.md
Due: none

docs: Update ROADMAP and COMPLETED_ACTIONS after UI/UX improvements
  ROADMAP.md
  docs/COMPLETED_ACTIONS.md
Due: none

feat: Implement real API calls for MemberDetailDialog and document IdentifierVerificationManager requirements
  web/src/components/IdentifierVerificationManager.tsx
  web/src/components/MemberDetailDialog.tsx
Due: .azure-pipelines/admin-portal.yml

docs: Update ROADMAP after MemberDetailDialog backend integration
  ROADMAP.md
  docs/COMPLETED_ACTIONS.md
Due: none

feat: Enable Swagger UI on /api/swagger/ui endpoint
  api/package.json
  api/src/essential-index.ts
  api/src/functions/swagger.ts
Due: .azure-pipelines/member-portal.yml

feat: Merge Review Tasks into Tasks view with CTN-branded cards
  web/src/components/AdminSidebar.tsx
  web/src/components/TasksGrid.css
  web/src/components/TasksGrid.tsx
Due: .azure-pipelines/admin-portal.yml

style: Apply proper CTN brand colors to task summary cards
  web/src/components/TasksGrid.css
Due: .azure-pipelines/admin-portal.yml

docs: Add comprehensive coding standards and fix timezone/locale handling
  api/src/services/emailTemplateService.ts
  database/migrations/014_standardize_timestamp_types.sql
  docs/CODING_STANDARDS.md
  web/src/utils/dateUtils.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

docs: Add reference to CODING_STANDARDS.md in CLAUDE.md
  CLAUDE.md
Due: none

fix: Fix card colors with !important and rename KvK to Verify for internationalization
  web/src/components/TasksGrid.css
  web/src/components/TasksGrid.tsx
Due: .azure-pipelines/admin-portal.yml

docs: Update ROADMAP and COMPLETED_ACTIONS after standardization work
  ROADMAP.md
  docs/COMPLETED_ACTIONS.md
Due: none

docs: Remove all completed tasks from ROADMAP.md
  ROADMAP.md
Due: none

fix: Add explicit conditions to pipeline steps to ensure deployments run
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: none

chore: Trigger pipeline to test deployment condition fixes
  web/README.md
Due: .azure-pipelines/admin-portal.yml

fix: Ensure Biome lint errors never block deployment
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: none

fix: Generate version.json during build to show correct deployment info
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: none

refactor: Clean up pipeline quality checks - proper error handling
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: none

feat: Migrate from Create React App to Vite for both web and portal
  .azure-pipelines/member-portal.yml
  CLAUDE.md
  ROADMAP.md
  docs/COMPLETED_ACTIONS.md
  docs/archive/SESSION_SUMMARY_20251016_quality_scan_analysis.md
  portal/index.html
  portal/package-lock.json
  portal/package.json
  portal/vite.config.ts
  web/index.html
  web/package-lock.json
  web/package.json
  web/vite.config.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: Remove duplicate index.html files and add test infrastructure
  .gitignore
  ROADMAP.md
  docs/COMPLETED_ACTIONS.md
  portal/api/tests/api-smoke-test.sh
  portal/package-lock.json
  portal/package.json
  portal/playwright.config.ts
  portal/public/index.html
  portal/web/e2e/VITE_MIGRATION_TEST_RESULTS.md
  portal/web/e2e/vite-migration/admin-portal.spec.ts
  portal/web/e2e/vite-migration/member-portal.spec.ts
  web/public/index.html
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: Upgrade Node.js to version 20.x for Vite compatibility
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: none

fix: Add fallback values for undefined environment variables in Vite config
  portal/vite.config.ts
  web/vite.config.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: Use loadEnv to properly read environment variables in Vite config
  portal/vite.config.ts
  web/vite.config.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: Use process.env directly instead of loadEnv() for Azure DevOps
  portal/vite.config.ts
  web/vite.config.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

docs: Complete Vite migration documentation and lessons learned
  CLAUDE.md
  ROADMAP.md
  docs/COMPLETED_ACTIONS.md
Due: none

feat: Complete Vite configuration improvements
  portal/.gitignore
  portal/package.json
  portal/vite.config.ts
  web/package.json
  web/vite.config.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix(types): Replace 'any' types with proper TypeScript types
  web/src/components/Dashboard.tsx
  web/src/utils/genericExportUtils.ts
Due: .azure-pipelines/admin-portal.yml

fix(types): Remove 'any' types from member portal
  portal/package.json
  portal/playwright.config.ts
  portal/src/App.css
  portal/src/App.tsx
  portal/src/components/ContactsView.tsx
  portal/src/components/Dashboard.tsx
  portal/src/components/Endpoints.tsx
  portal/src/components/EndpointsView.tsx
  portal/src/components/ProfileView.tsx
  portal/src/components/Support.tsx
  portal/src/components/TokensView.tsx
  portal/src/types.ts
  portal/vite.config.ts
  portal/web/e2e/vite-migration/admin-portal.spec.ts
  portal/web/e2e/vite-migration/member-portal.spec.ts
Due: .azure-pipelines/member-portal.yml

docs: Add comprehensive code quality improvements summary
  CODE_QUALITY_SUMMARY.md
Due: none

fix(a11y): Resolve member portal bugs BUG-001, BUG-002, BUG-003
  portal/src/components/NotFound.tsx
  web/src/App.tsx
  web/src/components/AdminPortal.tsx
  web/src/components/AdminSidebar.tsx
  web/src/components/NotFound.css
  web/src/components/NotFound.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

docs: Update documentation structure and completed actions
  CLAUDE.md
  ROADMAP.md
  docs/CODE_QUALITY_SUMMARY.md
  docs/COMPLETED_ACTIONS.md
Due: none

test: Add comprehensive E2E test suite for member portal
  portal/api/tests/member-portal-api-tests.sh
  portal/web/e2e/MEMBER_PORTAL_BUG_REPORT.md
  portal/web/e2e/MEMBER_PORTAL_TEST_DELIVERABLES.md
  portal/web/e2e/MEMBER_PORTAL_TEST_RESULTS.md
  portal/web/e2e/README.md
  portal/web/e2e/member-portal.spec.ts
Due: .azure-pipelines/member-portal.yml

docs: Update documentation after BUG-001, BUG-002, BUG-003 fixes
  docs/COMPLETED_ACTIONS.md
Due: none

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: web
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: portal, api
  .azure-pipelines/terraform.yml: any of: infrastructure
