Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/playwright-tests.yml, .azure-pipelines/terraform.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, .azure-pipelines/admin-portal.yml, but not: api, member-portal, docs, **/*.md
  .azure-pipelines/api-tests.yml: any of: api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/container-app-api.yml: any of: api, infrastructure/container-app.bicep, .azure-pipelines/container-app-api.yml
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, docs, **/*.md
  .azure-pipelines/playwright-tests.yml: any of: admin-portal/e2e, member-portal/e2e, tests/*.setup.ts, playwright.config.ts
  .azure-pipelines/terraform.yml: any of: infrastructure

feat(api): implement DNS verification with multi-resolver consensus
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

debug: add detailed logging to DNS verification endpoint
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

chore: force pipeline rebuild for DNS verification deployment
  .gitignore
Due: none

fix(pipeline): force Container App revision update on every deployment
  .azure-pipelines/container-app-api.yml
Due: .azure-pipelines/container-app-api.yml

feat(api): add missing /v1/member/tokens endpoints
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): use member_id instead of legal_entity_id in token endpoints
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(api,member-portal): add member contacts endpoints, Swagger docs, and fix API Access page
  api/package.json
  api/src/routes.ts
  api/src/server.ts
  member-portal/src/components/M2MClientsView.tsx
  member-portal/src/components/Support.tsx
  package-lock.json
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml

fix(admin-portal): update Swagger URL to Container Apps endpoint
  admin-portal/src/components/Settings.tsx
Due: .azure-pipelines/admin-portal.yml

refactor: replace all Azure Functions URLs with Container Apps endpoints
  admin-portal/src/components/About.tsx
  api/src/config/constants.ts
  packages/api-client/README.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

test: update all test files to use Container Apps API endpoint
  tests/admin-portal/e2e/admin-portal/identifiers-crud.spec.ts
  tests/admin-portal/e2e/admin-portal/member-management.spec.ts
  tests/admin-portal/e2e/critical-flows-realistic.spec.ts
  tests/admin-portal/e2e/kvk-verification.spec.ts
  tests/api/curl/api-endpoints-smoke.sh
Due: none

fix(member-portal): correctly extract clients array from API response
  member-portal/src/components/M2MClientsView.tsx
Due: .azure-pipelines/member-portal.yml

fix(tests): implement proper Azure AD authentication for Playwright E2E tests
  docs/TEST_REPORT_MEMBER_PORTAL_2025-11-20.md
  member-portal/playwright.config.ts
  tests/member-portal/e2e/global.setup.ts
  tests/member-portal/e2e/member-portal/playwright
  tests/member-portal/e2e/playwright
  tests/member-portal/playwright
Due: .azure-pipelines/member-portal.yml

fix(api): correct database column names in member contacts endpoints
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(pipelines): correct Gitleaks download command in admin and member pipelines
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix(api): correct M2M client creation to match frontend expectations
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): remove client_secret column from m2m_clients INSERT
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(pipelines): temporarily disable Gitleaks due to GitHub 503 errors
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat(member-portal): add read-only Client ID preview to M2M creation modal
  member-portal/src/components/M2MClientsView.tsx
Due: .azure-pipelines/member-portal.yml

feat(member-portal): refactor API Access page to use tabbed interface
  member-portal/src/components/APIAccessView.tsx
Due: .azure-pipelines/member-portal.yml

fix(pipelines): make OWASP Dependency Check non-blocking
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/member-portal.yml

fix(api): return snake_case field names in M2M client creation response
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(member-portal): rename 'System Integrations' to 'Integration Endpoints'
  member-portal/src/App.tsx
Due: .azure-pipelines/member-portal.yml

feat(member-portal): rename tabs to Inbound/Outbound Endpoints for clarity
  member-portal/src/App.tsx
Due: .azure-pipelines/member-portal.yml

refactor(member-portal): rename tabs to Published Endpoints and Access Credentials
  member-portal/src/App.tsx
Due: .azure-pipelines/member-portal.yml

feat(database): add migration 029 - link credentials to published endpoints
  database/migrations/029_link_credentials_to_endpoints.sql
Due: none

feat(api): link M2M credentials to published endpoints
  api/src/routes.ts
  database/migrations/029_link_credentials_to_endpoints.sql
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(member-portal): link M2M credentials to published endpoints
  member-portal/src/components/M2MClientsView.tsx
Due: .azure-pipelines/member-portal.yml

fix(api): return snake_case field names in M2M clients GET endpoint
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

refactor(member-portal): use Mantine ActionIcon pattern for M2M clients
  member-portal/src/components/M2MClientsView.tsx
Due: .azure-pipelines/member-portal.yml

refactor(member-portal): replace ContactsView HTML table with Mantine DataTable
  member-portal/src/components/ContactsView.tsx
Due: .azure-pipelines/member-portal.yml

refactor(member-portal): convert EndpointsView to Mantine DataTable
  member-portal/src/components/EndpointsView.tsx
Due: .azure-pipelines/member-portal.yml

feat(member-portal): add KvK Document and Legal Identifiers tabs
  member-portal/src/App.tsx
  member-portal/src/components/IdentifiersView.tsx
  member-portal/src/components/KvKDocumentView.tsx
  packages/api-client/dist/endpoints/member.d.ts
  packages/api-client/dist/endpoints/member.d.ts.map
  packages/api-client/dist/endpoints/member.js
  packages/api-client/src/endpoints/member.ts
Due: .azure-pipelines/member-portal.yml

fix(identifiers): correct API response format and database column mappings
  api/src/routes.ts
  member-portal/src/components/IdentifiersView.tsx
  packages/api-client/dist/endpoints/member.js
  packages/api-client/src/endpoints/member.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml

feat(api): implement in-memory caching with node-cache for member portal endpoints
  api/package.json
  api/src/middleware/cache.ts
  api/src/routes.ts
  api/src/utils/cache.ts
  package-lock.json
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(member-portal): upgrade UI with Mantine components for better UX
  member-portal/src/App.tsx
  member-portal/src/components/ContactsView.tsx
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/IdentifiersView.tsx
  member-portal/src/components/shared/DashboardSkeleton.tsx
Due: .azure-pipelines/member-portal.yml

fix(member-portal): implement Phase 1 code quality improvements
  member-portal/src/App.tsx
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/IdentifiersView.tsx
  member-portal/src/services/apiClient.ts
Due: .azure-pipelines/member-portal.yml

fix(member-portal): implement Phase 2 code quality improvements
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/EndpointsView.tsx
  member-portal/src/components/IdentifiersView.tsx
Due: .azure-pipelines/member-portal.yml

perf(member-portal): implement Phase 3 polish improvements
  member-portal/src/components/ContactsView.tsx
  member-portal/src/components/EndpointsView.tsx
  member-portal/src/components/IdentifiersView.tsx
Due: .azure-pipelines/member-portal.yml

fix(api): add missing GET endpoint for KvK verification status
  api/src/routes.ts
  member-portal/src/components/ContactsView.tsx
  member-portal/src/components/EndpointsView.tsx
  member-portal/src/components/IdentifiersView.tsx
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml

fix(api): remove non-existent kvk_verification columns from query
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml
