Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-ADMIN
      RunAsPreJob: true
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-MEMBER
      RunAsPreJob: true
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

fix(db): correct email cleanup regex to match single trailing dot (migration 028)
  database/migrations/028_phase2_schema_refactoring.sql
Due: none

docs(db): mark Phase 2 as DEPLOYED with verification results
  docs/database/SCHEMA_ISSUES_SUMMARY.md
Due: none

fix(api): update member queries to use v_members_full view after migration 028
  api/src/functions/GetAuthenticatedMember.ts
  api/src/functions/GetMemberContacts.ts
  api/src/functions/GetMemberEndpoints.ts
  api/src/functions/GetMembers.ts
  api/src/functions/ResolveParty.ts
  api/src/functions/generateBvad.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

docs(db): correct API review - 6 functions required updates (Phase 2)
  docs/database/API_QUERY_REVIEW_PHASE2.md
Due: none

docs(db): add Phase 2 testing completion report
  docs/database/PHASE2_TESTING_COMPLETE.md
Due: none

fix(db): migration 029 - separate 5 companies wrongly sharing party_id
  database/migrations/029_hotfix_members_canonical_legal_entity.sql
Due: none

docs: add comprehensive session summary for Nov 13, 2025
  docs/SESSION_SUMMARY_2025-11-13.md
Due: none

fix(admin-portal): add debug logging and fix endpoint loading issues
  admin-portal/src/components/AllEndpointsView.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/MemberDetailView.tsx
Due: .azure-pipelines/admin-portal.yml

debug(api): add extensive logging to getEndpointsByEntity handler
  api/src/essential-index.ts
  api/src/functions/getEndpointsByEntity.ts
  api/src/index.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(api): critical - fix m.status reference in auth middleware after migration 028
  api/src/middleware/auth.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(api): resolve Azure Functions v4 route conflict for endpoints API
  api/src/essential-index.ts
  api/src/functions/ManageEndpoints.ts
  api/src/index.ts
  docs/ENDPOINT_API_TEST_REPORT.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

docs: add endpoint fix summary for user reference
  docs/ENDPOINT_FIX_SUMMARY.md
Due: none

fix(api): final fix - remove OPTIONS from GET method to resolve route conflict
  api/src/functions/ManageEndpoints.ts
  api/src/functions/createEndpoint.ts
  api/src/functions/getEndpointsByEntity.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

cleanup: remove debug logging from endpoints after successful fix
  admin-portal/src/components/EndpointManagement.tsx
  api/src/functions/ManageEndpoints.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

refactor(phase1): extract magic numbers to constants (Task 1.1 - partial)
  admin-portal/src/components/AllEndpointsView.tsx
  admin-portal/src/config/constants.ts
  api/src/config/constants.ts
  api/src/config/rateLimits.ts
  api/src/functions/generateBvad.ts
  api/src/middleware/auth.ts
  api/src/middleware/keycloak-auth.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

refactor(phase1): complete magic number extraction (Task 1.1 - complete)
  api/src/config/constants.ts
  api/src/middleware/endpointWrapper.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

docs: add refactoring plan and code quality review
  TASK_MANAGER.md
  docs/CODE_QUALITY_REVIEW.md
  docs/REFACTORING_PLAN.md
Due: none

refactor(phase1): remove commented code and add linting rules (Task 1.2)
  admin-portal/biome.json
  admin-portal/src/components/AllEndpointsView.tsx
Due: .azure-pipelines/admin-portal.yml

refactor(phase1): use apiV2 in EndpointManagement (Task 1.3 - partial)
  admin-portal/src/components/EndpointManagement.tsx
Due: .azure-pipelines/admin-portal.yml

refactor(phase1): add TypeScript window declaration and fix types (Tasks 1.5 + fixes)
  admin-portal/src/components/AllEndpointsView.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/global.d.ts
  admin-portal/src/index.tsx
Due: .azure-pipelines/admin-portal.yml

refactor(phase1): extract validation utilities (Task 1.7)
  api/src/functions/CreateIdentifier.ts
  api/src/functions/CreateIdentifierSimple.ts
  api/src/functions/EndpointManagement.ts
  api/src/functions/EndpointRegistrationWorkflow.ts
  api/src/functions/GetContacts.ts
  api/src/functions/GetIdentifiers.ts
  api/src/functions/GetLegalEntity.ts
  api/src/functions/UpdateIdentifier.ts
  api/src/functions/UpdateLegalEntity.ts
  api/src/functions/registerMember.ts
  api/src/utils/validators.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

refactor(phase1): use handleError utility - Batch 1 (Task 1.4)
  api/src/functions/CreateIdentifier.ts
  api/src/functions/ManageEndpoints.ts
  api/src/functions/UpdateIdentifier.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

refactor(phase1): use handleError utility - Batch 2 (Task 1.4)
  api/src/functions/GetAuthenticatedMember.ts
  api/src/functions/generateBvad.ts
  api/src/functions/uploadKvkDocument.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

refactor(phase1): use handleError utility - Batch 3a (Task 1.4)
  api/src/functions/ApproveApplication.ts
  api/src/functions/CreateContact.ts
  api/src/functions/CreateIdentifierSimple.ts
  api/src/functions/DeleteContact.ts
  api/src/functions/DiagnosticCheck.ts
  api/src/functions/EventGridHandler.ts
  api/src/functions/GetApplications.ts
  api/src/functions/GetAuditLogs.ts
  api/src/functions/GetIdentifierVerifications.ts
  api/src/functions/GetMember.ts
  api/src/functions/GetMemberContacts.ts
  api/src/functions/GetMemberEndpoints.ts
  api/src/functions/GetMemberTokens.ts
  api/src/functions/GetVersion.ts
  api/src/functions/IssueToken.ts
  api/src/functions/RejectApplication.ts
  api/src/functions/TierManagement.ts
  api/src/functions/UpdateContact.ts
  api/src/functions/UploadIdentifierVerification.ts
  api/src/functions/bdiJwks.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

refactor(phase1): use handleError utility - Batch 3b (Task 1.4)
  api/src/functions/CreateMember.ts
  api/src/functions/GetMembers.ts
  api/src/functions/ResolveParty.ts
  api/src/functions/registerMember.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

refactor(phase1): use handleError utility - Batch 3c (Task 1.4)
  api/src/functions/DnsReverificationJob.ts
  api/src/functions/ManageBookings.ts
  api/src/functions/createTask.ts
  api/src/functions/getEndpointTokens.ts
  api/src/functions/getFlaggedEntities.ts
  api/src/functions/getKvkRegistryData.ts
  api/src/functions/getKvkVerificationStatus.ts
  api/src/functions/getTasks.ts
  api/src/functions/issueEndpointToken.ts
  api/src/functions/reviewKvkVerification.ts
  api/src/functions/updateEndpoint.ts
  api/src/functions/updateTask.ts
  api/src/functions/validateBvod.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

refactor(phase1): use handleError utility - Batch 3d FINAL (Task 1.4)
  api/src/functions/CreateMemberContact.ts
  api/src/functions/CreateMemberEndpoint.ts
  api/src/functions/DeleteIdentifier.ts
  api/src/functions/EndpointManagement.ts
  api/src/functions/EndpointRegistrationWorkflow.ts
  api/src/functions/FetchLEI.ts
  api/src/functions/GenerateEUID.ts
  api/src/functions/GetContacts.ts
  api/src/functions/GetEvents.ts
  api/src/functions/GetIdentifiers.ts
  api/src/functions/GetLegalEntity.ts
  api/src/functions/GetOrchestrationDetails.ts
  api/src/functions/GetOrchestrations.ts
  api/src/functions/GetWebhooks.ts
  api/src/functions/ManageM2MClients.ts
  api/src/functions/UpdateLegalEntity.ts
  api/src/functions/UpdateMemberContact.ts
  api/src/functions/UpdateMemberProfile.ts
  api/src/functions/UpdateMemberStatus.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

feat(phase1): add standardized response utilities (Task 1.8)
  api/src/utils/responses.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

feat(phase1): complete Jest testing setup (Task 1.9) - Phase 1 DONE
  api/jest.config.js
  api/package.json
  api/src/__tests__/helpers.ts
  api/src/__tests__/setup.ts
  api/src/utils/__tests__/validators.test.ts
  package-lock.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

feat(phases2-5): complete refactoring with tests and documentation
  api/src/utils/__tests__/errors.test.ts
  docs/DATABASE_OPTIMIZATION_GUIDE.md
  docs/FRONTEND_PATTERNS.md
  docs/OPERATIONAL_RUNBOOK.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

refactor(admin-portal): migrate M2MClientsManager to use apiV2 client
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/services/apiV2.ts
Due: .azure-pipelines/admin-portal.yml

refactor(admin-portal): migrate IdentifierVerificationManager to use apiV2
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/services/apiV2.ts
Due: .azure-pipelines/admin-portal.yml

feat(admin-portal): add standardized ErrorAlert component
  admin-portal/src/components/ErrorAlert.tsx
Due: .azure-pipelines/admin-portal.yml

perf(database): add performance indexes for 50-80% query improvement
  database/migrations/028_add_performance_indexes.sql
Due: none

perf(api): optimize GetAuthenticatedMember N+1 query pattern
  api/src/__tests__/helpers.ts
  api/src/functions/CreateIdentifier.ts
  api/src/functions/DeleteIdentifier.ts
  api/src/functions/FetchLEI.ts
  api/src/functions/GenerateEUID.ts
  api/src/functions/GetAuthenticatedMember.ts
  api/src/functions/ManageM2MClients.ts
  api/src/functions/UpdateIdentifier.ts
  api/src/utils/__tests__/errors.test.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

perf(api): optimize generateBvad N+1 query pattern
  api/src/functions/generateBvad.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

feat(api): add database query performance monitoring utility
  api/src/utils/queryPerformance.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

feat(api-client): add member-specific endpoint for self-service operations
  member-portal/src/components/ContactsView.tsx
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/ProfileView.tsx
  packages/api-client/dist/client.d.ts
  packages/api-client/dist/client.d.ts.map
  packages/api-client/dist/client.js
  packages/api-client/dist/index.d.ts
  packages/api-client/dist/index.d.ts.map
  packages/api-client/dist/index.js
  packages/api-client/src/client.ts
  packages/api-client/src/endpoints/member.ts
  packages/api-client/src/index.ts
Due: .azure-pipelines/member-portal.yml

feat(member-portal): migrate EndpointsView and TokensView to apiClient
  member-portal/src/components/EndpointsView.tsx
  member-portal/src/components/TokensView.tsx
Due: .azure-pipelines/member-portal.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal, docs, **/*.md
  .azure-pipelines/terraform.yml: any of: infrastructure
