Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/playwright-tests.yml, .azure-pipelines/terraform.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, .azure-pipelines/admin-portal.yml, but not: api, member-portal, docs, **/*.md
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, docs, **/*.md
  .azure-pipelines/playwright-tests.yml: any of: admin-portal/e2e, member-portal/e2e, tests/*.setup.ts, playwright.config.ts
  .azure-pipelines/terraform.yml: any of: infrastructure

fix(devops): show npm ci errors and fail on error
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(devops): include package-lock.json for npm ci
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(devops): use npm install instead of npm ci (no package-lock in api/)
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

feat(devops): add smoke test battery for pre-commit and post-deployment
  .azure-pipelines/asr-api.yml
  scripts/smoke-test.sh
Due: .azure-pipelines/asr-api.yml

feat(smoke-tests): add authenticated endpoint tests with env-based credentials
  scripts/smoke-test.sh
Due: none

feat(smoke-tests): add Get Tasks endpoint test
  scripts/smoke-test.sh
Due: none

fix(api): correct column references in TaskService SQL queries
  api/src/services/taskService.ts
Due: .azure-pipelines/asr-api.yml

debug(api): add startup logging to GetAuditLogs to diagnose deployment issue
  api/src/functions/GetAuditLogs.ts
Due: .azure-pipelines/asr-api.yml

feat(api): add API test framework and audit-logs smoke tests
  .azure-pipelines/api-tests.yml
  api/package.json
  api/tests/README.md
  api/tests/TEST_CATALOG.md
  api/tests/run-api-tests.js
  api/tests/test-config.js
  api/tests/test-utils.js
  api/tests/tests/audit.test.js
  api/tests/tests/contacts.test.js
  api/tests/tests/endpoints.test.js
  api/tests/tests/identifiers.test.js
  api/tests/tests/kvk.test.js
  api/tests/tests/legal-entities.test.js
  api/tests/tests/members.test.js
  database/migrations/008-tasks-table-fix.sql
  database/migrations/008-tasks-table.sql
  scripts/debug-tasks.sh
  scripts/test-audit-routes.sh
  scripts/test-audit.sh
Due: .azure-pipelines/asr-api.yml

fix(api): lazy-load pseudonymization in GetAuditLogs to fix module loading
  api/src/functions/GetAuditLogs.ts
Due: .azure-pipelines/asr-api.yml

fix(api): simplify GetAuditLogs to fix module loading issue
  api/src/functions/GetAuditLogs.ts
Due: .azure-pipelines/asr-api.yml

refactor(api): rename GetAuditLogs to ListAuditLogs to fix route conflict
  api/src/functions/ListAuditLogs.ts
  api/src/index.ts
Due: .azure-pipelines/asr-api.yml

debug(api): minimal test version of audit-logs endpoint
  api/src/functions/ListAuditLogs.ts
Due: .azure-pipelines/asr-api.yml

debug(api): absolute minimal audit-logs without middleware
  api/src/functions/ListAuditLogs.ts
Due: .azure-pipelines/asr-api.yml

debug(api): try different route for audit-logs
  api/src/functions/ListAuditLogs.ts
Due: .azure-pipelines/asr-api.yml

debug(api): brand new audit logs file
  api/src/functions/AuditLogsList.ts
  api/src/functions/ListAuditLogs.ts
  api/src/index.ts
Due: .azure-pipelines/asr-api.yml

debug(api): continue debugging audit-logs module loading issue
  api/src/functions/AuditLogsList.ts
Due: .azure-pipelines/asr-api.yml

fix(api): restore full AuditLogsList implementation with proper response format
  api/src/functions/AuditLogsList.ts
Due: .azure-pipelines/asr-api.yml

fix(api): use existing columns in AuditLogsList query
  api/src/functions/AuditLogsList.ts
  scripts/smoke-test.sh
Due: .azure-pipelines/asr-api.yml

fix(api): use pseudonymized columns in AuditLogsList
  api/src/functions/AuditLogsList.ts
Due: .azure-pipelines/asr-api.yml

chore(database): archive executed migrations
  database/migrations/README_PHASE2.md
  database/migrations/archive/008-tasks-table-fix-2.sql
  database/migrations/archive/008-tasks-table-fix.sql
  database/migrations/archive/008-tasks-table.sql
  database/migrations/archive/009-identifier-verification-history.sql
  database/migrations/archive/012-create-m2m-clients.sql
  database/migrations/archive/014_kvk_registry_data.sql
  database/migrations/archive/015_three_tier_authentication.sql
  database/migrations/archive/016_member_registration_applications.sql
  database/migrations/archive/020_remove_newsletters_subscriptions.sql
  database/migrations/archive/021_fix_applications_fk_constraint.sql
  database/migrations/archive/022_identifier_verification_history.sql
  database/migrations/archive/023-zitadel-m2m-credentials.sql
  database/migrations/archive/024_add_check_constraints.sql
  database/migrations/archive/025_endpoint_verification_fields.sql
  database/migrations/archive/026-rename-zitadel-to-generic-m2m-fixed-v2.sql
  database/migrations/archive/026-rename-zitadel-to-generic-m2m-fixed.sql
  database/migrations/archive/026-rename-zitadel-to-generic-m2m.sql
  database/migrations/archive/027_fix_duplicate_legal_entities.sql
  database/migrations/archive/028_add_performance_indexes.sql
  database/migrations/archive/028_phase2_schema_refactoring.sql
  database/migrations/archive/029_hotfix_members_canonical_legal_entity.sql
  database/migrations/archive/030_optional_enum_constraints.sql
  database/migrations/archive/031_optional_cleanup_indexes.sql
  database/migrations/archive/032_optimize_v_members_full_view.sql
  database/migrations/archive/034_add_audit_log_action_index.sql
  database/migrations/archive/035_optimize_endpoint_indexes.sql
  database/migrations/archive/036_audit_log_pseudonymization.sql
  database/migrations/verify_028_phase2.sh
Due: none

feat(devops): implement blue/green deployment with staging slot
  .azure-pipelines/asr-api.yml
  CLAUDE.md
Due: .azure-pipelines/asr-api.yml

feat(testing): add member portal E2E tests and test catalog improvements
  TASK_MANAGER.md
  api/tests/CTN_ASR_Test_Catalog.xlsx
  api/tests/TEST_CATALOG.md
  api/tests/generate-test-catalog-excel.js
  api/tests/run-api-tests.js
  api/tests/tests/member-portal/index.js
  api/tests/tests/member-portal/member-authorization.test.js
  api/tests/tests/member-portal/member-contacts.test.js
  api/tests/tests/member-portal/member-endpoints.test.js
  api/tests/tests/member-portal/member-profile.test.js
  api/tests/~$CTN_ASR_Test_Catalog.xlsx
  member-portal/e2e/auth.setup.ts
  member-portal/e2e/member-portal/accessibility.spec.ts
  member-portal/e2e/member-portal/api-access.spec.ts
  member-portal/e2e/member-portal/authentication.spec.ts
  member-portal/e2e/member-portal/contacts.spec.ts
  member-portal/e2e/member-portal/dashboard.spec.ts
  member-portal/e2e/member-portal/dns-verification.spec.ts
  member-portal/e2e/member-portal/endpoints.spec.ts
  member-portal/e2e/member-portal/error-handling.spec.ts
  member-portal/e2e/member-portal/profile.spec.ts
  member-portal/e2e/member-portal/responsive.spec.ts
  member-portal/e2e/member-portal/support.spec.ts
  member-portal/package.json
  member-portal/playwright.config.ts
  member-portal/playwright/fixtures.ts
  member-portal/playwright/global-setup.ts
  package-lock.json
  package.json
  task-manager.md
Due: .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/playwright-tests.yml

fix(admin-portal): correct API endpoint URLs for tasks and KVK verification
  admin-portal/src/services/api/tasks.ts
Due: .azure-pipelines/admin-portal.yml

fix(devops): use npm run typecheck instead of npx tsc in admin-portal pipeline
  .azure-pipelines/admin-portal.yml
Due: .azure-pipelines/admin-portal.yml

fix(devops): use npm run typecheck in member-portal pipeline
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/member-portal.yml

chore: sync package-lock.json with dotenv@16.6.1
  package-lock.json
Due: none

fix(devops): revert to direct production deployment
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

feat(devops): re-enable blue/green deployment with configured staging slot
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(devops): revert to direct production deployment
  .azure-pipelines/asr-api.yml
  api/tests/~$CTN_ASR_Test_Catalog.xlsx
Due: .azure-pipelines/asr-api.yml

fix(registration): correct verification status value for database CHECK constraint
  api/src/functions/registerMember.ts
  member-portal/src/components/KvKDocumentUpload.tsx
  member-portal/src/components/RegistrationForm.tsx
Due: .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

chore(devops): remove blue/green deployment and staging slot
  .azure-pipelines/asr-api.yml
  CLAUDE.md
Due: .azure-pipelines/asr-api.yml

feat(api): migrate from Azure Functions to Container Apps
  .azure-pipelines/container-app-api.yml
  CLAUDE.md
  api/Dockerfile
  api/package.json
  api/src/routes.ts
  api/src/server.ts
  infrastructure/container-app.bicep
  package-lock.json
Due: .azure-pipelines/asr-api.yml, .azure-pipelines/terraform.yml

fix(security): update glob package to fix command injection vulnerability
  package-lock.json
Due: none

fix(devops): remove non-existent variable group from Container Apps pipeline
  .azure-pipelines/container-app-api.yml
Due: none

fix(devops): convert deployment job to regular job in Container Apps pipeline
  .azure-pipelines/container-app-api.yml
Due: none

fix(devops): use AzureCLI task for Docker build instead of Docker task
  .azure-pipelines/container-app-api.yml
  api/tests/results/container-apps-test-report-2025-11-19.md
Due: .azure-pipelines/asr-api.yml

fix(devops): use correct Azure service connection name
  .azure-pipelines/container-app-api.yml
Due: none

feat(infra): add Application Insights to Container App
  infrastructure/container-app.bicep
Due: .azure-pipelines/terraform.yml

feat(portals): update API URL to Container Apps
  admin-portal/.env.development
  admin-portal/.env.production
  member-portal/.env.production
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml
