Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-ADMIN
      RunAsPreJob: true
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-MEMBER
      RunAsPreJob: true
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

docs: complete removal of all Kendo/Telerik references from codebase
  booking-portal/README.md
  booking-portal/TEST_REPORT_2025-11-01.md
  booking-portal/e2e/bookings-grid-journey-timeline.spec.ts
  docs/KENDO_FORM_MIGRATION_GUIDE.md
  docs/KENDO_MIGRATION_STATUS.md
  docs/KENDO_TO_MANTINE_MIGRATION_ANALYSIS.md
  orchestrator-portal/README.md
  orchestrator-portal/docs/ARCHITECTURE.md
Due: none

docs: add post-migration agent analysis reports
  TEST_STATUS_SUMMARY.txt
  docs/POST_MIGRATION_TASKS.md
  docs/TEST_STATUS_AFTER_MANTINE_MIGRATION.md
Due: none

fix(security): replace xlsx with exceljs (SEC-VUL-001)
  admin-portal/package.json
  admin-portal/src/components/MembersGrid.tsx
  package-lock.json
Due: .azure-pipelines/admin-portal.yml

fix(security): strip console.log in production builds (SEC-VUL-003)
  admin-portal/vite.config.ts
  booking-portal/web/package-lock.json
  booking-portal/web/package.json
  booking-portal/web/vite.config.ts
  member-portal/vite.config.ts
  orchestrator-portal/package-lock.json
  orchestrator-portal/package.json
  orchestrator-portal/vite.config.ts
  package-lock.json
Due: .azure-pipelines/admin-portal.yml

test: update admin portal E2E tests to Mantine selectors (TEST-001)
  admin-portal/e2e/admin-portal-improved.spec.ts
  admin-portal/e2e/admin-portal/accessibility.spec.ts
  admin-portal/e2e/admin-portal/bug-investigation-identifier-404.spec.ts
  admin-portal/e2e/admin-portal/grid-pagination.spec.ts
  admin-portal/e2e/admin-portal/identifier-workflow-production.spec.ts
  admin-portal/e2e/admin-portal/identifier-workflow-simple.spec.ts
  admin-portal/e2e/admin-portal/identifiers-manager.spec.ts
  admin-portal/e2e/admin-portal/managers-crud.spec.ts
  admin-portal/e2e/admin-portal/member-management.spec.ts
  admin-portal/e2e/bug-investigation/member-grid-row-click.spec.ts
  admin-portal/e2e/critical-flows.spec.ts
  admin-portal/e2e/debug-identifier-500.spec.ts
  admin-portal/e2e/help-system.spec.ts
  admin-portal/e2e/kvk-verification.spec.ts
  admin-portal/e2e/portal-smoke-test.spec.ts
  admin-portal/e2e/progressive-disclosure.spec.ts
  admin-portal/e2e/ui-inspection-authenticated.spec.ts
  admin-portal/e2e/urgent-production-diagnostic.spec.ts
  admin-portal/e2e/urgent/add-kvk-95944192-fixed.spec.ts
  admin-portal/e2e/urgent/add-kvk-to-contargo.spec.ts
Due: .azure-pipelines/admin-portal.yml

test: update orchestrator portal E2E tests to Mantine (TEST-002)
  orchestrator-portal/e2e/analytics.spec.ts
  orchestrator-portal/e2e/events.spec.ts
  orchestrator-portal/e2e/orchestrations.spec.ts
  orchestrator-portal/e2e/webhooks.spec.ts
Due: none

fix(security): remove dangerouslySetInnerHTML (SEC-XSS-001)
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

feat(error-handling): add ErrorBoundary component (CQ-ERR-001 partial)
  admin-portal/src/App.tsx
  admin-portal/src/components/ErrorBoundary.tsx
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

feat(perf): apply React.memo to MembersGrid and IdentifiersManager (PERF-001 partial)
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

feat(perf): apply React.memo to ContactsManager and M2MClientsManager (PERF-001 partial)
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/M2MClientsManager.tsx
Due: .azure-pipelines/admin-portal.yml

feat(perf): apply React.memo to UserManagement, EndpointManagement, ReviewTasks (PERF-001 partial)
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/ReviewTasks.tsx
  admin-portal/src/components/users/UserManagement.tsx
Due: .azure-pipelines/admin-portal.yml

feat(perf): complete React.memo for all remaining components (PERF-001 complete)
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/KvkReviewQueue.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/audit/AuditLogViewer.tsx
Due: .azure-pipelines/admin-portal.yml

feat(error-boundary): wrap ContactsManager DataTable with ErrorBoundary (1/10)
  admin-portal/src/components/ContactsManager.tsx
Due: .azure-pipelines/admin-portal.yml

feat(error-boundary): wrap EndpointManagement DataTable with ErrorBoundary (2/10)
  admin-portal/src/components/EndpointManagement.tsx
Due: .azure-pipelines/admin-portal.yml

test(setup): configure Vitest for Mantine component testing
  admin-portal/package.json
  admin-portal/vitest.config.ts
Due: .azure-pipelines/admin-portal.yml

feat(error-boundary): wrap IdentifierVerificationManager DataTable with ErrorBoundary (3/10)
  admin-portal/src/components/IdentifierVerificationManager.tsx
Due: .azure-pipelines/admin-portal.yml

refactor(css): remove 35 !important flags from MembersGrid.css - CQ-CSS-001
  IMPLEMENTATION_PLAN.md
  admin-portal/src/components/MembersGrid.css
  admin-portal/src/components/MembersGrid.tsx
  docs/COMPLETED_ACTIONS.md
  member-portal/package.json
  package-lock.json
  package.json
Due: .azure-pipelines/admin-portal.yml

feat(error-boundary): wrap IdentifiersManager DataTable with ErrorBoundary (4/10)
  admin-portal/src/components/IdentifiersManager.tsx
Due: .azure-pipelines/admin-portal.yml

feat(error-boundary): wrap KvkReviewQueue DataTable with ErrorBoundary (5/10)
  admin-portal/src/components/KvkReviewQueue.tsx
Due: .azure-pipelines/admin-portal.yml

docs: update IMPLEMENTATION_PLAN.md with 100% !important reduction - CQ-CSS-001
  IMPLEMENTATION_PLAN.md
Due: none

feat(error-boundary): wrap M2MClientsManager DataTable with ErrorBoundary (6/10)
  admin-portal/src/components/M2MClientsManager.tsx
Due: .azure-pipelines/admin-portal.yml

feat(error-boundary): wrap ReviewTasks DataTable with ErrorBoundary (7/10)
  admin-portal/src/components/ReviewTasks.tsx
Due: .azure-pipelines/admin-portal.yml

test(mantine): add DataTable component tests (10/19 passing)
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/__tests__/MantineDataTable.test.tsx
  admin-portal/src/setupTests.ts
Due: .azure-pipelines/admin-portal.yml

feat(error-boundary): wrap TasksGrid DataTable instances (2) with ErrorBoundary (8/10)
  admin-portal/src/components/M2MClientsManager.tsx
Due: .azure-pipelines/admin-portal.yml

feat(error-boundary): wrap AuditLogViewer DataTable with ErrorBoundary (9/10)
  admin-portal/src/components/audit/AuditLogViewer.tsx
Due: .azure-pipelines/admin-portal.yml

test(mantine): add Modal component tests (13/13 passing)
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/__tests__/MantineModal.test.tsx
  admin-portal/src/components/users/UserManagement.tsx
Due: .azure-pipelines/admin-portal.yml

chore(lint): apply linter fixes to M2MClientsManager
  admin-portal/src/components/M2MClientsManager.tsx
Due: .azure-pipelines/admin-portal.yml

test(mantine): add Select and MultiSelect component tests (23/23 passing)
  admin-portal/src/components/__tests__/MantineSelect.test.tsx
Due: .azure-pipelines/admin-portal.yml

test(mantine): add Notifications component tests (18/18 passing)
  admin-portal/src/components/__tests__/MantineNotifications.test.tsx
Due: .azure-pipelines/admin-portal.yml

test(mantine): add Stepper component tests (25/25 passing)
  admin-portal/src/components/__tests__/MantineStepper.test.tsx
Due: .azure-pipelines/admin-portal.yml

perf(IdentifiersManager): wrap 11 handlers in useCallback for PERF-002
  admin-portal/src/components/IdentifiersManager.tsx
Due: .azure-pipelines/admin-portal.yml

perf(TasksGrid): wrap 11 handlers in useCallback for PERF-002
  admin-portal/src/components/TasksGrid.tsx
Due: .azure-pipelines/admin-portal.yml

feat(perf): add skeleton loaders to DataTable components (PERF-003)
  IMPLEMENTATION_PLAN.md
  admin-portal/package.json
  admin-portal/src/App.tsx
  admin-portal/src/components/CompanyDetails.tsx
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/Dashboard.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/HealthDashboard.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/KvkDocumentUpload.tsx
  admin-portal/src/components/KvkRegistryDetails.tsx
  admin-portal/src/components/KvkReviewQueue.tsx
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/ReviewTasks.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/TierManagement.tsx
  admin-portal/src/components/__tests__/MantineDataTable.test.tsx
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/components/shared/DataTableConfig.ts
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/utils/dateFormat.ts
  admin-portal/update_datatable_props.py
  admin-portal/vite.config.ts
Due: .azure-pipelines/admin-portal.yml

chore(cleanup): fix Dashboard Recharts type and cleanup scripts
  IMPLEMENTATION_PLAN.md
  admin-portal/src/components/Dashboard.tsx
  admin-portal/update_datatable_props.py
Due: .azure-pipelines/admin-portal.yml

docs: cleanup implementation plan after accessibility work completion
  IMPLEMENTATION_PLAN.md
  docs/COMPLETED_ACTIONS.md
Due: none

refactor(orchestrator): replace Tailwind with Mantine in OrchestrationsPage
  orchestrator-portal/src/pages/OrchestrationsPage.tsx
Due: none

feat(env): add .env.example for booking-portal
  booking-portal/web/.env.example
Due: none

feat(env): add .env.example for orchestrator-portal
  orchestrator-portal/.env.example
Due: none

feat(env): add local.settings.json.example for api
  api/local.settings.json.example
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(security): implement SEC-RATE-001 and SEC-TYPE-001 - rate limiting logging and Content-Type validation
  api/src/middleware/contentTypeValidator.ts
  api/src/middleware/endpointWrapper.ts
  api/src/middleware/rateLimiter.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: portal, api
  .azure-pipelines/terraform.yml: any of: infrastructure
