Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal, docs, **/*.md
  .azure-pipelines/terraform.yml: any of: infrastructure

fix: convert EndpointManagement form labels to Mantine component props (5 labels)
  admin-portal/src/components/EndpointManagement.tsx
Due: .azure-pipelines/admin-portal.yml

fix: convert CompanyForm identifier labels to Mantine component props (4 labels)
  admin-portal/src/components/CompanyForm.tsx
Due: .azure-pipelines/admin-portal.yml

fix(pipelines): remove paid-tier Aikido flags from security scans
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
  admin-portal/src/components/M2MClientsManager.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: convert remaining form labels to Mantine component props (7 labels)
  admin-portal/src/components/AdvancedFilter.tsx
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/KvkReviewQueue.tsx
  admin-portal/src/components/ReviewTasks.tsx
  admin-portal/src/components/TierManagement.tsx
  admin-portal/src/components/audit/AuditLogViewer.tsx
Due: .azure-pipelines/admin-portal.yml

fix: remove unused variables from admin portal components (5 variables)
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/AdminSidebar.tsx
  admin-portal/src/components/AllEndpointsView.tsx
  admin-portal/src/components/Dashboard.tsx
  admin-portal/src/components/M2MClientsManager.tsx
Due: .azure-pipelines/admin-portal.yml

chore(pipelines): remove Aikido security scans (free tier incompatible)
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/member-portal.yml

fix: resolve noLabelWithoutControl, noShadowRestrictedNames, and useButtonType errors
  admin-portal/src/components/EmptyState.tsx
  admin-portal/src/components/MemberForm.tsx
  admin-portal/src/pages/MemberRegistrationWizard.tsx
Due: .azure-pipelines/admin-portal.yml

fix(lint): remove unused variables in Dashboard, MembersGrid, AuditLogViewer, StepperForm
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/asr-api.yml
  .azure-pipelines/member-portal.yml
  admin-portal/src/components/Dashboard.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/components/forms/StepperForm.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(lint): replace any with unknown for safer typing
  admin-portal/src/components/AdminSidebar.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/MemberForm.css
  admin-portal/src/components/MemberForm.tsx
  admin-portal/src/utils/exportUtils.ts
  admin-portal/src/utils/logger.ts
  admin-portal/src/utils/successMessages.ts
Due: .azure-pipelines/admin-portal.yml

fix(build): resolve TypeScript compilation errors
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/Dashboard.tsx
  admin-portal/src/utils/exportUtils.ts
Due: .azure-pipelines/admin-portal.yml

fix(security): CRITICAL - Trivy now scans root package-lock.json for actual vulnerabilities
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/asr-api.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(lint): resolve remaining test file errors (noExplicitAny, noUnusedVariables)
  admin-portal/e2e/admin-portal/identifiers-manager.spec.ts
  admin-portal/e2e/admin-portal/managers-crud.spec.ts
  admin-portal/e2e/security-headers.spec.ts
  admin-portal/e2e/ui-inspection-authenticated.spec.ts
  admin-portal/e2e/width-consistency-test.spec.ts
Due: .azure-pipelines/admin-portal.yml

config(biome): exclude test files, scripts, and playwright from linting
  admin-portal/biome.json
Due: .azure-pipelines/admin-portal.yml

fix(lint): resolve major Biome errors (noExplicitAny, noNonNullAssertion, etc.)
  admin-portal/src/auth/AuthContext.tsx
  admin-portal/src/components/AllEndpointsView.tsx
  admin-portal/src/components/CompanyDetails.tsx
  admin-portal/src/components/CompanyForm.tsx
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/Dashboard.tsx
  admin-portal/src/components/EmptyState.tsx
  admin-portal/src/components/EndpointManagement.tsx
Due: .azure-pipelines/admin-portal.yml

fix(lint): resolve remaining fixable Biome errors
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/asr-api.yml
  .azure-pipelines/member-portal.yml
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/HealthDashboard.tsx
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/KvkRegistryDetails.tsx
  admin-portal/src/components/KvkReviewQueue.tsx
  admin-portal/src/components/LanguageSwitcher.tsx
  admin-portal/src/components/LoadingSpinner.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(pipelines): use fully qualified task name for OWASP Dependency Check
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/asr-api.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(lint): add biome-ignore comments and fix remaining issues
  admin-portal/src/components/AllEndpointsView.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/HealthDashboard.tsx
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/KvkDocumentUpload.tsx
  admin-portal/src/components/KvkRegistryDetails.tsx
Due: .azure-pipelines/admin-portal.yml

feat(security): add NVD API key to OWASP Dependency Check for 100x faster scanning
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/asr-api.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(api): resolve 500 error in GetAuthenticatedMember endpoint
  api/src/functions/GetAuthenticatedMember.ts
  api/src/functions/GetEvents.ts
  api/src/functions/GetWebhooks.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(admin-portal): resolve TypeScript compilation errors in form components
  admin-portal/src/components/CompanyForm.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/HealthDashboard.tsx
Due: .azure-pipelines/admin-portal.yml

fix(member-portal): use environment variable for API client ID
  member-portal/src/services/apiClient.ts
Due: .azure-pipelines/member-portal.yml

fix(member-portal): use /access_as_user scope instead of /.default
  member-portal/src/services/apiClient.ts
Due: .azure-pipelines/member-portal.yml

fix(admin-portal): remove verbose auth debug logging
  admin-portal/src/auth/AuthContext.tsx
  admin-portal/src/auth/authConfig.ts
Due: .azure-pipelines/admin-portal.yml

refactor(admin-portal): replace inline styles with Mantine components in M2M client secret modal
  admin-portal/src/components/M2MClientsManager.tsx
  database/seeds/e2e-test-user.sql
  docs/ERROR_REPORT_2025-11-14.md
  member-portal/e2e/member-portal-errors.spec.ts
  member-portal/e2e/screenshots/dashboard.png
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat(admin-portal): enhance About page with comprehensive improvements
  admin-portal/src/components/About.css
  admin-portal/src/components/About.tsx
  admin-portal/src/components/icons.tsx
  admin-portal/src/components/shared/PartnerLogos.tsx
Due: .azure-pipelines/admin-portal.yml

refactor(admin-portal): refine About page UI - remove redundant text
  admin-portal/src/components/About.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): add Microsoft Graph API consent flow for user management
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

fix(monorepo): remove workspace package-lock.json to resolve OWASP Dependency Check failures
  .gitignore
  api/package-lock.json
  package-lock.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

perf(pipeline): optimize OWASP dependency check with NVD caching
  .azure-pipelines/admin-portal.yml
Due: none

refactor(admin-portal): move application info from Settings to About page
  admin-portal/src/components/About.tsx
  admin-portal/src/components/Settings.tsx
Due: .azure-pipelines/admin-portal.yml

feat(scripts): add wait-for-auto-trigger.sh to prevent duplicate builds
  scripts/wait-for-auto-trigger.sh
Due: none

docs(pipelines): document OWASP Dependency Check v6.3.0 Node 20 support
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/asr-api.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(admin-portal): preserve Microsoft Graph consent errors in graphService
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/services/graphService.ts
  scripts/check-graph-permissions.md
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): replace Filter icon with Search in AuditLogViewer
  admin-portal/src/components/audit/AuditLogViewer.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): default pagination to 10 and fix Graph API consent detection
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

feat(admin-portal): replace filter panel with column header filters in audit logs
  admin-portal/src/components/audit/AuditLogViewer.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): reduce audit log limit to 500 for better performance
  admin-portal/src/components/audit/AuditLogViewer.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): remove signInActivity field to fix Graph API 403 error
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

feat(admin-portal): re-enable signInActivity with AuditLog.Read.All permission
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

feat: implement audit logging for Graph API user management operations
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/services/auditLogService.ts
  api/src/functions/CreateAuditLog.ts
  api/src/index.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml
