Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/playwright-tests.yml, .azure-pipelines/terraform.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, .azure-pipelines/admin-portal.yml, but not: api, member-portal, docs, **/*.md
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, docs, **/*.md
  .azure-pipelines/playwright-tests.yml: any of: admin-portal/e2e, member-portal/e2e, tests/*.setup.ts, playwright.config.ts
  .azure-pipelines/terraform.yml: any of: infrastructure

feat(ci): integrate unit tests into admin and member portal pipelines
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
  admin-portal/package.json
  admin-portal/vitest.config.ts
  docs/UNIT_TEST_PIPELINE_INTEGRATION.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat(admin-portal): implement custom error classes for type-safe error handling
  admin-portal/docs/TASK-CR-008-TYPE-SAFETY-SUMMARY.md
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/services/graphService.ts
  admin-portal/src/types/errors.ts
Due: .azure-pipelines/admin-portal.yml

feat(admin-portal): migrate badge colors to Mantine theme for dark mode support
  admin-portal/src/components/users/UserManagement.css
Due: .azure-pipelines/admin-portal.yml

feat(admin-portal): implement structured logging with correlation IDs
  admin-portal/docs/LOGGING_GUIDE.md
  admin-portal/docs/TASK-CR-010-SUMMARY.md
  admin-portal/src/services/graphService.example.ts
  admin-portal/src/utils/logger.ts
Due: .azure-pipelines/admin-portal.yml

feat(admin-portal): add confirmation dialogs for destructive user actions
  admin-portal/USER_MANAGEMENT_CONFIRMATIONS_PATCH.md
  admin-portal/src/components/common/ConfirmDialog.tsx
  admin-portal/src/locales/de/translation.json
  admin-portal/src/locales/en/translation.json
  admin-portal/src/locales/nl/translation.json
Due: .azure-pipelines/admin-portal.yml

security(portals): add COOP and CORP headers for defense-in-depth
  admin-portal/public/staticwebapp.config.json
  docs/security/SEC-009-COOP-CORP-Implementation.md
  member-portal/public/staticwebapp.config.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat(admin-portal): add CSV and Excel export options to audit log viewer
  admin-portal/package.json
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/components/icons.tsx
  admin-portal/src/locales/en/translation.json
  admin-portal/src/utils/export.ts
  package-lock.json
Due: .azure-pipelines/admin-portal.yml

docs(devops): add DORA metrics dashboard setup guide
  docs/devops/DORA_METRICS_DASHBOARD.md
  docs/devops/DORA_METRICS_QUICK_REFERENCE.md
  scripts/calculate-mttr.sh
  scripts/generate-dora-report.sh
Due: none

security(api): implement comprehensive error message sanitization (SEC-006)
  api/src/functions/EndpointRegistrationWorkflow.ts
  api/src/functions/EventGridHandler.ts
  api/src/functions/createTask.ts
  api/src/functions/getKvkRegistryData.ts
  api/src/functions/getTasks.ts
  api/src/functions/updateTask.ts
  api/src/utils/errors.ts
  docs/SECURITY_ERROR_SANITIZATION.md
Due: .azure-pipelines/asr-api.yml

feat(portals): add keyboard shortcuts for frequent actions
  .azure-pipelines/asr-api.yml
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/common/KeyboardShortcutsHelp.tsx
  admin-portal/src/hooks/useGlobalShortcuts.ts
  admin-portal/src/locales/de/translation.json
  admin-portal/src/locales/en/translation.json
  admin-portal/src/locales/nl/translation.json
  docs/devops/AZURE_FUNCTIONS_DEPLOYMENT_SLOTS.md
  docs/devops/DEPLOYMENT_SLOTS_QUICK_REFERENCE.md
  member-portal/src/App.tsx
  member-portal/src/components/shared/KeyboardShortcutsHelp.tsx
  member-portal/src/hooks/useGlobalShortcuts.ts
  member-portal/src/locales/de/translation.json
  member-portal/src/locales/en/translation.json
  member-portal/src/locales/nl/translation.json
  scripts/manage-deployment-slots.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

refactor(admin-portal): split monolithic apiV2 service into focused modules
  admin-portal/src/components/AllEndpointsView.tsx
  admin-portal/src/components/CompanyForm.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/HealthDashboard.tsx
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/KvkRegistryDetails.tsx
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/TierManagement.tsx
  admin-portal/src/components/identifiers/IdentifierDialogs.tsx
  admin-portal/src/components/identifiers/IdentifiersTable.tsx
  admin-portal/src/components/member/MemberDetailSections.tsx
  admin-portal/src/hooks/useBulkActions.ts
  admin-portal/src/hooks/useIdentifiers.ts
  admin-portal/src/hooks/useMemberDetails.ts
  admin-portal/src/hooks/useReviewTasks.ts
  admin-portal/src/hooks/useTaskDialogs.ts
  admin-portal/src/hooks/useTaskManagement.ts
  admin-portal/src/services/api/applications.ts
  admin-portal/src/services/api/client.ts
  admin-portal/src/services/api/contacts.ts
  admin-portal/src/services/api/endpoints.ts
  admin-portal/src/services/api/health.ts
  admin-portal/src/services/api/identifiers.ts
  admin-portal/src/services/api/index.ts
  admin-portal/src/services/api/legalEntities.ts
  admin-portal/src/services/api/m2mClients.ts
  admin-portal/src/services/api/members.ts
  admin-portal/src/services/api/tasks.ts
  admin-portal/src/services/api/tier.ts
  admin-portal/src/services/api/types.ts
  admin-portal/src/services/api/verification.ts
Due: .azure-pipelines/admin-portal.yml

feat(devops): implement automated rollback mechanism for all deployments
  .azure-pipelines/asr-api.yml
  docs/devops/AUTOMATED_ROLLBACK.md
  scripts/deployment-history.sh
  scripts/rollback-deployment.sh
Due: .azure-pipelines/asr-api.yml

feat(devops): implement Static Web Apps deployment slots for zero-downtime deployments
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
  docs/devops/EMERGENCY_ROLLBACK_RUNBOOK.md
  docs/devops/ROLLBACK_QUICK_REFERENCE.md
  docs/devops/STATIC_WEB_APPS_DEPLOYMENT_SLOTS.md
  docs/devops/TASK-DG-ROLLBACK-001-SUMMARY.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

security(api): implement rate limiter circuit breaker with Redis backend
  api/package.json
  api/src/config/constants.ts
  api/src/functions/GetAuditLogPII.ts
  api/src/middleware/rateLimiter.ts
  api/src/utils/__tests__/circuitBreaker.test.ts
  api/src/utils/circuitBreaker.ts
  api/src/utils/redisClient.ts
  docs/SEC-007-CIRCUIT-BREAKER-IMPLEMENTATION.md
  package-lock.json
Due: .azure-pipelines/asr-api.yml

security(api): implement PII pseudonymization and retention policy for audit logs (GDPR compliance)
  SECURITY_REVIEW_REPORT_TASK_SEC_008.md
  admin-portal/src/services/api.ts
  admin-portal/src/services/apiV2.ts
  admin-portal/src/services/graphService.ts
  api/src/essential-index.ts
  api/src/functions/GetAuditLogs.ts
  api/src/index.ts
  api/src/middleware/auditLog.ts
  api/src/utils/pseudonymization.test.ts
  api/src/utils/pseudonymization.ts
  database/migrations/036_audit_log_pseudonymization.sql
  docs/security/AUDIT_LOG_PII_PROTECTION.md
  scripts/purge-audit-logs.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(pipelines): change --build remote to --build local for Azure Functions deployment
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(security): add Trivy vulnerability suppressions for false positives
  .trivyignore
Due: none

chore: bump versions to force pipeline execution
  admin-portal/package.json
  api/package.json
  member-portal/package.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(pipelines): make admin portal unit tests non-blocking temporarily
  .azure-pipelines/admin-portal.yml
Due: .azure-pipelines/admin-portal.yml

fix(pipelines): deploy API directly to production (skip staging slot)
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(pipelines): use Azure CLI zip deployment instead of func CLI
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

perf(pipelines): temporarily disable OWASP Dependency Check to speed up builds
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(pipelines): properly configure OWASP with NVD API key and caching
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(pipelines): make production health check non-blocking
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(api): configure CORS for all portal origins with credentials support
  .azure-pipelines/asr-api.yml
  api/host.json
Due: .azure-pipelines/asr-api.yml

fix(deployment): include all required files in deployment package
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

chore(admin-portal): bump version to 0.1.6 to trigger build
  admin-portal/package.json
Due: .azure-pipelines/admin-portal.yml

fix(pipelines): temporarily disable OWASP due to database errors
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(pipelines): disable OWASP in admin portal pipeline
  .azure-pipelines/admin-portal.yml
Due: .azure-pipelines/admin-portal.yml

fix(pipelines): disable API health checks to unblock portal deployments
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix(admin-portal): disable test failure blocking
  .azure-pipelines/admin-portal.yml
Due: .azure-pipelines/admin-portal.yml

fix(devops): use 'az functionapp deploy' to fix Key Vault connection string issue
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(devops): use 'func azure functionapp publish' for API deployment
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(devops): use '--build local' for func publish (remote build not supported)
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(devops): add --javascript flag to func publish command
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(devops): use AzureFunctionApp@2 task for deployment
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

docs: add task completion reports and pipeline documentation
  .azure-pipelines/admin-portal.yml.new
  .azure-pipelines/asr-api.yml.new
  .azure-pipelines/member-portal.yml.new
  docs/BUILD_FAILURE_SUMMARY_2025-11-16.md
  docs/DEVOPS_PIPELINE_REVIEW_2025-11-16.md
  docs/PIPELINE_FAILURE_ANALYSIS_2025-11-16.md
  docs/PRE_COMMIT_HOOK_GUIDE.md
  docs/PRE_COMMIT_HOOK_QUICK_REFERENCE.md
  docs/SECURITY_FIX_SQL_WILDCARD_ESCAPING.md
  docs/TASK-CR-003-REFACTORING-REPORT.md
  docs/TASK-CR-009-PERFORMANCE-OPTIMIZATION-REPORT.md
  docs/TASK-DG-MONITOR-001-DORA-METRICS-SUMMARY.md
  docs/TASK-DG-SEC-001-OWASP-BLOCKING-IMPLEMENTATION.md
  docs/devops/TASK-DG-DEPLOY-001-SUMMARY.md
Due: none

fix(devops): disable Oryx remote build for function app deployment
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(devops): use az webapp deployment with remote build disabled
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(devops): flatten deployment package structure for Azure Functions
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml
