Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/playwright-tests.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/api-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: APITests
    displayName: Run API Tests
    jobs:
    - job: RunTests
      displayName: Execute API Test Suite
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/container-app-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and Push
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      steps:
      - task: AzureCLI@2
        displayName: Build and Push Docker image
        inputs:
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/playwright-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Test
    displayName: E2E Testing
    jobs:
    - job: PlaywrightTests
      displayName: Run Playwright Tests
      timeoutInMinutes: 30
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

fix(api): properly encode blob name in SAS URL generation
  api/src/services/blobStorageService.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

chore: clean up root folder - remove 32 files
  AUTOMATIC_VERIFICATION_IMPLEMENTATION.md
  MEDIUM_SEVERITY_FIXES_2025-11-14.md
  MIGRATION_GAPS_AUDIT.md
  POST_DEPLOYMENT_VERIFICATION.md
  SECURITY_FIXES_2025-11-14.md
  SECURITY_REVIEW_REPORT_TASK_SEC_008.md
  SECURITY_SESSION_SUMMARY_2025-11-14.md
  WARP.md
  check-db.sh
  check-dnc-status.sh
  check-full-entity.sh
  check-lk-details.sh
  check-lk-holding.sh
  check-lk-kvk-verif.sh
  check-lk-member.sh
  check-lk-verification.sh
  check-members-table.sh
  check-verification-history.sh
  check-verifications.sh
  count-missing-members.sh
  create-lk-member.sh
  find-denoronha.sh
  find-docs-in-db.sh
  find-entities-with-docs.sh
  fix-lk-holding.sql
  fix-missing-members.sh
  search-legal-entities.sh
  task-manager.md
  test-lk-verification.sh
  test-members.sh
  trigger-lk-verification.sh
  upload-dnc-kvk-document.sh
Due: none

feat: add Peppol Directory integration for legal entity enrichment
  admin-portal/src/components/PeppolRegistryDetails.css
  admin-portal/src/components/PeppolRegistryDetails.tsx
  admin-portal/src/hooks/useIdentifiers.ts
  admin-portal/src/services/api/index.ts
  admin-portal/src/services/api/legalEntities.ts
  admin-portal/src/services/api/types.ts
  api/src/routes.ts
  api/src/services/peppolService.ts
  database/migrations/033_peppol_registry_data.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

docs: add Claude Desktop & Desktop Commander section to CLAUDE.md
  CLAUDE.md
Due: none

chore: consolidate 033 migration and fix GRANT for missing role
  database/migrations/033_peppol_registry_data.sql
Due: none

chore: remove historical database investigation reports
  .vscode/settings.json
  database/AUDIT_TABLES_FIX_SUMMARY.md
  database/AUDIT_TABLES_INVESTIGATION_REPORT.md
  database/DATABASE_CONSTRAINT_REVIEW_2025-11-14.md
Due: none

refactor: migrate CR and DA agents to skills
  .claude/agents/code-reviewer-cr.md
  .claude/agents/design-analyst-da.md
  .claude/skills/frontend-design/SKILL.md
  .claude/skills/typescript-review/SKILL.md
Due: none

feat: upgrade to React 19 and Mantine 8.3.10
  .claude/settings.json
  .claude/skills/frontend-design/SKILL.md
  admin-portal/package.json
  member-portal/package.json
  package-lock.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: correct KvK registry API endpoint path
  admin-portal/src/services/api/legalEntities.ts
Due: .azure-pipelines/admin-portal.yml

feat: add LEI Registry tab to display GLEIF data
  admin-portal/src/components/LeiRegistryDetails.css
  admin-portal/src/components/LeiRegistryDetails.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/member/MemberDetailSections.tsx
  admin-portal/src/hooks/useMemberDetails.ts
  admin-portal/src/services/api/index.ts
  admin-portal/src/services/api/legalEntities.ts
  api/src/routes.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix: correct gleif_registry_data column names in LEI endpoint
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: VIES registry integration and admin portal improvements
  .gitignore
  admin-portal/src/components/identifiers/IdentifierDialogs.tsx
  admin-portal/src/hooks/useIdentifiers.ts
  api/src/routes.ts
  api/src/services/kvkService.ts
  api/src/services/viesService.ts
  api/src/utils/validators.ts
  database/migrations/034_expand_kvk_registry_data.sql
  database/migrations/035_add_rsin_peppol_identifier_types.sql
  database/migrations/036_create_identifier_type_lookup.sql
  database/migrations/037_drop_backup_tables.sql
  database/migrations/038_vies_registry_data.sql
  scripts/onboard-dhl-freight.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: add Peppol and VIES registry tabs to admin portal
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/ViesRegistryDetails.css
  admin-portal/src/components/ViesRegistryDetails.tsx
  admin-portal/src/components/member/MemberDetailSections.tsx
  admin-portal/src/hooks/useMemberDetails.ts
  admin-portal/src/services/api/index.ts
  admin-portal/src/services/api/legalEntities.ts
  api/src/routes.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix: admin portal registry tabs and identifier display
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/KvkRegistryDetails.tsx
  api/src/routes.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: unified Enrich button fetches from Peppol and VIES registries
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/hooks/useIdentifiers.ts
  admin-portal/src/services/api/types.ts
Due: .azure-pipelines/admin-portal.yml

fix: DataTable row selection selecting all rows
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

feat: implement cascade soft-delete for members
  admin-portal/src/components/MembersGrid.tsx
  api/src/routes.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

refactor: drop redundant company_registries table and view
  CLAUDE.md
  api/tests/integration/README.md
  api/tests/integration/schema-contract-tests.js
  database/migrations/039_drop_redundant_registry_tables.sql
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

chore: regenerate schema dump after migration 039
  database/asr_dev.sql
  database/schema_indexes.csv
Due: none

chore: drop unused tables (vetting_records, oauth_clients, audit_log_pii_access)
  CLAUDE.md
  database/asr_dev.sql
  database/migrations/040_drop_unused_tables.sql
  database/schema_indexes.csv
Due: none

refactor: drop unused BDI and audit tables, remove pseudonymization
  CLAUDE.md
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/services/api/endpoints.ts
  admin-portal/src/services/api/index.ts
  admin-portal/src/services/api/types.ts
  api/src/middleware/auditLog.ts
  api/src/routes.ts
  api/src/utils/pseudonymization.ts
  database/asr_dev.sql
  database/migrations/041_drop_unused_bdi_tables.sql
  database/migrations/042_drop_bdi_audit_tables.sql
  database/schema_indexes.csv
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

refactor: rename database views to use vw_ prefix (migration 043)
  CLAUDE.md
  admin-portal/src/services/api/types.ts
  api/src/routes.ts
  database/asr_dev.sql
  database/migrations/043_rename_views_vw_prefix.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

refactor: drop unused vw_legal_entity_full view (migration 044)
  CLAUDE.md
  admin-portal/src/services/api/index.ts
  admin-portal/src/services/api/members.ts
  api/src/routes.ts
  database/asr_dev.sql
  database/migrations/044_drop_vw_legal_entity_full.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: drop members table, simplify schema (KISS principle)
  CLAUDE.md
  TASK_MANAGER.md
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/members/MembersGridColumns.tsx
  api/src/middleware/auth.ts
  api/src/routes.ts
  database/asr_dev.sql
  database/migrations/045_drop_members_table_simplify.sql
  packages/api-client/dist/types.d.ts
  packages/api-client/dist/types.d.ts.map
  packages/api-client/src/types.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

chore: regenerate schema dump with pg_dump 15
  database/asr_dev.sql
Due: none

fix: update schema contract tests for new schema
  TASK_MANAGER.md
  api/tests/integration/schema-contract-tests.js
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: admin portal UI improvements and contact type rename
  admin-portal/src/App.css
  admin-portal/src/components/CompanyDetails.tsx
  admin-portal/src/components/CompanyForm.tsx
  admin-portal/src/components/ContactForm.tsx
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/IdentifiersManager.css
  admin-portal/src/components/KvkDocumentUpload.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/kvk/KvkDocumentDropzone.tsx
  admin-portal/src/components/kvk/KvkVerificationDisplay.tsx
  admin-portal/src/components/members/MembersGridColumns.tsx
  admin-portal/src/services/api/types.ts
  admin-portal/src/utils/colors.ts
  api/src/routes.ts
  database/migrations/046_rename_primary_to_authorized_rep.sql
  packages/api-client/dist/types.d.ts
  packages/api-client/dist/types.d.ts.map
  packages/api-client/src/types.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: add unified enrichment endpoint for RSIN, VAT, LEI, Peppol
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/hooks/useIdentifiers.ts
  api/src/routes.ts
  database/migrations/046_rename_primary_to_authorized_rep.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix: reset column storage key to show Legal Entity ID as first column
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

fix: align checkbox and label in column selector dropdown
  admin-portal/src/components/MembersGrid.css
Due: .azure-pipelines/admin-portal.yml

fix: bulk delete now uses actual soft delete endpoint
  admin-portal/src/hooks/useBulkActions.ts
Due: .azure-pipelines/admin-portal.yml

fix: update identifier endpoint now handles all fields
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: enrich endpoint now updates legal_entity with KVK data
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix: remove identifier_verification_history soft-delete from delete endpoint
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix: unique identifier constraint now excludes soft-deleted records
  admin-portal/src/utils/errorHandler.ts
  api/src/routes.ts
  database/migrations/047_fix_unique_identifier_constraint.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: improve enrichment notification messages with detailed reasons
  admin-portal/src/hooks/useIdentifiers.ts
Due: .azure-pipelines/admin-portal.yml

fix: use partial index syntax for VIES ON CONFLICT clause
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: auto-refresh after enrichment and store KVK registry data
  admin-portal/src/components/CompanyDetails.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/hooks/useMemberDetails.ts
  api/src/routes.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, .azure-pipelines/admin-portal.yml, but not: api, member-portal, docs, **/*.md
  .azure-pipelines/api-tests.yml: any of: api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/container-app-api.yml: any of: api, infrastructure/container-app.bicep, .azure-pipelines/container-app-api.yml
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, docs, **/*.md
  .azure-pipelines/playwright-tests.yml: any of: admin-portal/e2e, member-portal/e2e, tests/*.setup.ts, playwright.config.ts
  .azure-pipelines/terraform.yml: any of: infrastructure
