Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-ADMIN
      RunAsPreJob: true
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-MEMBER
      RunAsPreJob: true
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

feat(member-portal): complete API client migration for all components
  member-portal/src/components/DnsVerificationView.tsx
  member-portal/src/components/M2MClientsView.tsx
  packages/api-client/src/endpoints/member.ts
Due: .azure-pipelines/member-portal.yml

feat(admin-portal): complete API client migration for remaining components
  admin-portal/src/components/HealthDashboard.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/services/apiV2.ts
Due: .azure-pipelines/admin-portal.yml

feat(ui): standardize loading states with Mantine LoadingOverlay
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/shared/LoadingState.tsx
  member-portal/src/components/shared/LoadingState.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat(ui): migrate 4 components to LoadingState wrapper (batch 2)
  admin-portal/src/components/TasksGrid.tsx
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/EndpointsView.tsx
  member-portal/src/components/TokensView.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

chore: remove obsolete maintenance scripts
  scripts/find-missing-commits.sh
  scripts/review.sh
  scripts/verify-fix-2025-10-30.sh
Due: none

feat(code-review): add Building Maintainable Software principles
  .claude/agents/code-reviewer-cr.md
Due: none

refactor(member-portal): standardize loading states (batch 3)
  member-portal/src/components/ContactsView.tsx
  member-portal/src/components/DnsVerificationView.tsx
  member-portal/src/components/M2MClientsView.tsx
Due: .azure-pipelines/member-portal.yml

fix(database): correct column name in migration 028 performance indexes
  database/migrations/028_add_performance_indexes.sql
Due: none

docs: update MCP_SERVER_MAPPING.md with current architecture
  .claude/MCP_SERVER_MAPPING.md
Due: none

refactor(admin-portal): standardize loading states (batch 4)
  admin-portal/src/components/AllEndpointsView.tsx
  admin-portal/src/components/MemberDetailView.tsx
Due: .azure-pipelines/admin-portal.yml

refactor(admin-portal): standardize loading states (batch 5)
  admin-portal/src/components/KvkReviewQueue.tsx
  admin-portal/src/components/ReviewTasks.tsx
  admin-portal/src/components/TierManagement.tsx
Due: .azure-pipelines/admin-portal.yml

refactor: remove orchestration-specific code after portal extraction
  .vscode/extensions.json
  .vscode/settings.json
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/config/helpContent.ts
  api/src/essential-index.ts
  api/src/functions/GetOrchestrationDetails.ts
  api/src/functions/GetOrchestrations.ts
  api/src/index.ts
  api/src/middleware/rbac.ts
  database/schema/AUDIT_SUMMARY.md
  member-portal/src/components/M2MClientsView.tsx
  packages/api-client/src/client.ts
  packages/api-client/src/endpoints/orchestrations.ts
  packages/api-client/src/index.ts
  packages/api-client/src/types.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

refactor(admin-portal): standardize loading states (batch 6)
  admin-portal/src/components/About.tsx
  admin-portal/src/components/KvkDocumentUpload.tsx
  admin-portal/src/components/KvkRegistryDetails.tsx
Due: .azure-pipelines/admin-portal.yml

refactor(admin-portal): standardize loading states (batch 7)
  admin-portal/src/components/HealthDashboard.tsx
  admin-portal/src/components/users/UserManagement.tsx
Due: .azure-pipelines/admin-portal.yml

chore: spring cleaning - remove obsolete tests, configs, and scripts
  admin-portal/.env.production.template
  admin-portal/.env.template
  admin-portal/e2e/admin-portal.spec.ts
  admin-portal/e2e/admin-portal/bug-investigation-identifier-404.spec.ts
  admin-portal/e2e/critical-flows.spec.ts
  admin-portal/e2e/debug-identifier-500.spec.ts
  admin-portal/e2e/quick-test.spec.ts
  admin-portal/e2e/ui-inspection-oct-26-2025.spec.ts
  admin-portal/e2e/urgent-production-diagnostic.spec.ts
  admin-portal/install-notifications.sh
  api/tests/API_TEST_REPORT_2025-11-06.md
  api/tests/COMPREHENSIVE_TEST_REPORT_2025-11-06.md
  api/tests/COMPREHENSIVE_TEST_REPORT_2025-11-06_08-04-17.md
  api/tests/EXECUTIVE_SUMMARY_2025-11-06.md
  member-portal/.env.production.template
  member-portal/playwright.config.ts
  member-portal/web/e2e/README.md
  member-portal/web/e2e/member-portal.spec.ts
  member-portal/web/e2e/vite-migration/admin-portal.spec.ts
  member-portal/web/e2e/vite-migration/member-portal.spec.ts
  verify-migration-027.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

docs: update TASK_MANAGER.md with Phase 3.0 LoadingState completion
  TASK_MANAGER.md
Due: none

feat: streamline TASK_MANAGER.md and add automation
  TASK_MANAGER.md
  scripts/README-TASK-MANAGER.md
  scripts/update-task-manager.sh
Due: none

test: verify post-commit hook updates TASK_MANAGER.md
  .test
Due: none

chore: remove test file
  .test
Due: none

chore: remove deployment trigger hacks and build artifacts
  admin-portal/.pipeline-test
  admin-portal/ADMIN_DEPLOYMENT_TRIGGER.txt
  api/DEPLOYMENT_TRIGGER.txt
  api/ctn-asr-api@1.0.0
  api/tsc
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

docs: clean up TASK_MANAGER.md - mark duplicate legal_entity tasks complete
  TASK_MANAGER.md
Due: none

docs: remove all completed tasks from TASK_MANAGER.md
  TASK_MANAGER.md
Due: none

feat(database): complete constraint review and add optional enhancements
  TASK_MANAGER.md
  database/DATABASE_CONSTRAINT_REVIEW_2025-11-14.md
  database/migrations/030_optional_enum_constraints.sql
  database/migrations/031_optional_cleanup_indexes.sql
Due: none

security: fix high-severity vulnerabilities from Aikido scan
  SECURITY_FIXES_2025-11-14.md
  admin-portal/package.json
  api/package.json
  api/src/services/bdiJwtService.ts
  api/src/services/emailTemplateService.ts
  api/src/templates/emails/layouts/base.hbs
  infrastructure/modules/key-vault.bicep
  package-lock.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/terraform.yml

fix(api-client): add missing member endpoint files to fix member portal build
  packages/api-client/dist/endpoints/member.d.ts
  packages/api-client/dist/endpoints/member.d.ts.map
  packages/api-client/dist/endpoints/member.js
Due: none

docs: add build failure post-mortem and improve post-commit hook
  docs/LESSONS_LEARNED_BUILD_FAILURE_2025-11-14.md
Due: none

refactor(gitignore): track api-client dist files to prevent build failures
  .gitignore
  packages/api-client/dist/test-axios-import.d.ts
  packages/api-client/dist/test-axios-import.d.ts.map
  packages/api-client/dist/test-axios-import.js
Due: none

security: address medium-severity vulnerabilities and document findings
  MEDIUM_SEVERITY_FIXES_2025-11-14.md
  POST_DEPLOYMENT_VERIFICATION.md
  package-lock.json
  package.json
Due: none

chore(member-portal): bump version to trigger pipeline after dist fix
  member-portal/package.json
Due: .azure-pipelines/member-portal.yml

fix(pipelines): resolve Aikido scan failures with proper git history
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/member-portal.yml

docs: add comprehensive security session summary
  SECURITY_SESSION_SUMMARY_2025-11-14.md
Due: none

fix(admin-portal): resolve critical code quality issues
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/MemberForm.css
Due: .azure-pipelines/admin-portal.yml

refactor(member-portal): improve accessibility and remove unused code
  member-portal/src/App.tsx
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/DnsVerificationView.tsx
  member-portal/src/components/M2MClientsView.tsx
  member-portal/src/components/TokensView.tsx
Due: .azure-pipelines/member-portal.yml

refactor(member-portal): fix invalid anchor tags and remove unused vars
  member-portal/src/components/ProfileView.tsx
  member-portal/src/components/Support.tsx
Due: .azure-pipelines/member-portal.yml

fix(member-portal): correct API request types in ContactsView
  TASK_MANAGER.md
  docs/KEY_VAULT_MIGRATION_2025-11-14.md
  member-portal/src/components/ContactsView.tsx
Due: .azure-pipelines/member-portal.yml

refactor(member-portal): auto-fix format and remove unused code
  member-portal/src/components/ContactsView.tsx
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/DnsVerificationView.tsx
  member-portal/src/components/EndpointRegistrationWizard.tsx
  member-portal/src/components/M2MClientsView.tsx
Due: .azure-pipelines/member-portal.yml

fix: convert TasksGrid form labels to Mantine component props (12 labels)
  admin-portal/src/components/TasksGrid.tsx
Due: .azure-pipelines/admin-portal.yml

fix: convert display labels to strong elements in detail views (18 labels)
  admin-portal/src/components/MemberDetailDialog.tsx
  admin-portal/src/components/MemberDetailView.tsx
Due: .azure-pipelines/admin-portal.yml

fix: convert IdentifiersManager form labels to Mantine component props (7 labels)
  admin-portal/src/components/IdentifiersManager.tsx
Due: .azure-pipelines/admin-portal.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal, docs, **/*.md
  .azure-pipelines/terraform.yml: any of: infrastructure
