Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: portal, api
  .azure-pipelines/terraform.yml: any of: infrastructure

docs(admin-portal): Add implementation plan for 404 fixes and agent analysis
  admin-portal/IMPLEMENTATION_PLAN.md
Due: .azure-pipelines/admin-portal.yml

fix: Regenerate package-lock.json after workspace rename
  package-lock.json
Due: none

fix: Remove Portbase logo from login page
  admin-portal/src/components/auth/LoginPage.tsx
Due: .azure-pipelines/admin-portal.yml

docs: Add comprehensive agent analysis reports for admin portal
  admin-portal/CODE_REVIEW.md
  admin-portal/DESIGN_ANALYSIS.md
  admin-portal/SECURITY_ANALYSIS.md
Due: .azure-pipelines/admin-portal.yml

docs: Update roadmap and documentation for admin portal completion
  CLAUDE.md
  admin-portal/IMPLEMENTATION_PLAN_ROOT.md
  api/deploy-api.sh
  api/deploy-member-portal-fix.zip
  api/tests/ADMIN_PORTAL_404_INVESTIGATION_REPORT.md
  api/tests/admin-portal-404-investigation.sh
  docs/ADMIN_PORTAL_404_FIX.md
  docs/COMPLETED_ACTIONS.md
  docs/DEPLOYMENT_CHECKLIST.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: Improve member detail grid layout with constrained width and sticky actions
  admin-portal/src/components/MemberDetailView.css
Due: .azure-pipelines/admin-portal.yml

fix: Apply max-width and responsive styling to all grid managers
  admin-portal/src/components/ContactsManager.css
  admin-portal/src/components/EndpointManagement.css
  admin-portal/src/components/IdentifiersManager.css
  admin-portal/src/components/TokensManager.css
Due: .azure-pipelines/admin-portal.yml

fix: Add authentication to endpoint management API calls
  admin-portal/src/components/EndpointManagement.tsx
Due: .azure-pipelines/admin-portal.yml

docs: Update COMPLETED_ACTIONS.md with October 25 improvements
  docs/COMPLETED_ACTIONS.md
Due: none

fix: Use workspace syntax for npm build in pipeline
  .azure-pipelines/admin-portal.yml
Due: none

fix(pipeline): Fix admin-portal workspace name and vite paths
  .azure-pipelines/admin-portal.yml
  admin-portal/package.json
  admin-portal/vite.config.ts
  docs/PIPELINE_ERRORS_PREVENTION.md
  package-lock.json
Due: .azure-pipelines/admin-portal.yml

docs: Add Lesson #31 - API deployment verification
  .azure-pipelines/admin-portal.yml
  CLAUDE.md
Due: none

feat: Add M2M app roles to Azure AD
  IMPLEMENTATION_PLAN.md
  api/scripts/create-m2m-app-roles.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Create test M2M client app registration
  api/scripts/create-test-m2m-client.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Implement M2M token validation middleware
  api/src/middleware/auth.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Add M2M-enabled API endpoints with scope enforcement
  api/src/functions/GetContainerStatus.ts
  api/src/functions/GetETAUpdates.ts
  api/src/functions/ManageBookings.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Add comprehensive M2M authentication test suite
  api/tests/test-m2m-auth.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: Register M2M endpoints in index.ts
  api/src/index.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

docs: Add M2M authentication completion summary
  docs/M2M_AUTHENTICATION_COMPLETE.md
Due: none

docs: Remove IMPLEMENTATION_PLAN.md (work complete)
  IMPLEMENTATION_PLAN.md
Due: none

feat: Add M2M client management database schema - Stage 1
  database/migrations/012-create-m2m-clients.sql
Due: none

feat: Add M2M client management API endpoints - Stage 2
  IMPLEMENTATION_PLAN.md
  api/src/functions/ManageM2MClients.ts
  api/src/index.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Add M2M client management UI to admin portal - Stage 3
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/MemberDetailView.tsx
  api/scripts/create-dummy-m2m-clients.sh
  docs/COMPLETED_ACTIONS.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

refactor: Consolidate API access into single tab with clear sections
  admin-portal/src/components/APIAccessManager.tsx
  admin-portal/src/components/MemberDetailView.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Register M2M client management endpoints in essential-index.ts
  api/src/essential-index.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

docs: Update documentation and repository structure for M2M feature
  admin-portal/src/components/TokensManager.tsx
  docs/COMPLETED_ACTIONS.md
  docs/M2M_IMPLEMENTATION_PLAN.md
Due: .azure-pipelines/admin-portal.yml

feat: Add M2M authentication to member-portal and complete OpenAPI docs
  api/src/openapi.json
  member-portal/src/App.tsx
  member-portal/src/components/APIAccessView.tsx
  member-portal/src/components/M2MClientsView.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

docs: Add M2M test suite and implementation guide
  api/tests/BUG_M2M_NOT_DEPLOYED.md
  api/tests/M2M_AUTHENTICATION_TEST_REPORT.md
  api/tests/M2M_TESTING_QUICKSTART.md
  api/tests/M2M_TEST_SUMMARY.md
  api/tests/debug-members-dashboard.sh
  api/tests/get-token-and-test-members.js
  api/tests/m2m-clients-crud-test.sh
  api/tests/m2m-endpoints-smoke-test.sh
  api/tests/test-members-manual.sh
  api/tests/test-members-with-saved-auth.js
  docs/M2M_IMPLEMENTATION_GUIDE.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

refactor: Remove legacy API Tokens functionality
  admin-portal/src/components/APIAccessManager.tsx
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/TokensManager.tsx
  admin-portal/src/config/helpContent.ts
  admin-portal/src/services/api.ts
  admin-portal/src/services/apiV2.ts
Due: .azure-pipelines/admin-portal.yml

fix: Switch member portal to redirect authentication with proper callback handling
  member-portal/src/App.tsx
  member-portal/src/index.tsx
Due: none

fix: Configure Vite to properly expose environment variables at build time
  member-portal/vite.config.ts
Due: none

fix: Add error display UI to member portal
  member-portal/src/App.tsx
Due: none

Remove Portbase logo from all portal footers
  admin-portal/src/components/About.tsx
  admin-portal/src/components/Dashboard.tsx
  member-portal/src/App.tsx
Due: .azure-pipelines/admin-portal.yml

refactor: Separate ASR API pipeline from portal pipelines
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/asr-api.yml
  .azure-pipelines/member-portal.yml
Due: none

docs: Document new ASR API pipeline architecture
  CLAUDE.md
Due: none

fix: Correct ASR API pipeline deployment package path
  .azure-pipelines/asr-api.yml
  CLAUDE.md
Due: none

fix: Enable remote build for ASR API deployment per Lesson #24
  .azure-pipelines/asr-api.yml
Due: none

fix: Use Azure Functions Core Tools CLI for deployment
  .azure-pipelines/asr-api.yml
Due: none

fix: Add authentication for portal pipeline triggers
  .azure-pipelines/asr-api.yml
Due: none
