Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

fix(admin-portal): add UUID validation to prevent OData filter injection (TASK-CR-001)
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

docs: update task-manager.md - TASK-CR-001 completed
  task-manager.md
Due: none

feat(admin-portal): add empty state to User Management (TASK-DA-001)
  admin-portal/src/components/users/UserManagement.tsx
Due: .azure-pipelines/admin-portal.yml

docs: update task-manager.md - TASK-DA-001 completed
  task-manager.md
Due: none

fix(api): remove hardcoded Azure AD credentials for security (TASK-SEC-001)
  api/src/middleware/auth.ts
Due: .azure-pipelines/asr-api.yml

docs: update task-manager.md - TASK-SEC-001 completed
  task-manager.md
Due: none

feat(admin-portal): add i18n translations to User Management (TASK-DA-002)
  admin-portal/src/components/users/EditUserDialog.tsx
  admin-portal/src/components/users/InviteUserDialog.tsx
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/locales/en/translation.json
Due: .azure-pipelines/admin-portal.yml

docs: update task-manager.md - TASK-DA-002 completed
  task-manager.md
Due: none

feat: batch 1 - complete 3 high-priority tasks in parallel
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/locales/en/translation.json
  api/src/functions/CreateMember.ts
  api/src/functions/CreateMemberContact.ts
  api/src/functions/CreateMemberEndpoint.ts
  api/src/functions/DeleteContact.ts
  api/src/functions/DeleteIdentifier.ts
  api/src/functions/GetAuditLogs.ts
  api/src/functions/GetContacts.ts
  api/src/functions/GetIdentifiers.ts
  api/src/functions/GetLegalEntity.ts
  api/src/functions/GetMember.ts
  api/src/functions/GetMemberContacts.ts
  api/src/functions/GetMemberEndpoints.ts
  api/src/functions/GetMemberTokens.ts
  api/src/functions/IssueToken.ts
  api/src/functions/UpdateContact.ts
  api/src/functions/UpdateLegalEntity.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

docs: update task-manager.md - batch 1 completed (3 tasks)
  task-manager.md
Due: none

feat: batch 2 - database performance optimizations (60-80% faster)
  api/src/functions/GetLegalEntity.ts
  database/migrations/032_optimize_v_members_full_view.sql
Due: .azure-pipelines/asr-api.yml

docs: update task-manager.md - batch 2 completed (2 tasks)
  task-manager.md
Due: none

feat: batch 3 - code quality and UX improvements (CR-005, DA-006, DA-008)
  admin-portal/src/components/KvkReviewQueue.tsx
  admin-portal/src/components/ReviewTasks.tsx
  admin-portal/src/components/users/InviteUserDialog.tsx
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/hooks/useIdentifiers.ts
  admin-portal/src/hooks/useKvkDocumentUpload.ts
  admin-portal/src/pages/MemberRegistrationWizard.tsx
  admin-portal/src/services/apiClient.ts
  admin-portal/src/services/apiV2.ts
  admin-portal/src/services/auditLogService.ts
  admin-portal/src/utils/auth.ts
Due: .azure-pipelines/admin-portal.yml

docs: update task-manager.md with batch 3 completion records
  task-manager.md
Due: none

feat: batch 4 - configuration, i18n, and security (CR-007, DA-007, SEC-004)
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/locales/en/translation.json
  api/src/config/constants.ts
  api/src/functions/GetAuditLogs.ts
  api/src/middleware/auth.ts
  api/src/middleware/endpointWrapper.ts
  api/src/middleware/rateLimiter.ts
  api/src/middleware/securityHeaders.ts
  api/src/middleware/versioning.ts
  api/src/utils/database.test.ts
  api/src/utils/database.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

docs: update task-manager.md with batch 4 completion records
  task-manager.md
Due: none

feat: batch 5 - pipeline safety and mobile UX (DG-PIPE-002, DG-PIPE-003, DA-009)
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
  .azure-pipelines/playwright-tests.yml
  admin-portal/src/components/users/UserManagement.css
  admin-portal/src/components/users/UserManagement.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

docs: update task-manager.md with batch 5 completion records
  task-manager.md
Due: none

feat: batch 6 - pipeline caching and security validation (DG-CACHE-001, DG-CACHE-002, CR-006)
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/asr-api.yml
  .azure-pipelines/member-portal.yml
  .azure-pipelines/playwright-tests.yml
  api/src/functions/GetAuditLogs.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

docs: update task-manager.md with batch 6 completion records
  task-manager.md
Due: none

feat(admin): batch 7 - audit log filters + graph api security hardening
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/components/icons.tsx
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/locales/de/translation.json
  admin-portal/src/locales/en/translation.json
  admin-portal/src/locales/nl/translation.json
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

docs: update task-manager.md with batch 7 completion records
  task-manager.md
Due: none

feat(api,admin): batch 8 - CRITICAL csrf + m2m client refactoring
  admin-portal/src/services/apiV2.ts
  admin-portal/src/services/csrfService.ts
  api/jest.config.js
  api/src/database/m2mClientRepository.ts
  api/src/functions/ManageM2MClients.ts
  api/src/middleware/auth.ts
  api/src/middleware/endpointWrapper.ts
  api/src/services/m2mClientService.ts
  api/src/utils/csrf.test.ts
  api/src/utils/csrf.ts
  api/src/utils/m2mClientUtils.ts
  api/src/validators/__tests__/m2mClientValidators.test.ts
  api/src/validators/m2mClientValidators.ts
  package-lock.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

docs: update task-manager.md with batch 8 completion records
  task-manager.md
Due: none

feat(api,devops): batch 9 - middleware refactoring + owasp blocking
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
  .owasp-suppressions.xml
  api/docs/MIDDLEWARE_MIGRATION_GUIDE.md
  api/docs/REFACTORING_REPORT_TASK_CR_004.md
  api/src/middleware/__tests__/composeMiddleware.test.ts
  api/src/middleware/__tests__/corsValidator.test.ts
  api/src/middleware/auth/index.ts
  api/src/middleware/auth/jwtAuthenticator.ts
  api/src/middleware/auth/rbacAuthorizer.ts
  api/src/middleware/endpointWrapper.ts
  api/src/middleware/utils/composeMiddleware.ts
  api/src/middleware/utils/middlewareTypes.ts
  api/src/middleware/validators/contentTypeValidatorMiddleware.ts
  api/src/middleware/validators/corsValidator.ts
  api/src/middleware/validators/csrfValidator.ts
  api/src/middleware/validators/httpsValidator.ts
  api/src/middleware/validators/index.ts
  api/src/middleware/validators/rateLimiterValidator.ts
  api/tsconfig.json
  scripts/validate-owasp-results.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

docs: update task-manager.md with batch 9 completion records
  task-manager.md
Due: none

test(security): add Semgrep ERROR blocking + intentional vulnerability for testing
  .azure-pipelines/asr-api.yml
  .semgrep/ignore.yml
  api/src/functions/TestSemgrepVulnerability.ts
Due: .azure-pipelines/asr-api.yml

fix(security): remove test vulnerability after Semgrep blocking verification
  api/src/functions/TestSemgrepVulnerability.ts
Due: .azure-pipelines/asr-api.yml

docs(security): add Semgrep blocking implementation and quick reference
  docs/SEMGREP_QUICK_REFERENCE.md
  docs/TASK-DG-SEC-002-SEMGREP-BLOCKING-IMPLEMENTATION.md
Due: none

docs(security): SEC-005 CSP analysis - implementation requires refactoring
  docs/SEC-005-CSP-RISK-ANALYSIS.md
  docs/SEC-005-PR-INLINE-COMMENTS.md
  docs/TASK-SEC-005-SECURITY-REVIEW-REPORT.md
  scripts/analyze-csp-risk.js
  scripts/audit-inline-styles.js
  scripts/verify-runtime-styles.js
Due: none

docs: update task-manager.md with batch 10 completion
  task-manager.md
Due: none

fix(pipeline): correct cache key path for API node_modules
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(pipeline): ensure Semgrep results file exists before publishing
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

fix(pipeline): ensure OWASP reports exist before publishing
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix(api,database): consolidate audit logging to single audit_log table
  api/src/functions/ManageEndpoints.ts
  api/src/functions/issueEndpointToken.ts
  api/src/functions/reviewKvkVerification.ts
  api/src/functions/uploadKvkDocument.ts
  database/AUDIT_TABLES_FIX_SUMMARY.md
  database/AUDIT_TABLES_INVESTIGATION_REPORT.md
  database/current_schema.sql
  database/migrations/033_fix_audit_logs_references.md
Due: .azure-pipelines/asr-api.yml

docs(devops): add Variable Groups centralization strategy and implementation guide
  docs/AZURE_DEVOPS_VARIABLE_GROUPS_SETUP.md
  docs/VARIABLE_GROUPS_MIGRATION_SUMMARY.md
Due: none

docs: update task-manager.md with Batch 11 completion
  task-manager.md
Due: none

docs: add comprehensive Azure Monitor deployment alerts setup
  docs/AZURE_MONITOR_ALERTS_QUICK_REFERENCE.md
  docs/AZURE_MONITOR_DEPLOYMENT_ALERTS_SETUP.md
  docs/TASK-DG-MONITOR-002-DEPLOYMENT-ALERTS-SUMMARY.md
  scripts/setup-deployment-alerts.sh
  scripts/test-all-alerts.sh
Due: none

refactor: remove unnecessary Array.from() conversions and upgrade to ES2020
  admin-portal/src/services/graphService.ts
  admin-portal/tsconfig.json
  api/src/functions/GetAuditLogs.ts
  member-portal/tsconfig.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(database): add indexes and connection pool metrics for performance optimization
  api/src/utils/database.ts
  database/migrations/034_add_audit_log_action_index.sql
  database/migrations/035_optimize_endpoint_indexes.sql
  docs/database/BATCH_12_DATABASE_QUICK_WINS.md
Due: .azure-pipelines/asr-api.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, .azure-pipelines/admin-portal.yml, but not: api, member-portal, docs, **/*.md
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, docs, **/*.md
  .azure-pipelines/terraform.yml: any of: infrastructure
