Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/playwright-tests.yml, .azure-pipelines/terraform.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, .azure-pipelines/admin-portal.yml, but not: api, member-portal, docs, **/*.md
  .azure-pipelines/api-tests.yml: any of: api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/container-app-api.yml: any of: api, infrastructure/container-app.bicep, .azure-pipelines/container-app-api.yml
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, docs, **/*.md
  .azure-pipelines/playwright-tests.yml: any of: admin-portal/e2e, member-portal/e2e, tests/*.setup.ts, playwright.config.ts
  .azure-pipelines/terraform.yml: any of: infrastructure

feat: add LEI company name search fallback in enrichment
  api/src/routes.ts
  api/src/services/leiService.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: sync company name from KVK registry on Update
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/hooks/useMemberDetails.ts
  admin-portal/src/services/api/index.ts
  admin-portal/src/services/api/legalEntities.ts
  api/src/routes.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix: join identifier API with lookup table to populate registry names
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix: always use lookup table for registry names, add display_order sort
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix: security fixes and codebase alignment (SSRF, IDOR, type mismatches)
  admin-portal/src/components/HealthDashboard.tsx
  admin-portal/src/services/api/tasks.ts
  admin-portal/src/services/api/types.ts
  api/src/openapi.json
  api/src/routes.ts
  database/migrations/048_performance_indexes.sql
  docs/ARCHITECTURE_ALIGNMENT_REPORT.md
  member-portal/auth-failure.png
  member-portal/src/components/ContactsView.tsx
  packages/api-client/dist/endpoints/endpoints.d.ts
  packages/api-client/dist/endpoints/endpoints.d.ts.map
  packages/api-client/dist/endpoints/endpoints.js
  packages/api-client/dist/endpoints/identifiers.d.ts
  packages/api-client/dist/endpoints/identifiers.d.ts.map
  packages/api-client/dist/endpoints/identifiers.js
  packages/api-client/dist/types.d.ts
  packages/api-client/dist/types.d.ts.map
  packages/api-client/src/endpoints/endpoints.ts
  packages/api-client/src/endpoints/identifiers.ts
  packages/api-client/src/types.ts
  tests/api/curl/test-new-endpoints-2025-12.sh
  tests/member-portal/e2e/global.setup.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml

fix: test script conditional for empty endpoint_id
  tests/api/curl/test-new-endpoints-2025-12.sh
Due: none

chore: update login page labels from Microsoft/Azure to Keycloak
  admin-portal/src/components/auth/LoginPage.tsx
Due: .azure-pipelines/admin-portal.yml

feat: hide membership levels, show authentication tiers instead
  admin-portal/src/components/AdvancedFilter.tsx
  admin-portal/src/components/CompanyDetails.tsx
  admin-portal/src/components/Dashboard.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/member/MemberDetailTabs.tsx
  admin-portal/src/components/members/MembersGridColumns.tsx
  admin-portal/src/utils/exportUtils.ts
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/ProfileView.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Tasks 7-11 - CoC fields, branding, address formatting, country scope
  TASK_MANAGER.md
  admin-portal/src/components/AddressMap.tsx
  admin-portal/src/components/CompanyDetails.tsx
  admin-portal/src/components/KvkRegistryDetails.css
  admin-portal/src/components/KvkRegistryDetails.tsx
  admin-portal/src/components/MemberDetailView.css
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/icons.tsx
  admin-portal/src/services/api/types.ts
  admin-portal/src/utils/addressFormat.ts
  admin-portal/src/utils/colors.ts
  api/src/routes.ts
  database/migrations/049_legal_entity_branding.sql
  database/migrations/050_fix_country_scope_values.sql
  member-portal/src/utils/addressFormat.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml

docs: Task 12 - German CoC alternatives research
  TASK_MANAGER.md
Due: none

feat: add German Handelsregister integration
  admin-portal/src/components/GermanRegistryDetails.css
  admin-portal/src/components/GermanRegistryDetails.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/member/MemberDetailSections.tsx
  admin-portal/src/hooks/useMemberDetails.ts
  admin-portal/src/services/api/index.ts
  admin-portal/src/services/api/legalEntities.ts
  api/src/routes.ts
  api/src/services/handelsregisterService.ts
  database/migrations/051_german_registry_data.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: use existing HRB to fetch German registry data in enrichment
  api/src/routes.ts
  api/src/services/handelsregisterService.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: add bundesAPI for official Handelsregister.de scraping
  TASK_MANAGER.md
  api/package.json
  api/src/services/bundesApiService.ts
  api/src/services/handelsregisterService.ts
  package-lock.json
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix: add authentication_tier to member list endpoints for Dashboard
  TASK_MANAGER.md
  admin-portal/src/components/Dashboard.tsx
  api/src/routes.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: implement Tasks 14-16 improvements
  CLAUDE.md
  TASK_MANAGER.md
  api/src/routes.ts
  api/src/services/leiService.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: implement Tasks 17 & 19 - registry separation and EUID generation
  TASK_MANAGER.md
  api/src/routes.ts
  api/src/services/handelsregisterService.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: extract enrichment logic to modular services (Tasks 18, 21)
  TASK_MANAGER.md
  api/src/routes.ts
  api/src/services/enrichment/brandingService.ts
  api/src/services/enrichment/deEnrichmentService.ts
  api/src/services/enrichment/index.ts
  api/src/services/enrichment/leiEnrichmentService.ts
  api/src/services/enrichment/nlEnrichmentService.ts
  api/src/services/enrichment/peppolEnrichmentService.ts
  api/src/services/enrichment/types.ts
  docs/ENRICHMENT_ARCHITECTURE.md
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix: correct GLEIF API query to use registeredAs field properly
  api/src/services/enrichment/leiEnrichmentService.ts
  api/src/services/leiService.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: add gleif_registration_authorities table
  database/asr_dev.sql
  database/migrations/052_gleif_registration_authorities.sql
Due: none

fix: correct GLEIF RA codes in existing data
  database/asr_dev.sql
  database/migrations/053_fix_gleif_ra_codes.sql
Due: none

feat: complete TASK_MANAGER tasks (Tasks 01-06)
  TASK_MANAGER.md
  admin-portal/.env.production
  admin-portal/src/components/AddressMap.tsx
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/services/api/types.ts
  api/src/routes.ts
  api/src/services/enrichment/deEnrichmentService.ts
  api/src/services/enrichment/index.ts
  api/src/services/enrichment/nlEnrichmentService.ts
  database/migrations/054_entity_legal_forms.sql
  database/migrations/055_add_euid_for_kvk_records.sql
  database/migrations/056_add_gleif_unique_constraint.sql
  database/migrations/057_add_city_to_view.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: complete Tasks 07-11 from TASK_MANAGER
  TASK_MANAGER.md
  admin-portal/src/components/CompanyDetails.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/identifiers/IdentifiersTable.tsx
  admin-portal/src/locales/de/translation.json
  admin-portal/src/locales/en/translation.json
  admin-portal/src/locales/nl/translation.json
  admin-portal/src/services/api/types.ts
  api/src/routes.ts
  database/migrations/058_add_peppol_to_view.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

chore: clean up legacy comments and simplify documentation
  api/src/middleware/auth.ts
  api/src/routes.ts
  api/src/services/enrichment/leiEnrichmentService.ts
  api/src/services/leiService.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

chore: remove outdated TODO comment
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

docs: update TASK_MANAGER.md with all completed tasks
  TASK_MANAGER.md
Due: none

docs: update ENRICHMENT_ARCHITECTURE.md with GLEIF search strategy and lessons learned
  docs/ENRICHMENT_ARCHITECTURE.md
Due: none

feat: generalize EUID enrichment for all EU countries
  api/src/services/enrichment/euidEnrichmentService.ts
  api/src/services/enrichment/index.ts
  docs/ENRICHMENT_ARCHITECTURE.md
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

docs: update ENRICHMENT_ARCHITECTURE based on review feedback
  docs/ENRICHMENT_ARCHITECTURE.md
Due: none

docs: clarify RA code is in response only, not for searching
  docs/ENRICHMENT_ARCHITECTURE.md
Due: none

docs: clarify GLEIF API does not support RA code filtering
  docs/ENRICHMENT_ARCHITECTURE.md
Due: none

feat: add Belgian KBO enrichment support (BE country)
  api/src/services/enrichment/beEnrichmentService.ts
  api/src/services/enrichment/index.ts
  api/src/services/enrichment/types.ts
  api/src/services/kboService.ts
  database/migrations/059_belgium_registry_data.sql
  docs/ENRICHMENT_ARCHITECTURE.md
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat: add DERIVED validation_status for Belgian VAT derivation
  database/migrations/060_add_derived_validation_status.sql
Due: none

feat: add VIES batch verification and KBO API service (disabled)
  api/src/services/enrichment/beEnrichmentService.ts
  api/src/services/enrichment/viesEnrichmentService.ts
  api/src/services/kboApiService.ts
  docs/ENRICHMENT_ARCHITECTURE.md
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

docs: add web scraping services and rate limits to enrichment docs
  docs/ENRICHMENT_ARCHITECTURE.md
Due: none

docs: minor text clarification in GLEIF search section
  docs/ENRICHMENT_ARCHITECTURE.md
Due: none

docs: add Peppol enrichment flow and fix VAT derivation for Belgium
  docs/ENRICHMENT_ARCHITECTURE.md
Due: none

chore: refresh schema dump to include belgium_registry_data table
  database/asr_dev.sql
Due: none

docs: update diagram to reflect belgium_registry_data is deployed and in use
  docs/ENRICHMENT_ARCHITECTURE.md
Due: none

feat: update validation_status terminology to industry standards
  admin-portal/src/components/MembersGrid.css
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/services/api/types.ts
  admin-portal/src/utils/colors.ts
  api/src/routes.ts
  api/src/services/enrichment/beEnrichmentService.ts
  api/src/services/enrichment/deEnrichmentService.ts
  api/src/services/enrichment/euidEnrichmentService.ts
  api/src/services/enrichment/nlEnrichmentService.ts
  database/asr_dev.sql
  database/migrations/061_validation_status_terminology_update.sql
  docs/ENRICHMENT_ARCHITECTURE.md
  member-portal/src/components/IdentifiersView.tsx
  tests/admin-portal/e2e/admin-portal/identifiers-crud.spec.ts
  tests/api/curl/test-identifier-validation-status.sh
  tests/api/integration/identifiers.test.js
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml

fix: bump grid storage key to reset column visibility
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml
