Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: portal, api
  .azure-pipelines/terraform.yml: any of: infrastructure

docs(admin-portal): mark Settings links [DONE] and update COMPLETED_ACTIONS (2025-10-31)
  docs/COMPLETED_ACTIONS.md
Due: none

fix(member-portal): correct registration URL to avoid double /v1 (/register-member)
  member-portal/src/App.tsx
Due: none

docs: mark Member Portal registration 404 as [DONE] and log to COMPLETED_ACTIONS (2025-10-31)
  docs/COMPLETED_ACTIONS.md
Due: none

chore(admin-portal): remove debug console logs from AdminPortal and MembersGrid
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

feat(admin-portal): integrate standardized empty states (DA-009) for Contacts, Identifiers, Endpoints, and M2M Clients
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/M2MClientsManager.tsx
Due: .azure-pipelines/admin-portal.yml

docs(DA-009): mark empty states implementation [DONE] and log in COMPLETED_ACTIONS (2025-10-31)
  docs/COMPLETED_ACTIONS.md
Due: none

sec(SEC-004): require X-CSRF-Token for state-changing requests; feat(DA-010): initial success messages for Contacts & Endpoints; ensure CSRF token generation on client
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/services/apiV2.ts
  api/src/middleware/endpointWrapper.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(DA-010): add success messages for Identifiers (create/update/delete) and M2M client creation
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/M2MClientsManager.tsx
Due: .azure-pipelines/admin-portal.yml

docs: update COMPLETED_ACTIONS with 2025-11-01 admin-portal tasks; reprioritize roadmap (Desktop)
  docs/COMPLETED_ACTIONS.md
Due: none

feat(admin-portal): inline validation + contextual help in CompanyForm; a11y color tokens in FieldLabel/HelpTooltip
  .azure-pipelines/playwright-tests.yml
  admin-portal/.gitignore
  admin-portal/src/components/CompanyForm.tsx
  admin-portal/src/components/help/FieldLabel.tsx
  admin-portal/src/components/help/HelpTooltip.tsx
  docs/E2E_TEST_USER_SETUP.md
  member-portal/.gitignore
Due: .azure-pipelines/admin-portal.yml

test(admin-portal): make quick-test reliably trigger API traffic by navigating to Members and health fallback
  admin-portal/e2e/quick-test.spec.ts
Due: .azure-pipelines/admin-portal.yml

Update test configuration and documentation
  .claude/agents/test-engineer-te.md
  CLAUDE.md
  admin-portal/src/setupTests.ts
  docs/COMPLETED_ACTIONS.md
  docs/E2E_TEST_USER_SETUP.md
Due: .azure-pipelines/admin-portal.yml

docs: Add comprehensive test plan for Admin Portal
  docs/TEST_PLAN_ADMIN_PORTAL.md
Due: none

docs(tests): add admin portal test results and fix documentation bug
  .claude/agents/technical-writer-tw.md
  api/tests/ADMIN_PORTAL_TEST_REPORT.md
  api/tests/TEST_EXECUTION_SUMMARY.md
  api/tests/admin-portal-comprehensive-test.sh
  api/tests/get-auth-token.js
  api/tests/get-token-and-test-members.js
  api/tests/quick-api-test.sh
  docs/COMPLETED_ACTIONS.md
  docs/TEST_PLAN_ADMIN_PORTAL.md
  docs/TEST_RESULTS_ADMIN_PORTAL.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

Remove newsletter and subscription functionality
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/NewslettersGrid.css
  admin-portal/src/components/NewslettersGrid.tsx
  admin-portal/src/components/SubscriptionsGrid.css
  admin-portal/src/components/SubscriptionsGrid.tsx
  admin-portal/src/config/helpContent.ts
  admin-portal/src/utils/emptyStates.ts
  api/src/functions/createNewsletter.ts
  api/src/functions/createSubscription.ts
  api/src/functions/getNewsletters.ts
  api/src/functions/getSubscriptions.ts
  api/src/functions/updateSubscription.ts
  api/src/middleware/rbac.ts
  api/src/production-index.ts
  api/src/services/newsletterService.ts
  api/src/services/subscriptionService.ts
  api/src/services/taskService.ts
  api/src/validation/schemas.ts
  booking-portal/web/src/pages/Admin.tsx
  database/migrations/020_remove_newsletters_subscriptions.sql
  docs/BUILD_VERIFICATION_RESULTS.md
  docs/REMOVAL_SUMMARY_NEWSLETTERS_SUBSCRIPTIONS.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(security): strengthen CSP headers by removing unsafe-inline and unsafe-eval from script-src
  .gitignore
  CLAUDE.md
  admin-portal/e2e/admin-portal/accessibility.spec.ts
  admin-portal/e2e/basic-authentication.spec.ts
  admin-portal/e2e/critical-flows-realistic.spec.ts
  admin-portal/e2e/critical-flows.spec.ts
  admin-portal/public/staticwebapp.config.json
  admin-portal/src/components/AdminSidebar.tsx
  admin-portal/src/components/LoadingSpinner.tsx
  admin-portal/src/components/MemberForm.tsx
  admin-portal/src/components/MembersGrid.tsx
  booking-portal/e2e/basic-authentication.spec.ts
  docs/ACCESSIBILITY.md
  docs/COMPLETED_ACTIONS.md
  docs/LOGIN_SELECTORS_AND_ENDPOINTS.md
  docs/PLAYWRIGHT_SETUP_GUIDE.md
  docs/PORTAL_CONFIGURATIONS.md
  docs/PORTAL_TESTING_INDEX.md
  docs/testing/PLAYWRIGHT_SETUP_SUMMARY.md
  member-portal/e2e/basic-authentication.spec.ts
  member-portal/public/staticwebapp.config.json
  package-lock.json
  package.json
  playwright.config.ts
  tests/README.md
Due: .azure-pipelines/admin-portal.yml

docs: compact COMPLETED_ACTIONS.md and clean ROADMAP.md
  CLAUDE.md
  IMPLEMENTATION_PLAN.md
  docs/COMPLETED_ACTIONS.md
Due: none

feat(admin-portal): Category 1 accessibility - WCAG 2.1 AA complete (100%)
  admin-portal/src/components/CompanyForm.tsx
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

docs: update COMPLETED_ACTIONS.md with Category 1 accessibility (WCAG 2.1 AA)
  docs/COMPLETED_ACTIONS.md
Due: none

docs: correct Category 1 test results - 10/24 passing (implementation complete, tests need selector updates)
  docs/COMPLETED_ACTIONS.md
Due: none

fix(admin-portal): replace brittle CSS selectors with semantic ARIA selectors in E2E tests
  admin-portal/e2e/admin-portal/accessibility.spec.ts
  admin-portal/e2e/admin-portal/authentication.spec.ts
Due: .azure-pipelines/admin-portal.yml

fix(booking-portal): downgrade Kendo React from v12.1.0 to v8.5.0 to match admin portal
  booking-portal/web/package-lock.json
  booking-portal/web/package.json
Due: none

fix(booking-portal): normalize datetime display to 24-hour format in validation screens
  booking-portal/web/src/components/validation/TransportOrderForm.tsx
Due: none

feat(booking-portal): add DCSA location code (UNLOCODE) display in validation screens
  booking-portal/web/src/components/validation/TransportOrderForm.tsx
Due: none

feat(booking-portal): improve Journey Map zoom behavior with padding and constraints
  booking-portal/web/src/components/JourneyMap.tsx
Due: none

fix(admin-portal): complete E2E test selector migration to semantic ARIA
  admin-portal/e2e/admin-portal/authentication.spec.ts
  admin-portal/e2e/admin-portal/grid-pagination.spec.ts
Due: .azure-pipelines/admin-portal.yml

feat(kendo): upgrade to v12.2.0 and update license key
  admin-portal/fix-cells.js
  admin-portal/fix-grid-cells.sh
  admin-portal/package.json
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/KvkReviewQueue.tsx
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/ReviewTasks.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/kendoLicense.ts
  booking-portal/TEST_REPORT_2025-11-01.md
  booking-portal/web/package-lock.json
  booking-portal/web/package.json
  booking-portal/web/src/kendoLicense.ts
  docs/ACCESSIBILITY.md
  docs/COMPLETED_ACTIONS.md
  docs/archive/WARP_CLAUDE_MD_OCT26.md
  member-portal/fix-grid-cells.sh
  member-portal/fix-member-cells.sh
  member-portal/package.json
  member-portal/src/components/M2MClientsView.tsx
  member-portal/src/kendoLicense.ts
  orchestrator-portal/src/kendoLicense.ts
  package-lock.json
Due: .azure-pipelines/admin-portal.yml

fix(kendo-migration): fix TypeScript errors in migrated components
  admin-portal/src/components/AdvancedFilter.tsx
  admin-portal/src/components/CompanyForm.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/ExampleUsage.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/LanguageSwitcher.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/MemberForm.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/audit/AuditLogViewer.tsx
  fix-select-onchange.js
  fix-textinput-onchange.js
  fix-textinput-revert.js
Due: .azure-pipelines/admin-portal.yml

fix(kendo-migration): fix remaining TypeScript errors in simple components
  admin-portal/src/components/TierManagement.tsx
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/pages/MemberRegistrationWizard.tsx
Due: .azure-pipelines/admin-portal.yml

fix(kendo-migration): fix member-portal TypeScript errors
  member-portal/src/App.tsx
  member-portal/src/components/DnsVerificationView.tsx
  member-portal/src/components/LanguageSwitcher.tsx
  member-portal/src/components/M2MClientsView.tsx
Due: none

docs(kendo-migration): update migration status with build results
  docs/KENDO_MIGRATION_STATUS.md
Due: none

docs(kendo-migration): add comprehensive Kendo Form migration guide
  docs/KENDO_FORM_MIGRATION_GUIDE.md
Due: none

feat(kendo-migration): migrate RegistrationForm to @mantine/form
  member-portal/src/components/RegistrationForm.tsx
Due: none

feat(kendo-migration): migrate CompanyForm to @mantine/form
  admin-portal/src/components/CompanyForm.tsx
Due: .azure-pipelines/admin-portal.yml

feat(kendo-migration): fix complex Select components in admin-portal
  admin-portal/src/components/ContactForm.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/MemberForm.tsx
  admin-portal/src/components/ProgressIndicator.tsx
Due: .azure-pipelines/admin-portal.yml

feat(kendo-migration): fix TasksGrid and AdvancedFilter (27→8 errors)
  admin-portal/src/components/AdvancedFilter.tsx
  admin-portal/src/components/TasksGrid.tsx
Due: .azure-pipelines/admin-portal.yml

feat(kendo-migration): fix MembersGrid - ADMIN PORTAL BUILDS! (8→0 errors)
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml
