Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-ADMIN
      RunAsPreJob: true
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-MEMBER
      RunAsPreJob: true
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

feat(env): standardize environment variable naming in member-portal
  member-portal/.env.example
  member-portal/.env.production
  member-portal/.env.production.template
  member-portal/README.md
  member-portal/public/staticwebapp.config.json
  member-portal/src/auth/authConfig.ts
  member-portal/vite.config.ts
Due: none

feat(security): implement SEC-TEST-001 - enhanced security headers E2E testing
  admin-portal/e2e/security-headers.spec.ts
Due: .azure-pipelines/admin-portal.yml

feat(env): remove hardcoded credentials from booking-portal auth
  booking-portal/web/src/auth/authConfig.ts
Due: none

fix(security): export ContentTypeValidationResult types for TypeScript compilation
  api/src/middleware/contentTypeValidator.ts
  api/src/middleware/endpointWrapper.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

security: harden CSP and eliminate unused CDN allowlists (SEC-VUL-002, SEC-SRI-001)
  admin-portal/public/staticwebapp.config.json
  booking-portal/web/public/staticwebapp.config.json
  docs/SECURITY_HARDENING_NOV2025.md
Due: .azure-pipelines/admin-portal.yml

fix(build): remove i18next-http-backend from vite config
  admin-portal/vite.config.ts
Due: .azure-pipelines/admin-portal.yml

refactor(admin): split MembersGrid into smaller components (CQ-COMP-001)
  admin-portal/src/components/MembersGrid.refactored.tsx
  admin-portal/src/components/members/MembersGridActions.tsx
  admin-portal/src/components/members/MembersGridColumns.tsx
  admin-portal/src/components/members/MembersGridToolbar.tsx
  admin-portal/src/hooks/useMembersGridState.ts
Due: .azure-pipelines/admin-portal.yml

fix(test): fix MantineDataTable.test.tsx TypeScript errors
  admin-portal/src/components/__tests__/MantineDataTable.test.tsx
Due: .azure-pipelines/admin-portal.yml

style(a11y): improve touch target sizing for DataTable components
  admin-portal/e2e/admin-portal/touch-targets.spec.ts
  admin-portal/src/components/MembersGrid.css
  admin-portal/src/styles/accessibility.css
Due: .azure-pipelines/admin-portal.yml

feat(accessibility): implement WCAG 2.1 AAA touch target compliance (DA-004, DA-005, DA-006)
  admin-portal/src/components/MembersGrid.css
  admin-portal/src/index.tsx
  admin-portal/src/styles/accessibility.css
Due: .azure-pipelines/admin-portal.yml

fix(api): add registerMember import to index.ts - resolves 404 on /api/v1/register-member
  api/src/index.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(api): implement email notifications for member registration via Event Grid
  api/src/functions/EventGridHandler.ts
  api/src/functions/registerMember.ts
  api/src/index.ts
  api/src/middleware/eventGridValidation.ts
  api/src/utils/eventGrid.ts
  docs/COMPLETED_ACTIONS.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(api): correct EventGridHandler template data mapping for email notifications
  api/src/functions/EventGridHandler.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(api): add detailed logging for Event Grid event publishing in registerMember
  api/src/functions/registerMember.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

debug(api): add comprehensive logging to EventGridHandler for email debugging
  api/src/functions/EventGridHandler.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(api): copy email templates to dist during build
  api/package.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

debug(api): add detailed logging for email message structure
  api/src/functions/EventGridHandler.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

debug(api): add email configuration to diagnostic endpoint
  api/src/functions/DiagnosticCheck.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(api): correct branding in email templates
  api/src/templates/emails/layouts/base.hbs
  api/test-acs-direct.js
  api/test-template-email.js
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(admin): implement application review system
  admin-portal/src/components/AdminSidebar.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/services/apiV2.ts
  api/src/functions/ApproveApplication.ts
  api/src/functions/GetApplications.ts
  api/src/functions/RejectApplication.ts
  api/src/index.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(admin): disable non-existent tasks endpoint
  admin-portal/src/components/TasksGrid.tsx
Due: .azure-pipelines/admin-portal.yml

fix(ui): prevent DataTable text overflow across all grids
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/index.css
  api/src/functions/ApproveApplication.ts
  api/src/functions/GetApplications.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(api): correct ApproveApplication to match actual database schema
  api/src/functions/ApproveApplication.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(api): remove explicit timestamps from CreateContact (DE audit)
  api/src/functions/CreateContact.ts
  database/schema/AUDIT_SUMMARY.md
  database/schema/SCHEMA_REFERENCE.md
  database/schema/SCHEMA_VALIDATION_REPORT.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(ui): implement High Priority UI/UX improvements (DA audit)
  admin-portal/src/App.css
  admin-portal/src/components/AdminSidebar.css
  docs/UI_UX_AUDIT_REPORT.md
  member-portal/src/App.css
Due: .azure-pipelines/admin-portal.yml

feat(ui): implement additional UI/UX improvements (DA audit phase 2)
  admin-portal/src/App.css
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/Dashboard.tsx
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

feat(ui): add default empty states to all DataTables (DA-OPT-001)
  admin-portal/src/components/shared/DataTableConfig.ts
Due: .azure-pipelines/admin-portal.yml

feat(ui): complete Design Analyst audit optional items (DA-OPT-002 to DA-OPT-007)
  admin-portal/src/App.css
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/TasksGrid.tsx
Due: .azure-pipelines/admin-portal.yml

feat(roadmap): complete ROADMAP.md tasks - dynamic termsVersion + UX improvements
  api/src/functions/generateBvad.ts
  member-portal/src/components/RegistrationForm.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(db): correct FK constraint in applications table (legal_entities -> legal_entity)
  api/tests/test-approve-application.sh
  database/migrations/016_member_registration_applications.sql
  database/migrations/021_fix_applications_fk_constraint.sql
  docs/BUG_REPORT_APPLICATION_APPROVAL_500_ERROR.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

chore: remove obsolete migration scripts from Kendo to Mantine migration
  admin-portal/fix-cells.js
  docs/COMPLETED_ACTIONS.md
  fix-button-icons.js
  fix-imports.js
  fix-select-onchange.js
  fix-textinput-onchange.js
  fix-textinput-revert.js
  folders.txt
  member-portal/fix-grid-cells.sh
  member-portal/fix-member-cells.sh
Due: .azure-pipelines/admin-portal.yml

fix(api): convert country names to ISO codes in ApproveApplication
  api/src/functions/ApproveApplication.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(member-portal): redesign login page to match admin portal + fix language selector
  member-portal/src/App.css
  member-portal/src/App.tsx
  member-portal/src/i18n.ts
Due: none

fix(member-portal): hide header and footer on login page
  member-portal/src/App.tsx
Due: none

fix(member-portal): fix login page visual issues and Azure AD auth
  member-portal/.env.production
  member-portal/src/App.css
Due: none

fix(pipeline): fix Azure AD env variables for member portal build
  .azure-pipelines/member-portal.yml
Due: none

fix(api): register GetMemberTokens endpoint and deploy fixes
  api/src/index.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(api): remove is_primary column from legal_entity_number INSERT
  api/src/functions/ApproveApplication.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(api): transfer KvK verification data when approving applications
  api/src/functions/ApproveApplication.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(api): add KvK verification fields to GetLegalEntity endpoint
  api/src/functions/GetLegalEntity.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: portal, api
  .azure-pipelines/terraform.yml: any of: infrastructure
