Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: web, api
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: portal, api
  .azure-pipelines/terraform.yml: any of: infrastructure

test: Add comprehensive test suite for GetAuditLogs API
  IMPLEMENTATION_PLAN.md
  api/tests/test-audit-logs.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Update audit log service to use API backend - Stage 2
  web/src/components/audit/AuditLogViewer.tsx
  web/src/services/auditLogService.ts
Due: .azure-pipelines/admin-portal.yml

docs: Update IMPLEMENTATION_PLAN.md - Stages 2 & 3 complete
  IMPLEMENTATION_PLAN.md
Due: none

docs: Add comprehensive Audit Trail implementation summary
  AUDIT_TRAIL_IMPLEMENTATION_SUMMARY.md
Due: none

chore: Remove implementation plan (audit trail feature complete)
  IMPLEMENTATION_PLAN.md
Due: none

feat: Add core help system components - Stage 1
  IMPLEMENTATION_PLAN.md
  web/src/App.tsx
  web/src/components/help/FieldHelp.tsx
  web/src/components/help/HelpPanel.tsx
  web/src/components/help/HelpTooltip.tsx
  web/src/components/help/help.css
  web/src/components/help/index.ts
Due: .azure-pipelines/admin-portal.yml

feat: Add help content configuration - Stage 2
  IMPLEMENTATION_PLAN.md
  web/src/config/helpContent.ts
Due: .azure-pipelines/admin-portal.yml

feat: Integrate help system into MemberForm and ContactForm - Stage 3A
  IMPLEMENTATION_PLAN.md
  web/src/components/ContactForm.tsx
  web/src/components/MemberForm.tsx
  web/src/components/help/FieldLabel.tsx
  web/src/components/help/index.ts
Due: .azure-pipelines/admin-portal.yml

feat: Complete form integration with help system - Stage 3B
  web/src/components/EndpointManagement.tsx
  web/src/components/IdentifiersManager.tsx
Due: .azure-pipelines/admin-portal.yml

feat: Add comprehensive E2E tests for help system - Stage 4
  IMPLEMENTATION_PLAN.md
  web/e2e/help-system.spec.ts
Due: .azure-pipelines/admin-portal.yml

docs: Mark L5 Contextual Help System complete
  IMPLEMENTATION_PLAN.md
Due: none

chore: Remove implementation plan (L5 help system complete)
  IMPLEMENTATION_PLAN.md
Due: none

feat: Implement progressive disclosure for complex forms (L6)
  IMPLEMENTATION_PLAN.md
  web/e2e/progressive-disclosure.spec.ts
  web/src/components/ContactForm.tsx
  web/src/components/IdentifiersManager.tsx
  web/src/components/forms/ConditionalField.tsx
  web/src/components/forms/ProgressiveSection.tsx
  web/src/components/forms/StepperForm.tsx
  web/src/pages/MemberRegistrationWizard.css
  web/src/pages/MemberRegistrationWizard.tsx
  web/src/styles/progressive-forms.css
Due: .azure-pipelines/admin-portal.yml

chore: Remove implementation plan (progressive disclosure complete)
  IMPLEMENTATION_PLAN.md
Due: none

feat: Implement comprehensive database transaction support
  api/src/functions/CreateMember.ts
  api/src/functions/UpdateLegalEntity.ts
  api/src/functions/UpdateMemberProfile.ts
  api/src/utils/transaction.ts
  api/tests/test-transactions.sh
  api/tests/transaction.test.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Implement comprehensive API versioning strategy
  IMPLEMENTATION_PLAN.md
  api/src/functions/CreateMember.ts
  api/src/functions/GetMembers.ts
  api/src/middleware/versioning.ts
  api/src/openapi.json
  docs/API_VERSIONING_STRATEGY.md
  docs/migrations/v1-to-v2-example.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

chore: Remove implementation plan (API versioning complete)
  IMPLEMENTATION_PLAN.md
Due: none

feat: Add Application Insights telemetry to API
  api/package-lock.json
  api/package.json
  api/src/essential-index.ts
  api/src/functions/CreateMember.ts
  api/src/functions/GetMembers.ts
  api/src/functions/ResolveParty.ts
  api/src/utils/telemetry.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

docs: Add comprehensive Application Insights documentation and tooling
  api/tests/test-telemetry.sh
  docs/APPLICATION_INSIGHTS_SETUP.md
  docs/TELEMETRY_QUICK_REFERENCE.md
  infrastructure/app-insights-alerts.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

docs: Add telemetry implementation summary
  docs/TELEMETRY_IMPLEMENTATION_SUMMARY.md
Due: none

feat: Create shared API client package for portals
  package-lock.json
  package.json
  packages/api-client/.eslintrc.json
  packages/api-client/README.md
  packages/api-client/USAGE_EXAMPLES.md
  packages/api-client/jest.config.js
  packages/api-client/package.json
  packages/api-client/src/client.ts
  packages/api-client/src/endpoints/audit.ts
  packages/api-client/src/endpoints/auth.ts
  packages/api-client/src/endpoints/contacts.ts
  packages/api-client/src/endpoints/endpoints.ts
  packages/api-client/src/endpoints/identifiers.ts
  packages/api-client/src/endpoints/legalEntities.ts
  packages/api-client/src/endpoints/members.ts
  packages/api-client/src/endpoints/orchestrations.ts
  packages/api-client/src/index.ts
  packages/api-client/src/types.ts
  packages/api-client/src/utils/error.ts
  packages/api-client/src/utils/interceptors.ts
  packages/api-client/src/utils/retry.ts
  packages/api-client/tests/client.test.ts
  packages/api-client/tsconfig.json
  portal/package.json
  portal/src/index.tsx
  portal/src/services/apiClient.ts
  portal/src/vite-env.d.ts
  web/package.json
  web/src/services/apiClient.ts
  web/src/vite-env.d.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

docs: Add comprehensive implementation summary for API client package
  packages/api-client/IMPLEMENTATION_SUMMARY.md
Due: none

feat: Enhance health check endpoint with comprehensive system checks - Stage 1
  IMPLEMENTATION_PLAN.md
  api/src/functions/healthCheck.ts
  api/src/services/kvkService.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Integrate Health Dashboard into Admin Portal - Stages 2 & 3
  IMPLEMENTATION_PLAN.md
  web/src/components/AdminPortal.tsx
  web/src/components/AdminSidebar.tsx
  web/src/components/HealthDashboard.css
  web/src/components/HealthDashboard.tsx
Due: .azure-pipelines/admin-portal.yml

feat: Add Azure Monitor alerts and comprehensive documentation - Stages 4 & 5
  IMPLEMENTATION_PLAN.md
  docs/HEALTH_MONITORING.md
  infrastructure/health-monitoring-alerts.sh
Due: .azure-pipelines/terraform.yml

docs: Update implementation plan with completion summary
  IMPLEMENTATION_PLAN.md
Due: none

chore: Remove implementation plan (health monitoring complete)
  IMPLEMENTATION_PLAN.md
Due: none

fix: Update health monitoring alerts with correct Azure metrics
  infrastructure/health-monitoring-alerts.sh
Due: .azure-pipelines/terraform.yml

fix: Remove psql meta-command from migration 015 and add verification script
  database/migrations/015_add_azure_ad_object_id.sql
  database/migrations/verify_015_migration.sql
Due: none

fix: Resolve migration 014 failure and add fixed version 016
  database/migrations/014_standardize_timestamp_types_DO_NOT_USE.sql
  database/migrations/016_standardize_timestamp_types_FIXED.sql
  database/migrations/README_MIGRATIONS.md
  database/migrations/check_migration_014_status.sql
  database/migrations/check_table_columns.sql
Due: none

docs: Add migration session summary for October 20, 2025
  docs/MIGRATION_SESSION_2025-10-20.md
Due: none

refactor: Reorganize database migrations to DDL-based schema management
  database/.gitignore
  database/README.md
  database/extract_schema.sh
  database/migrations/archive_2025-10-20/001-enhanced-schema.sql
  database/migrations/archive_2025-10-20/002_add_contact_fields.sql
  database/migrations/archive_2025-10-20/003_link_members_to_legal_entities.sql
  database/migrations/archive_2025-10-20/004-migrate-members-data.sql
  database/migrations/archive_2025-10-20/007_kvk_verification.sql
  database/migrations/archive_2025-10-20/008_admin_portal_expansion.sql
  database/migrations/archive_2025-10-20/009_create_audit_log_table.sql
  database/migrations/archive_2025-10-20/010_performance_indexes.sql
  database/migrations/archive_2025-10-20/010_performance_indexes_README.md
  database/migrations/archive_2025-10-20/011_bdi_orchestration_support.sql
  database/migrations/archive_2025-10-20/012_international_registry_support.sql
  database/migrations/archive_2025-10-20/013_ensure_legal_entities_exist.sql
  database/migrations/archive_2025-10-20/013_ensure_legal_entities_exist_FIXED.sql
  database/migrations/archive_2025-10-20/014_fix_members_without_legal_entity_id.sql
  database/migrations/archive_2025-10-20/014_standardize_timestamp_types_DO_NOT_USE.sql
  database/migrations/archive_2025-10-20/015_add_azure_ad_object_id.sql
  database/migrations/archive_2025-10-20/016_standardize_timestamp_types_FIXED.sql
  database/migrations/archive_2025-10-20/DEPLOYMENT_INSTRUCTIONS.md
  database/migrations/archive_2025-10-20/README_MIGRATIONS.md
  database/migrations/archive_2025-10-20/check_migration_014_status.sql
  database/migrations/archive_2025-10-20/check_table_columns.sql
  database/migrations/archive_2025-10-20/verify_015_migration.sql
  database/queries/check-contargo-kvk.sql
Due: none

chore: Add complete database schema with indexes (asr_dev 2025-10-20)
  database/NEXT_STEPS.md
  database/SCHEMA_REVIEW_2025-10-20.md
  database/current-schema-backup-20251011-182014.sql
  database/current-schema.sql
  database/current_schema.sql
  database/extract_ddl.sql
  database/extract_ddl_standard.sql
  database/extract_schema.sh
  database/get_indexes.sql
  database/schema_indexes.csv
Due: none

docs: Update schema review to reflect completed index addition
  database/SCHEMA_REVIEW_2025-10-20.md
Due: none

docs: Complete database and portal documentation
  database/DATABASE_SCHEMA_MANAGEMENT.md
  docs/AIKIDO_KEY_ROTATION.md
  docs/PORTAL_STATUS_REPORT.md
Due: none

docs: Add comprehensive session summary for October 20, 2025
  docs/SESSION_SUMMARY_2025-10-20.md
Due: none

fix: Resolve Booking Portal 404 errors and TypeScript compilation issues
  booking-portal/web/src/pages/Admin.tsx
  booking-portal/web/src/pages/Bookings.tsx
  booking-portal/web/src/pages/Validation.tsx
  booking-portal/web/staticwebapp.config.json
  docs/COMPLETED_ACTIONS.md
  docs/archive/AUDIT_TRAIL_IMPLEMENTATION_SUMMARY.md
  docs/archive/BUG-008-IMPLEMENTATION-SUMMARY.md
Due: none

fix: Remove API authentication requirement and add funcignore
  booking-portal/api/.funcignore
  booking-portal/web/staticwebapp.config.json
Due: none

feat: Configure booking portal with integrated API deployment
  booking-portal/azure-pipelines.yml
  booking-portal/web/staticwebapp.config.json
Due: none

feat: Migrate booking portal API from Functions v4 to v3
  booking-portal/api/.funcignore
  booking-portal/api/GetBookings/function.json
  booking-portal/api/GetBookings/index.js
  booking-portal/api/GetBookings/index.js.map
  booking-portal/api/GetBookings/index.ts
  booking-portal/api/GetTenants/function.json
  booking-portal/api/GetTenants/index.js
  booking-portal/api/GetTenants/index.js.map
  booking-portal/api/GetTenants/index.ts
  booking-portal/api/UploadDocument/function.json
  booking-portal/api/UploadDocument/index.js
  booking-portal/api/UploadDocument/index.js.map
  booking-portal/api/UploadDocument/index.ts
  booking-portal/api/ValidateBooking/function.json
  booking-portal/api/ValidateBooking/index.js
  booking-portal/api/ValidateBooking/index.js.map
  booking-portal/api/ValidateBooking/index.ts
  booking-portal/api/package-lock.json
  booking-portal/api/package.json
  booking-portal/api/src/functions/GetBookings.ts
  booking-portal/api/src/functions/GetTenants.ts
  booking-portal/api/src/functions/ValidateBooking.ts
  booking-portal/api/src/models/Booking.ts
  booking-portal/api/src/models/Tenant.ts
  booking-portal/api/tsconfig.json
Due: none
