Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-ADMIN
      RunAsPreJob: true
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-MEMBER
      RunAsPreJob: true
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

feat(security): Strip console.log/debug/info in production builds (SEC-009)
  admin-portal/vite.config.ts
Due: .azure-pipelines/admin-portal.yml

feat(security): Add generic error handler utility (SEC-008 foundation)
  admin-portal/src/utils/errorHandler.ts
Due: .azure-pipelines/admin-portal.yml

feat(security): Implement generic error handling (SEC-008 partial)
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/hooks/useApiError.ts
Due: .azure-pipelines/admin-portal.yml

feat(security): Implement CSRF protection with double-submit cookie pattern (SEC-004)
  admin-portal/package.json
  admin-portal/src/auth/AuthContext.tsx
  admin-portal/src/services/apiV2.ts
  admin-portal/src/services/csrfService.ts
  api/src/middleware/auth.ts
  api/src/middleware/endpointWrapper.ts
  package-lock.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(security): Complete SEC-008 generic error handling for all components
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/KvkDocumentUpload.tsx
Due: .azure-pipelines/admin-portal.yml

feat(security): Implement SEC-009 production console log stripping
  admin-portal/src/auth/AuthContext.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/KvkDocumentUpload.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/index.tsx
  admin-portal/src/pages/MemberRegistrationWizard.tsx
  admin-portal/src/services/auditLogService.ts
  admin-portal/src/utils/logger.ts
Due: .azure-pipelines/admin-portal.yml

feat(security): Implement SEC-005 pragmatic CSP hardening
  admin-portal/public/staticwebapp.config.json
  admin-portal/src/index.tsx
  admin-portal/src/styles/security-utilities.css
  docs/SECURITY_IMPLEMENTATION.md
Due: .azure-pipelines/admin-portal.yml

refactor(code-quality): Implement CR-002 null safety improvements
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/Dashboard.tsx
  admin-portal/src/components/MemberDetailDialog.tsx
  admin-portal/src/utils/safeArray.ts
Due: .azure-pipelines/admin-portal.yml

refactor(code-quality): Implement CR-004 async error logging improvements
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/MemberForm.tsx
Due: .azure-pipelines/admin-portal.yml

docs(code-quality): Complete CR-003/CR-006 API pattern analysis
  docs/API_SERVICE_PATTERNS.md
Due: none

refactor(code-quality): Implement CR-001 Grid Cell type safety (37 components)
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/KvkReviewQueue.tsx
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/ReviewTasks.tsx
  admin-portal/src/components/SubscriptionsGrid.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/components/users/UserManagement.tsx
Due: .azure-pipelines/admin-portal.yml

refactor(code-quality): Complete CR-001 type safety improvements
  admin-portal/src/components/Dashboard.tsx
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/KvkDocumentUpload.tsx
  admin-portal/src/components/KvkRegistryDetails.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/auth/LoginPage.tsx
  admin-portal/src/components/forms/StepperForm.tsx
  admin-portal/src/hooks/useAsync.ts
Due: .azure-pipelines/admin-portal.yml

feat(infrastructure): Eliminate infrastructure drift (INFRA-001 through INFRA-006)
  docs/COMPLETED_ACTIONS.md
  docs/INFRASTRUCTURE_BICEP_MAPPING.md
  infrastructure/bicep/main.bicep
  infrastructure/bicep/modules/automation-account.bicep
  infrastructure/bicep/modules/core-infrastructure.bicep
  infrastructure/bicep/modules/cosmos-db.bicep
  infrastructure/bicep/modules/key-vault-secrets.bicep
  infrastructure/bicep/modules/static-web-apps.bicep
  infrastructure/legacy/main.bicep
  infrastructure/legacy/parameters.dev.json
  infrastructure/readme.md
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

feat(accessibility): Fix WCAG 2.1 AA color contrast issues (DA-001)
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/MembersGrid.css
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/index.tsx
  admin-portal/src/styles/accessibility.css
  admin-portal/src/styles/security-utilities.css
  admin-portal/src/utils/colors.ts
  docs/IMPLEMENTATION_PLAN.md
Due: .azure-pipelines/admin-portal.yml

feat(accessibility): Add ARIA labels infrastructure (DA-002)
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/styles/accessibility.css
  admin-portal/src/utils/aria.ts
Due: .azure-pipelines/admin-portal.yml

feat(accessibility): Complete DA-006, DA-009, DA-010 UX improvements
  admin-portal/src/styles/accessibility.css
  admin-portal/src/utils/emptyStates.ts
  admin-portal/src/utils/successMessages.ts
Due: .azure-pipelines/admin-portal.yml

docs(accessibility): Complete accessibility documentation and implementation plan
  docs/ACCESSIBILITY_IMPLEMENTATION_PLAN.md
  docs/ACCESSIBILITY_TESTING.md
  docs/COMPLETED_ACTIONS.md
  docs/LESSONS_LEARNED.md
Due: none

fix(accessibility): Replace non-compliant inline colors (Phase 1.1-1.2)
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/KvkDocumentUpload.tsx
  admin-portal/src/utils/colors.ts
Due: .azure-pipelines/admin-portal.yml

fix(accessibility): Phase 1 - WCAG 2.1 AA compliance quick wins (DA-001/DA-002)
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/EndpointManagement.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/utils/colors.ts
Due: .azure-pipelines/admin-portal.yml

feat(accessibility): Phase 2 - ARIA roles, validation, and tooltips (DA-004/007/008)
  admin-portal/src/components/ContactForm.tsx
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/EmptyState.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/ProgressIndicator.tsx
Due: .azure-pipelines/admin-portal.yml

feat(accessibility): Phase 3 - Keyboard navigation and skip links (DA-003)
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/ConfirmDialog.tsx
  admin-portal/src/components/SkipToContent.css
  admin-portal/src/components/SkipToContent.tsx
  admin-portal/src/hooks/useKeyboardNav.ts
  docs/KEYBOARD_SHORTCUTS.md
Due: .azure-pipelines/admin-portal.yml

feat(accessibility): Phase 4 - Responsive design for mobile devices (DA-005)
  admin-portal/src/App.tsx
  admin-portal/src/styles/responsive.css
  docs/RESPONSIVE_TESTING.md
Due: .azure-pipelines/admin-portal.yml

fix(booking-portal): Complete DocuFlow Portal improvements
  booking-portal/api/shared/dcsaLocations.ts
  booking-portal/web/public/assets/logos/DIL.png
  booking-portal/web/public/assets/logos/Inland Terminals Group.png
  booking-portal/web/public/assets/logos/VanBerkel.png
  booking-portal/web/public/assets/logos/contargo.png
  booking-portal/web/public/assets/logos/ctn small.png
  booking-portal/web/public/assets/logos/ctn.png
  booking-portal/web/public/assets/logos/portbase.png
  booking-portal/web/src/components/auth/LoginPage.tsx
  booking-portal/web/src/components/validation/TransportOrderForm.tsx
  booking-portal/web/src/kendoLicense.ts
  booking-portal/web/src/main.tsx
Due: none

fix(ci): Add explicit path excludes to booking-portal pipeline trigger
  booking-portal/azure-pipelines.yml
Due: none

test: Trigger pipeline auto-trigger test
  booking-portal/README.md
Due: none

fix(ci): Fix auto-trigger for ALL portal pipelines - critical path filter bug
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: none

test(booking-portal): Verify pipeline auto-triggers on src/ changes
  booking-portal/web/src/components/auth/LoginPage.tsx
Due: none

fix(admin-portal): Resolve TypeScript build errors
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/index.tsx
  admin-portal/src/services/apiV2.ts
  admin-portal/src/services/auditLogService.ts
  admin-portal/src/utils/successMessages.ts
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Resolve remaining TypeScript build errors (batch 2)
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/TierManagement.tsx
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/components/auth/LoginPage.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Resolve TypeScript build errors (batch 3)
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/TasksGrid.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Resolve TypeScript build errors (batch 4 - final)
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/KvkDocumentUpload.tsx
  admin-portal/src/components/KvkRegistryDetails.tsx
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/MemberForm.tsx
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Resolve final TypeScript build errors (batch 5)
  admin-portal/src/components/ConfirmDialog.tsx
  admin-portal/src/components/Dashboard.tsx
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/IdentifiersManager.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Add 'as unknown' to type assertions (batch 6)
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/KvkDocumentUpload.tsx
  admin-portal/src/components/MemberForm.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Simplify type assertions - use 'any' for File uploads, remove unnecessary casts for sanitizeFormData (batch 6 v2)
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/KvkDocumentUpload.tsx
  admin-portal/src/components/MemberForm.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Fix final type assertions and esbuild config (batch 6 v3)
  admin-portal/src/components/MemberForm.tsx
  admin-portal/vite.config.ts
Due: .azure-pipelines/admin-portal.yml

test(member-portal): Add comment to test auto-trigger
  member-portal/src/index.tsx
Due: none

fix(member-portal): Resolve all TypeScript build errors
  member-portal/src/components/DnsVerificationView.tsx
  member-portal/src/components/M2MClientsView.tsx
  member-portal/src/components/icons.tsx
Due: none

debug(admin-portal): Add console logs to troubleshoot view/edit button issue
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Fix React import to enable view button functionality
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Fix React anti-pattern preventing member detail view
  admin-portal/src/components/AdminPortal.tsx
Due: .azure-pipelines/admin-portal.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: portal, api
  .azure-pipelines/terraform.yml: any of: infrastructure
