Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    displayName: Install Node.js 18.x
    inputs:
      versionSpec: 18.x
  - script: 'node --version
  
      npm --version
  
      '
    displayName: Display Node and NPM versions
  - script: 'cd web
  
      npm ci --legacy-peer-deps
  
      '
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-MEMBER
      RunAsPreJob: true
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

docs: Add CRITICAL lesson - always check package.json main field
  CLAUDE.md
Due: none

docs: Add API-first testing strategy to CLAUDE.md and TE agent
  .claude/agents/test-engineer-te.md
  CLAUDE.md
  web/IDENTIFIER_CRUD_BUG_FIX_REPORT.md
  web/e2e/admin-portal/identifiers-crud.spec.ts
Due: .azure-pipelines/admin-portal.yml

feat: Add comprehensive curl-based API test suite
  api/tests/QUICK_START.md
  api/tests/README.md
  api/tests/TEST_SUITE_SUMMARY.md
  api/tests/address-update-test.sh
  api/tests/contact-crud-test.sh
  api/tests/identifier-crud-test.sh
  api/tests/run-all-tests.sh
Due: .azure-pipelines/member-portal.yml

docs: Add frequent commit strategy to trigger automatic builds
  CLAUDE.md
Due: none

feat: Add script to add KvK number to Contargo
  ADD_KVK_TO_CONTARGO_NOW.md
  add-kvk-to-contargo.sh
Due: none

feat: Add comprehensive test suite for Contargo KvK addition
  README_URGENT.md
  web/TEST_EXECUTION_SUMMARY.md
  web/URGENT_ADD_KVK_TO_CONTARGO.md
  web/e2e/urgent/add-kvk-to-contargo.spec.ts
  web/e2e/urgent/contargo-kvk-simple.spec.ts
  web/scripts/add-kvk-to-contargo.js
Due: .azure-pipelines/admin-portal.yml

fix: Resolve "Cannot read private member" error and paginated response parsing
  api/src/functions/CreateIdentifier.ts
  api/src/middleware/auth.ts
  api/src/middleware/endpointWrapper.ts
  web/src/services/apiV2.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

docs: Add lessons learned for method binding and paginated response parsing
  CLAUDE.md
Due: none

feat: Add local credentials file for development setup
  .gitignore
  CLAUDE.md
Due: none

feat: Add Database Expert (DE) agent for schema review and query optimization
  .claude/agents/database-expert-de.md
  CLAUDE.md
  ROADMAP.md
  api/tests/check-contargo-legal-entity.sh
  api/tests/investigate-contargo-kvk.sh
  database/queries/check-contargo-kvk.sql
  web/e2e/bug-investigation/contargo-kvk-visibility-check.spec.ts
  web/e2e/urgent/add-kvk-95944192-fixed.spec.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Integrate MCP servers with specialized agents
  .claude/MCP_SERVER_MAPPING.md
  .claude/agents/code-reviewer-cr.md
  .claude/agents/database-expert-de.md
  .claude/agents/design-analyst-da.md
  .claude/agents/security-analyst-sa.md
  .claude/agents/technical-writer-tw.md
  .claude/agents/test-engineer-te.md
  ADD_KVK_TO_CONTARGO_NOW.md
  CLAUDE.md
  README_URGENT.md
Due: none

feat: Add About page with build information for portal and API
  api/src/essential-index.ts
  api/src/functions/GetVersion.ts
  scripts/generate-version.sh
  web/public/version.json
  web/src/components/About.css
  web/src/components/About.tsx
  web/src/components/AdminPortal.tsx
  web/src/components/AdminSidebar.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: Improve About page styling and conditionally display build info
  web/src/components/About.css
  web/src/components/About.tsx
Due: .azure-pipelines/admin-portal.yml

feat: Refine About page footer and fix card overflow
  web/src/components/About.css
  web/src/components/About.tsx
Due: .azure-pipelines/admin-portal.yml

docs: Add About page card layout fix to low priority roadmap
  ROADMAP.md
Due: none

docs: Add section to re-enable features disabled during KVK debugging
  ROADMAP.md
Due: none

feat: Re-enable Biome lint checks in CI/CD pipelines (report-only mode)
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: none

docs: Mark Biome lint re-enablement tasks as complete
  ROADMAP.md
Due: none

feat: Restore enhanced Application Insights logging for production monitoring
  api/host.json
Due: .azure-pipelines/member-portal.yml

docs: Mark Application Insights logging restoration as complete
  ROADMAP.md
Due: none

docs: Add comprehensive explanation of Biome continueOnError behavior
  docs/BIOME_CONTINUEONERROR_EXPLAINED.md
Due: none

feat: Re-enable all API functions disabled during KVK debugging
  api/src/essential-index.ts
Due: .azure-pipelines/member-portal.yml

docs: Mark API function re-enablement tasks as complete
  ROADMAP.md
Due: none

docs: Mark BUG-002 and BUG-003 as fixed, update release readiness to 83%
  ROADMAP.md
  docs/COMPLETED_ACTIONS.md
Due: none

docs: Update ROADMAP.md and clean repository structure
  ROADMAP.md
  add-kvk-to-contargo.sh
  docs/COMPLETED_ACTIONS.md
  docs/QUICK_DIAGNOSTIC_GUIDE.md
  docs/archive/URGENT_ADD_KVK_TO_CONTARGO.md
  docs/archive/URGENT_PRODUCTION_DIAGNOSTIC_REPORT.md
  docs/bugs/BUG_FIX_REPORT_2025-10-15.md
  docs/bugs/IDENTIFIER_CRUD_BUG_FIX_REPORT.md
  docs/testing/IDENTIFIER_ENDPOINTS_TEST_REPORT.md
  docs/testing/TEST_EXECUTION_REPORT.md
  docs/testing/TEST_EXECUTION_SUMMARY.md
  web/TEST_EXECUTION_REPORT.md
  web/TEST_EXECUTION_SUMMARY.md
Due: .azure-pipelines/admin-portal.yml

fix: Implement server-side pagination for Members grid to resolve loading timeout (BUG-001)
  web/src/components/AdminPortal.tsx
  web/src/components/Dashboard.tsx
  web/src/components/MembersGrid.tsx
  web/src/services/api.ts
  web/src/services/apiV2.ts
Due: .azure-pipelines/admin-portal.yml

fix: Resolve BUG-004, BUG-005, and language dropdown contrast issues (UX/Accessibility)
  ROADMAP.md
  docs/COMPLETED_ACTIONS.md
  web/src/components/IdentifiersManager.css
  web/src/components/IdentifiersManager.tsx
  web/src/components/LanguageSwitcher.css
  web/src/components/MemberForm.css
  web/src/components/MemberForm.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Force high contrast on language dropdown items with !important overrides
  web/src/components/LanguageSwitcher.css
Due: .azure-pipelines/admin-portal.yml

feat: Implement i18n translations in key components
  web/src/components/AdminPortal.tsx
  web/src/components/Dashboard.tsx
  web/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Language dropdown contrast with inline styles
  web/src/components/LanguageSwitcher.css
  web/src/components/LanguageSwitcher.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Replace stubbed IdentifierVerificationManager with working KvkDocumentUpload
  ROADMAP.md
  web/src/components/IdentifiersManager.css
  web/src/components/MemberDetailView.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Add authentication to KvkDocumentUpload component
  web/src/components/KvkDocumentUpload.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Add authentication to KvkReviewQueue component
  web/src/components/KvkReviewQueue.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Generate SAS URL for Azure Document Intelligence to access private blob
  api/src/functions/uploadKvkDocument.ts
Due: .azure-pipelines/member-portal.yml

feat: Add comparison of extracted vs entered data in KvK verification
  api/src/functions/uploadKvkDocument.ts
Due: .azure-pipelines/member-portal.yml

fix: Correct table name from legal_entity_identifier to legal_entity_number
  api/src/functions/uploadKvkDocument.ts
Due: .azure-pipelines/member-portal.yml

feat: Add comparison grid to Document Verification tab
  api/src/functions/getKvkVerificationStatus.ts
  web/src/components/KvkDocumentUpload.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Add document verification badges to Identifiers tab
  web/src/components/IdentifiersManager.tsx
Due: .azure-pipelines/admin-portal.yml

feat: Rename KvK Review Queue to Review Tasks and remove token buttons
  api/src/functions/getFlaggedEntities.ts
  web/src/components/AdminPortal.tsx
  web/src/components/AdminSidebar.tsx
  web/src/components/MembersGrid.tsx
  web/src/components/ReviewTasks.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: web
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: portal, api
  .azure-pipelines/terraform.yml: any of: infrastructure
