Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

feat: filter User Management to only show CTN application users
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

fix: convert Set to Array for TypeScript iteration compatibility
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

fix: simplify user filtering to avoid service principal permission issues
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

fix(pipelines): replace AzureStaticWebApp@0 task with SWA CLI deployment
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

chore: update architecture reviewer agent metadata
  .claude/agents/architecture-reviewer-ar.md
Due: none

docs: add Git configuration section to CLAUDE.md
  CLAUDE.md
Due: none

perf(member-portal): add OWASP NVD database caching to speed up builds
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/member-portal.yml

docs: comprehensive CLAUDE.md refresh based on codebase review
  CLAUDE.md
Due: none

chore(pipelines): remove all Aikido security scanning references
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

style(admin-portal): apply Biome auto-fixes (reduced errors from 38 to 29)
  admin-portal/src/auth/authConfig.ts
  admin-portal/src/components/About.css
  admin-portal/src/components/About.tsx
  admin-portal/src/components/KvkRegistryDetails.tsx
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/Settings.tsx
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/services/auditLogService.ts
Due: .azure-pipelines/admin-portal.yml

fix(member-portal): resolve critical Biome errors (21 errors → 8 accessibility warnings)
  member-portal/e2e/member-portal-errors.spec.ts
  member-portal/e2e/security-headers.spec.ts
  member-portal/src/App.tsx
  member-portal/src/components/APIAccessView.tsx
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/EndpointRegistrationWizard.tsx
  member-portal/src/components/M2MClientsView.tsx
  member-portal/src/components/ProfileView.tsx
  member-portal/src/components/RegistrationForm.tsx
  member-portal/src/components/Tokens.tsx
  member-portal/src/components/TokensView.tsx
  member-portal/src/services/apiClient.ts
Due: .azure-pipelines/member-portal.yml

fix(member-portal): resolve all remaining Biome accessibility warnings (8 → 0)
  admin-portal/src/components/About.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/MemberForm.tsx
  admin-portal/src/components/ProgressIndicator.tsx
  member-portal/src/App.tsx
  member-portal/src/components/EndpointsView.tsx
  member-portal/src/components/KvKDocumentUpload.tsx
  member-portal/src/components/LanguageSwitcher.tsx
  member-portal/src/components/M2MClientsView.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

refactor(admin-portal): reduce MemberDetailView complexity from 28 to <15
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/MemberForm.tsx
  admin-portal/src/components/forms/MemberFormSections.tsx
  admin-portal/src/components/identifiers/IdentifierDialogs.tsx
  admin-portal/src/components/identifiers/IdentifiersTable.tsx
  admin-portal/src/components/member/MemberDetailSections.tsx
  admin-portal/src/hooks/useIdentifiers.ts
  admin-portal/src/hooks/useMemberDetails.ts
  admin-portal/src/hooks/useMemberForm.ts
Due: .azure-pipelines/admin-portal.yml

refactor(admin-portal): fix Biome linting issues
  admin-portal/src/components/Settings.tsx
  admin-portal/src/components/TierManagement.tsx
  admin-portal/src/components/identifiers/IdentifierDialogs.tsx
  admin-portal/src/hooks/useIdentifiers.ts
Due: .azure-pipelines/admin-portal.yml

feat(security): add comprehensive security scanning to all pipelines
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/asr-api.yml
  .azure-pipelines/bicep-infrastructure.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

refactor(admin-portal): eliminate all cognitive complexity errors through systematic refactoring
  admin-portal/src/components/KvkDocumentUpload.tsx
  admin-portal/src/components/MemberDetailDialog.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/kvk/KvkDocumentDropzone.tsx
  admin-portal/src/components/kvk/KvkVerificationDisplay.tsx
  admin-portal/src/components/member/MemberDetailTabs.tsx
  admin-portal/src/hooks/useBulkActions.ts
  admin-portal/src/hooks/useKvkDocumentUpload.ts
  admin-portal/src/hooks/useMemberDetailData.ts
  admin-portal/src/hooks/useReviewTasks.ts
  admin-portal/src/hooks/useTaskDialogs.ts
  admin-portal/src/hooks/useTaskManagement.ts
  admin-portal/src/utils/memberSorting.ts
Due: .azure-pipelines/admin-portal.yml

chore(security): add .gitleaksignore for false positives
  .gitleaksignore
Due: none

fix(security): resolve all Semgrep SAST findings
  .gitignore
  .semgrepignore
  admin-portal/scripts/measure-deployed-widths.js
  admin-portal/scripts/measure-with-manual-login.js
  api/scripts/backfill-kvk-registry-data.ts
  api/src/functions/generateBvad.ts
  api/src/middleware/auditLog.ts
  api/src/services/emailTemplateService.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(pipelines): set gitleaks continueOnError to true to prevent build failures
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/asr-api.yml
  .azure-pipelines/bicep-infrastructure.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(testing): add JUnit XML reporter for Azure DevOps test integration
  admin-portal/playwright.config.ts
  member-portal/playwright.config.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix(member-portal): resolve all TypeScript compilation errors
  member-portal/src/App.tsx
  member-portal/src/components/APIAccessView.tsx
  member-portal/src/components/EndpointRegistrationWizard.tsx
  member-portal/src/components/RegistrationForm.tsx
  member-portal/src/types.ts
Due: .azure-pipelines/member-portal.yml

chore: configure gitleaks to ignore secrets from removed repositories
  .gitleaksignore
  gitleaks.toml
Due: none

fix: resolve semgrep security findings (2 blocking issues)
  .gitignore
  .semgrepignore
  api/tests/get-token-and-test-members.js
Due: .azure-pipelines/asr-api.yml

fix: resolve js-yaml prototype pollution vulnerability (CVE GHSA-mh29-5h37-fv8m)
  .npmrc
  package-lock.json
  package.json
Due: none

fix(admin-portal): improve code quality with accessibility and cleanup fixes
  admin-portal/src/components/ReviewTasks.tsx
  admin-portal/src/components/forms/MemberFormSections.tsx
  admin-portal/src/components/forms/ProgressiveSection.tsx
  admin-portal/src/components/forms/StepperForm.tsx
  admin-portal/src/components/help/HelpTooltip.tsx
  admin-portal/src/components/member/MemberDetailSections.tsx
  admin-portal/src/components/members/MembersGridColumns.tsx
  admin-portal/src/hooks/useMemberDetails.ts
  admin-portal/src/pages/MemberRegistrationWizard.tsx
  admin-portal/src/services/api.ts
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): suppress remaining Biome errors with justifications
  admin-portal/src/components/ReviewTasks.tsx
  admin-portal/src/components/member/MemberDetailSections.tsx
  admin-portal/src/hooks/useMemberDetails.ts
Due: .azure-pipelines/admin-portal.yml

fix(pipelines): resolve OWASP workspace warnings with package-lock.json symlinks
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix(admin-portal): show all users with default Member role when app roles not assigned
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

fix(api): use specific semgrep suppression for JWT decode in test script
  api/tests/get-token-and-test-members.js
Due: .azure-pipelines/asr-api.yml

fix(admin-portal): filter users to only show those with CTN app role assignments
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): filter app role assignments to CTN application only
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

debug(admin-portal): add detailed logging to diagnose user filtering issue
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): use service principal appRoleAssignedTo for definitive user list
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

refactor(admin-portal): optimize user listing by eliminating redundant API calls
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): allow Mantine color scheme inline script in CSP
  admin-portal/public/staticwebapp.config.json
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): resolve TypeScript compilation errors in graphService
  admin-portal/src/services/graphService.ts
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): improve role badge color contrast for WCAG AA compliance
  admin-portal/src/components/users/UserManagement.css
Due: .azure-pipelines/admin-portal.yml

docs: update task-manager.md - TASK-DA-004 completed
  task-manager.md
Due: none

feat(admin-portal): add modal focus management for accessibility (TASK-DA-005)
  admin-portal/src/components/users/EditUserDialog.tsx
  admin-portal/src/components/users/InviteUserDialog.tsx
Due: .azure-pipelines/admin-portal.yml

docs: update task-manager.md - TASK-DA-005 completed
  task-manager.md
Due: none

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, .azure-pipelines/admin-portal.yml, but not: api, member-portal, docs, **/*.md
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, docs, **/*.md
  .azure-pipelines/terraform.yml: any of: infrastructure
