Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-ADMIN
      RunAsPreJob: true
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-MEMBER
      RunAsPreJob: true
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

test: add comprehensive member registration workflow tests
  api/tests/member-registration-api-test.sh
  api/tests/member-registration-workflow-test.sh
  docs/MEMBER_REGISTRATION_WORKFLOW_TEST_REPORT.md
  tests/auth.setup.ts
  tests/member-registration-workflow.spec.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

feat(registration): implement KvK document upload with Document Intelligence and KvK API validation
  api/src/functions/registerMember.ts
  member-portal/src/App.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(api): enable multipart/form-data for register-member endpoint
  DEPLOYMENT_REQUIRED.md
  api/src/functions/registerMember.ts
  api/tests/README-MEMBER-REGISTRATION-TEST.md
  api/tests/member-registration-with-kvk-document.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(api): add missing crypto import for randomUUID in registerMember
  api/src/functions/registerMember.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(api): add arrayBuffer method to anonymous authenticatedRequest
  api/src/functions/registerMember.ts
  api/src/middleware/endpointWrapper.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

feat(admin): implement member registration API integration
  admin-portal/src/pages/MemberRegistrationWizard.tsx
Due: .azure-pipelines/admin-portal.yml

feat: implement TODOs #2, #3, #6 - MFA, KvK review, BDI JWKS
  .gitignore
  admin-portal/src/auth/AuthContext.tsx
  admin-portal/src/components/KvkReviewQueue.tsx
  api/package.json
  api/scripts/generate-bdi-keys.js
  api/src/functions/bdiJwks.ts
  package-lock.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

chore: clean up unused packages and dead code
  admin-portal/package.json
  admin-portal/src/App.test.tsx
  admin-portal/tsconfig.json
  api/package.json
  api/src/functions/registerMember.ts
  package-lock.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

feat: implement tasks 1, 4, 5 - User Management, Task Management, Identifier Verification
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/services/graphService.ts
  api/src/essential-index.ts
  database/migrations/008-tasks-table.sql
  database/migrations/009-identifier-verification-history.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

feat(task-5): complete Generic Identifier Verification Backend API
  admin-portal/src/components/IdentifierVerificationManager.tsx
  api/src/essential-index.ts
  api/src/functions/GetIdentifierVerifications.ts
  api/src/functions/UploadIdentifierVerification.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

feat(infrastructure): add Azure Front Door with WAF for admin and member portals
  docs/FRONT_DOOR_WAF_SETUP.md
  infrastructure/bicep/main.bicep
  infrastructure/bicep/modules/front-door.bicep
  infrastructure/bicep/modules/waf-policy.bicep
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

fix(deployment): register Task 5 and Task Management endpoints in index.ts
  api/src/index.ts
  api/tests/API_TEST_REPORT_2025-11-06.md
  api/tests/COMPREHENSIVE_TEST_REPORT_2025-11-06.md
  api/tests/COMPREHENSIVE_TEST_REPORT_2025-11-06_08-04-17.md
  api/tests/EXECUTIVE_SUMMARY_2025-11-06.md
  api/tests/README.md
  api/tests/comprehensive-api-test-final.sh
  api/tests/comprehensive-deployment-test.sh
  api/tests/get-token.sh
  api/tests/simple-endpoint-test.sh
  api/tests/test-existing-endpoints.sh
  api/tests/test-identifier-verifications.sh
  api/tests/test-new-endpoints.sh
  database/migrations/022_identifier_verification_history.sql
  docs/COMPLETED_ACTIONS.md
  docs/DEPLOYMENT_REQUIRED.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(api): resolve identifier verification upload and task management table issues
  api/src/functions/UploadIdentifierVerification.ts
  database/migrations/008-tasks-table.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(api): correct UploadIdentifierVerification endpoint wrapper
  api/src/functions/UploadIdentifierVerification.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(db): add missing columns to admin_tasks table
  database/migrations/008-tasks-table-fix.sql
  database/migrations/run-008-fix.sh
Due: none

docs(investigation): add comprehensive endpoint testing report
  INVESTIGATION_REPORT_2025-11-06.md
  database/migrations/008-tasks-table-fix-2.sql
Due: none

fix(api): resolve getTasks route conflict with createTask
  INVESTIGATION_REPORT_2025-11-06.md
  api/src/functions/getTasks.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

docs: add routing conflict investigation to completed actions
  docs/COMPLETED_ACTIONS.md
Due: none

docs: add final test results and verification guide
  FINAL_TEST_RESULTS.md
  api/tests/test-tasks-endpoints.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

docs: add INFRA-002 completion and lesson #38 (WAF Bicep naming)
  CLAUDE.md
  docs/COMPLETED_ACTIONS.md
Due: none

fix(ui): standardize content width across all admin portal pages
  admin-portal/src/components/Dashboard.css
  admin-portal/src/components/Settings.css
  admin-portal/src/components/TasksGrid.css
Due: .azure-pipelines/admin-portal.yml

fix(types): resolve TypeScript compilation errors blocking deployment
  admin-portal/src/components/IdentifierVerificationManager.tsx
  admin-portal/src/components/TasksGrid.tsx
  infrastructure/bicep/deploy-frontdoor-only.bicep
  infrastructure/bicep/modules/front-door.bicep
  infrastructure/bicep/modules/waf-policy-basic.bicep
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

fix(ui): remove DIL logo from footer to match login page
  admin-portal/src/components/AdminPortal.tsx
Due: .azure-pipelines/admin-portal.yml

docs: add Front Door URLs and fix Azure AD redirect URIs
  CLAUDE.md
  README.md
  tests/KvK-DNC-95944192.pdf
Due: none

fix(auth): remove hardcoded redirect URI from production config
  admin-portal/.env.production
Due: .azure-pipelines/admin-portal.yml

debug(auth): add explicit console logging for authentication flow
  admin-portal/src/auth/AuthContext.tsx
  docs/COMPLETED_ACTIONS.md
Due: .azure-pipelines/admin-portal.yml

fix(security): allow Microsoft authentication iframes in CSP
  admin-portal/public/staticwebapp.config.json
Due: .azure-pipelines/admin-portal.yml

debug(auth): use console.error for production debug logging
  admin-portal/src/auth/AuthContext.tsx
Due: .azure-pipelines/admin-portal.yml

fix(auth): Bypass client-side MFA check, trust Conditional Access
  admin-portal/.env.production
  docs/COMPLETED_ACTIONS.md
Due: .azure-pipelines/admin-portal.yml

docs: Update AUTH-FIX-002 with final solution and commit hash
  docs/COMPLETED_ACTIONS.md
Due: none

fix(auth): Add VITE_REQUIRE_MFA=false to .env.production
  admin-portal/.env.production
Due: .azure-pipelines/admin-portal.yml

#20251106.2 fix(ui): standardize content width across all admin portal pages
  admin-portal/.env.development
Due: .azure-pipelines/admin-portal.yml

fix(footer): update copyright to 'Connected Trade Network'
  admin-portal/src/components/AdminPortal.tsx
Due: .azure-pipelines/admin-portal.yml

feat(members): add member status update functionality
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/services/apiV2.ts
  api/src/essential-index.ts
  api/src/functions/UpdateMemberStatus.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(members): add missing imports and case-insensitive status check
  admin-portal/src/components/MemberDetailView.tsx
Due: .azure-pipelines/admin-portal.yml

fix(api): correct route parameter casing in UpdateMemberStatus
  api/src/functions/UpdateMemberStatus.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(api): add missing UpdateMemberStatus import to index.ts
  api/src/index.ts
  scripts/quick-check.sh
  scripts/verify-deployment-sync.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

docs: add UpdateMemberStatus API test results and Lesson #38
  .gitignore
  docs/COMPLETED_ACTIONS.md
  docs/TEST_RESULTS_UpdateMemberStatus_2025-11-06.md
Due: none

feat(workflow): add deployment verification safety net scripts
  CLAUDE.md
Due: none

feat(auth): add Zitadel M2M authentication infrastructure
  .claude/MCP_SERVER_MAPPING.md
  .claude/agents/architecture-reviewer-ar.md
  .claude/agents/devops-guardian-dg.md
  .claude/agents/technical-writer-tw.md
  .env.zitadel.example
  .gitignore
  ZITADEL_README.md
  api/src/middleware/zitadel-auth.ts
  database/migrations/023-zitadel-m2m-credentials.sql
  docker-compose.zitadel.yml
  docs/ZITADEL_M2M_SETUP.md
  examples/m2m-auth-flow.js
  scripts/setup-zitadel-m2m.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal, docs, **/*.md
  .azure-pipelines/terraform.yml: any of: infrastructure
