Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-ADMIN
      RunAsPreJob: true
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-MEMBER
      RunAsPreJob: true
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

fix: Prevent audit_logs failure from breaking KvK verification + show last verified date
  admin-portal/src/components/KvkDocumentUpload.tsx
  api/src/functions/uploadKvkDocument.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Add missing npm install steps and Rollup Linux binary for portal pipelines
  booking-portal/azure-pipelines.yml
  member-portal/package.json
Due: none

docs: Add comprehensive unmerged branches analysis for safe merge planning
  docs/UNMERGED_BRANCHES_DETAILED_ANALYSIS.md
Due: none

fix: Correct member portal API routes for contacts and endpoints
  member-portal/src/components/ContactsView.tsx
  member-portal/src/components/EndpointsView.tsx
Due: none

fix: Add EUID field to GetMembers SQL query
  api/src/functions/GetMembers.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

refactor: Remove Portbase logo from booking portal login page
  booking-portal/web/src/components/auth/LoginPage.tsx
Due: none

feat: Add Architecture Reviewer (AR) agent
  .claude/agents/architecture-reviewer-ar.md
  CLAUDE.md
Due: none

chore: Remove debug artifacts and prevent future tracking
  .gitignore
  admin-portal/diagnostic-01-entity-loaded.png
  admin-portal/diagnostic-02-before-add.png
  admin-portal/diagnostic-03-dialog-open.png
  admin-portal/diagnostic-error-no-add-button.png
Due: .azure-pipelines/admin-portal.yml

docs: Clean up unmerged branches analysis document
  docs/UNMERGED_BRANCHES_DETAILED_ANALYSIS.md
Due: none

docs: Mark async processing commits as already in main
  docs/UNMERGED_BRANCHES_DETAILED_ANALYSIS.md
Due: none

chore: Trigger admin portal deployment to fix GetMembers authentication
  admin-portal/ADMIN_DEPLOYMENT_TRIGGER.txt
Due: .azure-pipelines/admin-portal.yml

fix: GetMembers query to join with legal_entity_number for LEI/KVK/EUID
  api/src/functions/GetMembers.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

chore: Trigger DocuFlow deployment after backend fix
  booking-portal/DEPLOYMENT_TRIGGER.txt
Due: none

fix: Trigger ASR API pipeline with GetMembers fix
  api/DEPLOYMENT_TRIGGER.txt
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Deploy GetMembers fix and trigger API pipeline
  api/DEPLOYMENT_TRIGGER.txt
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Disable unstable useBlocker API to fix DocuFlow white page
  booking-portal/web/package-lock.json
  booking-portal/web/src/pages/Validation.tsx
Due: none

fix: Remove all blocker references to completely fix DocuFlow
  booking-portal/web/src/pages/Validation.tsx
Due: none

chore: Complete DocuFlow rebrand and improve .gitignore
  .gitignore
  booking-portal/web/src/components/Header.tsx
Due: none

fix: Correct UploadDocument API route to match frontend
  booking-portal/api/UploadDocument/function.json
Due: none

fix: Add GetProcessingJob to tsconfig.json for compilation
  booking-portal/api/tsconfig.json
Due: none

fix: Use connection string for Blob Storage to avoid DefaultAzureCredential conflicts
  booking-portal/api/UploadDocument/index.ts
  booking-portal/api/shared/services/BlobStorageService.ts
Due: none

feat: Restore Google Maps journey visualization on validation screen
  booking-portal/web/src/components/JourneyMap.tsx
  booking-portal/web/src/pages/Validation.tsx
Due: none

docs: Add infrastructure mapping and repository audit tasks
  docs/INFRASTRUCTURE_BICEP_MAPPING.md
  docs/UNMERGED_BRANCHES_DETAILED_ANALYSIS.md
Due: none

feat: Add three-tier authentication system for member portal
  api/src/functions/DnsReverificationJob.ts
  api/src/functions/TierManagement.ts
  api/src/middleware/tierAuthorization.ts
  api/src/services/dnsVerificationService.ts
  api/src/services/tierService.ts
  database/migrations/015_three_tier_authentication.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Resolve TypeScript compilation errors in tier authentication
  api/src/functions/DnsReverificationJob.ts
  api/src/functions/TierManagement.ts
  api/src/middleware/tierAuthorization.ts
  api/src/services/dnsVerificationService.ts
  api/src/services/tierService.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat: Add tier selection to member registration wizard
  admin-portal/src/components/MemberForm.tsx
  admin-portal/src/config/helpContent.ts
  admin-portal/src/utils/validation.ts
  api/src/functions/CreateMember.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat: Add 'Register as Member' button to member portal
  member-portal/src/App.tsx
Due: none

feat: Add DNS verification component and tier display to member portal
  member-portal/src/App.tsx
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/DnsVerificationView.tsx
Due: none

feat: Complete tier management UI in admin portal
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/TierManagement.tsx
  admin-portal/src/services/apiV2.ts
Due: .azure-pipelines/admin-portal.yml

fix: Register TierManagement functions in API index
  api/src/index.ts
  api/tests/tier-authentication-test.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Use lowercase route parameters in TierManagement endpoints
  api/src/functions/TierManagement.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

test: Add comprehensive tier authentication API test suite
  api/tests/TIER_AUTHENTICATION_TEST_REPORT.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

docs: Document three-tier authentication implementation
  docs/COMPLETED_ACTIONS.md
  docs/THREE_TIER_AUTHENTICATION.md
Due: none

security: Fix IDOR vulnerabilities in Member Portal APIs (CRITICAL)
  api/src/functions/GetMemberContacts.ts
  api/src/functions/GetMemberEndpoints.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Register GetMemberContacts and GetMemberEndpoints in API index
  api/src/index.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

test: Add comprehensive IDOR security test suite with full verification
  api/tests/IDOR_SECURITY_TEST_REPORT.md
  api/tests/IDOR_TEST_SUMMARY.md
  api/tests/idor-security-test.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

security: Add session management to admin portal (SEC-001/002/003)
  admin-portal/src/auth/AuthContext.tsx
Due: .azure-pipelines/admin-portal.yml

feat(security): Add DOMPurify XSS prevention to forms and grids (SEC-006/007)
  admin-portal/package.json
  admin-portal/src/components/CompanyForm.tsx
  admin-portal/src/components/ContactForm.tsx
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/M2MClientsManager.tsx
  admin-portal/src/components/MemberForm.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/utils/sanitize.ts
  package-lock.json
Due: .azure-pipelines/admin-portal.yml

docs: Add XSS prevention documentation (SEC-006/007)
  docs/COMPLETED_ACTIONS.md
  docs/SECURITY_IMPLEMENTATION.md
Due: none

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: portal, api
  .azure-pipelines/terraform.yml: any of: infrastructure
