Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/playwright-tests.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/api-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: APITests
    displayName: Run API Tests
    jobs:
    - job: RunTests
      displayName: Execute API Test Suite
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/container-app-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and Push
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      steps:
      - task: AzureCLI@2
        displayName: Build and Push Docker image
        inputs:
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/playwright-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Test
    displayName: E2E Testing
    jobs:
    - job: PlaywrightTests
      displayName: Run Playwright Tests
      timeoutInMinutes: 30
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

fix(security): add .trivyignore for xlsx vulnerability
  admin-portal/.trivyignore
  member-portal/.trivyignore
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix(devops): update portal pipelines to use .trivyignore
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix(security): upgrade multer to 2.0.2 to fix CVEs
  api/package.json
  package-lock.json
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(member-portal): use correct VITE_API_URL variable and update CSP
  member-portal/.env.production
  member-portal/public/staticwebapp.config.json
Due: .azure-pipelines/member-portal.yml

chore(devops): remove obsolete Azure Functions pipeline
  .azure-pipelines/asr-api.yml
Due: .azure-pipelines/asr-api.yml

docs: update pipeline name to Association-Register-Backend
  .azure-pipelines/admin-portal.yml.new
  .azure-pipelines/asr-api.yml.new
  .azure-pipelines/member-portal.yml.new
  CLAUDE.md
Due: none

fix(member-portal): update fallback API URL to Container Apps
  member-portal/src/services/apiClient.ts
Due: .azure-pipelines/member-portal.yml

fix(admin-portal): add /v1 to API URL and update fallback
  admin-portal/.env.production
  admin-portal/src/services/apiClient.ts
Due: .azure-pipelines/admin-portal.yml

fix(api): correct database queries for members, audit-logs, and tasks endpoints
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(scripts): update smoke-test to use Container Apps API URL
  scripts/smoke-test.sh
Due: none

fix(member-portal): add /v1 to VITE_API_BASE_URL in pipeline
  .azure-pipelines/member-portal.yml
Due: .azure-pipelines/member-portal.yml

docs: add overnight test fix status report
  docs/overnight-test-fix-status.md
Due: none

fix(api): add /v1/all-members route for Container Apps
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(api): migrate all Azure Functions routes to Express
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): implement full /v1/member endpoint for member portal
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

test(api): add comprehensive deployment test suite
  api/package.json
  tests/api/deployment/m2m.test.js
  tests/api/deployment/run-all.js
  tests/api/deployment/smoke.test.js
  tests/api/deployment/workflows.test.js
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): implement full JWT validation in Express routes
  CLAUDE.md
  api/.funcignore
  api/host.json
  api/package.json
  api/src/functions/host.json
  api/src/routes.ts
  infrastructure/bicep/modules/function-app.bicep
  infrastructure/modules/function-app.bicep
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/terraform.yml

chore: complete Azure Functions to Container Apps migration cleanup
  CLAUDE.md
  admin-portal/.env.example
  admin-portal/playwright.config.ts
  api/.dockerignore
  api/src/server.ts
  member-portal/.env.example
  member-portal/playwright.config.ts
  tests/README-LOCAL-TESTING.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml

refactor(infrastructure): consolidate Bicep files into unified structure
  .azure-pipelines/container-app-api.yml
  CLAUDE.md
  infrastructure/bicep/container-app.bicep
  infrastructure/bicep/main.bicep
  infrastructure/legacy/main.bicep
  infrastructure/legacy/parameters.dev.json
  infrastructure/modules/app-insights.bicep
  infrastructure/modules/app-service-plan.bicep
  infrastructure/modules/blob-storage.bicep
  infrastructure/modules/communication-services.bicep
  infrastructure/modules/event-grid.bicep
  infrastructure/modules/key-vault.bicep
  infrastructure/modules/sql-server.bicep
  infrastructure/modules/static-web-app.bicep
  infrastructure/modules/storage-account.bicep
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/terraform.yml

fix(api): add missing GET routes and update test schema
  api/src/routes.ts
  docs/FUNCTION_APP_DELETION_CHECKLIST.md
  infrastructure/health-monitoring-alerts.sh
  tests/api/deployment/contacts.test.js
  tests/api/deployment/identifiers.test.js
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/terraform.yml

fix(api): add status field to DNS verification token response
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(tests): correct API route paths in smoke tests
  tests/api/deployment/smoke.test.js
Due: none

refactor(tests): rewrite workflow tests for /register-member endpoint
  tests/api/deployment/utils.js
  tests/api/deployment/workflows.test.js
Due: none

fix(tests): add symlinks for admin portal playwright fixtures
  tests/admin-portal/playwright/.auth
  tests/admin-portal/playwright/fixtures.ts
  tests/admin-portal/playwright/global-setup.ts
Due: none

feat(infrastructure): consolidate Log Analytics and add Container Apps alerts
  infrastructure/bicep/container-app.bicep
  infrastructure/bicep/modules/container-app-alerts.bicep
  infrastructure/bicep/modules/core-infrastructure.bicep
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

docs(CLAUDE.md): document Log Analytics consolidation and monitoring setup
  CLAUDE.md
Due: none

chore(api): trigger redeployment with updated routes
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): prevent DNS token duplicate key constraint violation
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): correct database column names to match schema
  api/src/routes.ts
  tests/api/deployment/quick-check.js
  tests/db-test.js
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): correct database schema column names in all CRUD operations
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

chore(api): trigger deployment pipeline for schema fixes
  api/README.md
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api,db): complete schema column name fixes and add identifier metadata
  database/migrations/027_add_identifier_metadata_columns.sql
  database/migrations/APPLY_027.md
  tests/api/deployment/check-contacts-schema.js
  tests/api/deployment/contacts.test.js
  tests/api/deployment/identifiers.test.js
  tests/api/deployment/verify-deployment.js
Due: none

fix(api): add legal_entity_id field to members endpoints for backward compatibility
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(db): add migration 028 to eliminate org_id in favor of legal_entity_id
  database/migrations/028_fix_members_view_use_legal_entity_id.sql
  database/migrations/APPLY_028.md
Due: none

fix(api): remove org_id aliases after migration 028 - use legal_entity_id directly
  api/src/routes.ts
  database/migrations/033_fix_audit_logs_references.md
  database/migrations/APPLY_027.md
  database/migrations/APPLY_028.md
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(admin-portal): replace all org_id references with legal_entity_id
  admin-portal/src/components/AdvancedFilter.tsx
  admin-portal/src/components/MemberDetailDialog.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/MemberForm.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/components/forms/MemberFormSections.tsx
  admin-portal/src/components/member/MemberDetailTabs.tsx
  admin-portal/src/components/members/MembersGridActions.tsx
  admin-portal/src/components/members/MembersGridColumns.tsx
  admin-portal/src/config/helpContent.ts
  admin-portal/src/hooks/useBulkActions.ts
  admin-portal/src/hooks/useMemberForm.ts
  admin-portal/src/hooks/useMembersGridState.ts
  admin-portal/src/pages/MemberRegistrationWizard.tsx
  admin-portal/src/services/api/index.ts
  admin-portal/src/services/api/members.ts
  admin-portal/src/services/api/types.ts
  admin-portal/src/utils/exportUtils.ts
  admin-portal/src/utils/validation.ts
Due: .azure-pipelines/admin-portal.yml

feat(api): add detailed error logging for legal-entities endpoints
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, .azure-pipelines/admin-portal.yml, but not: api, member-portal, docs, **/*.md
  .azure-pipelines/api-tests.yml: any of: api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/container-app-api.yml: any of: api, infrastructure/container-app.bicep, .azure-pipelines/container-app-api.yml
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, docs, **/*.md
  .azure-pipelines/playwright-tests.yml: any of: admin-portal/e2e, member-portal/e2e, tests/*.setup.ts, playwright.config.ts
  .azure-pipelines/terraform.yml: any of: infrastructure
