Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-ADMIN
      RunAsPreJob: true
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-MEMBER
      RunAsPreJob: true
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

fix: Use pre-built api-client dist files instead of building in pipeline
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: none

fix: Only run npm ci at root level for monorepo workspace
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: none

fix: Prevent crash when i18n.language is undefined in LanguageSwitcher
  portal/src/components/LanguageSwitcher.tsx
  web/src/components/LanguageSwitcher.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Replace Azure Document Intelligence with Claude API extraction
  booking-portal/IMPLEMENTATION_PLAN.md
  booking-portal/api/AddToKnowledgeBase/function.json
  booking-portal/api/AddToKnowledgeBase/index.ts
  booking-portal/api/GetBookings/index.js
  booking-portal/api/GetBookings/index.js.map
  booking-portal/api/GetBookings/index.ts
  booking-portal/api/UploadDocument/index.js
  booking-portal/api/UploadDocument/index.js.map
  booking-portal/api/UploadDocument/index.ts
  booking-portal/api/package-lock.json
  booking-portal/api/package.json
  booking-portal/api/shared/claudeExtractor.js
  booking-portal/api/shared/claudeExtractor.js.map
  booking-portal/api/shared/claudeExtractor.ts
  booking-portal/api/shared/dcsaSchemas.js
  booking-portal/api/shared/dcsaSchemas.js.map
  booking-portal/api/shared/dcsaSchemas.ts
  booking-portal/api/shared/documentClassifier.js
  booking-portal/api/shared/documentClassifier.js.map
  booking-portal/api/shared/documentClassifier.ts
  booking-portal/api/shared/knowledgeBase.js
  booking-portal/api/shared/knowledgeBase.js.map
  booking-portal/api/shared/knowledgeBase.ts
  booking-portal/api/shared/pdfExtractor.js
  booking-portal/api/shared/pdfExtractor.js.map
  booking-portal/api/shared/pdfExtractor.ts
  packages/api-client/package.json
Due: none

fix: Explicitly pass VITE_* env vars to build step
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/member-portal.yml
Due: none

fix: Disable i18n HttpBackend and useSuspense to resolve white page issue
  web/src/i18n.ts
Due: .azure-pipelines/admin-portal.yml

docs: Add Lesson #24 - i18n HttpBackend + useSuspense causes white page
  CLAUDE.md
  docs/LESSONS_LEARNED.md
Due: none

fix: Replace lucide-react with emoji icons and downgrade react-router-dom
  package-lock.json
  web/e2e/portal-smoke-test.spec.ts
  web/package.json
  web/src/components/About.tsx
  web/src/components/AdminPortal.tsx
  web/src/components/AdminSidebar.tsx
  web/src/components/ContactsManager.tsx
  web/src/components/EndpointManagement.tsx
  web/src/components/ErrorBoundary.tsx
  web/src/components/HealthDashboard.tsx
  web/src/components/IdentifierVerificationManager.tsx
  web/src/components/IdentifiersManager.tsx
  web/src/components/MemberDetailView.tsx
  web/src/components/NotFound.tsx
  web/src/components/ReviewTasks.tsx
  web/src/components/Settings.tsx
  web/src/components/TokensManager.tsx
  web/src/components/audit/AuditLogViewer.tsx
  web/src/components/auth/LoginPage.tsx
  web/src/components/auth/MFARequired.tsx
  web/src/components/auth/Unauthorized.tsx
  web/src/components/icons.tsx
  web/src/components/users/EditUserDialog.tsx
  web/src/components/users/InviteUserDialog.tsx
  web/src/components/users/UserManagement.tsx
Due: .azure-pipelines/admin-portal.yml

refactor: Remove unused dependencies and sync LanguageSwitcher styles
  package-lock.json
  portal/package.json
  portal/src/components/LanguageSwitcher.tsx
  web/package.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: Force single React instance to resolve useContext error
  package-lock.json
  portal/package.json
  portal/vite.config.ts
  web/vite.config.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: Add define config to map process.env to import.meta.env for Azure deployment
  web/vite.config.ts
Due: .azure-pipelines/admin-portal.yml

fix: Replace process.env with import.meta.env for proper Vite env injection
  web/src/auth/authConfig.ts
  web/src/components/About.tsx
  web/src/components/EndpointManagement.tsx
  web/src/components/IdentifierVerificationManager.tsx
  web/src/components/IdentifiersManager.tsx
  web/src/components/KvkDocumentUpload.tsx
  web/src/components/KvkReviewQueue.tsx
  web/src/components/NewslettersGrid.tsx
  web/src/components/ReviewTasks.tsx
  web/src/components/SubscriptionsGrid.tsx
  web/src/components/TasksGrid.tsx
  web/src/components/TokensManager.tsx
  web/src/services/api.ts
  web/src/services/apiV2.ts
  web/src/services/auditLogService.ts
  web/vite.config.ts
Due: .azure-pipelines/admin-portal.yml

fix: Configure Vite to handle react-dom/server for Kendo Excel Export
  web/vite.config.ts
Due: .azure-pipelines/admin-portal.yml

fix: Remove incorrect Kendo 12.1.0 dependencies from root package.json
  package-lock.json
  package.json
Due: none

chore: Trigger pipeline with package.json fixes
  web/.pipeline-test
Due: .azure-pipelines/admin-portal.yml

feat: Connect Dashboard to real API and update pdf-parse to v2
  booking-portal/api/shared/pdfExtractor.js
  booking-portal/api/shared/pdfExtractor.js.map
  booking-portal/api/shared/pdfExtractor.ts
  booking-portal/web/src/pages/Dashboard.tsx
Due: none

feat: Enable AddToKnowledgeBase function compilation and deployment
  booking-portal/api/AddToKnowledgeBase/index.js
  booking-portal/api/AddToKnowledgeBase/index.js.map
  booking-portal/api/tsconfig.json
Due: none

fix: Configure Vite to prefer browser builds over Node.js builds
  web/vite.config.ts
Due: .azure-pipelines/admin-portal.yml

fix: Revert pdf-parse to v1 API to resolve upload 500 error
  booking-portal/api/shared/pdfExtractor.js
  booking-portal/api/shared/pdfExtractor.js.map
  booking-portal/api/shared/pdfExtractor.ts
  web/src/react-dom-server-stub.js
  web/vite.config.ts
Due: .azure-pipelines/admin-portal.yml

fix: Temporarily disable Excel Export to resolve react-dom/server error
  web/src/components/MembersGrid.tsx
  web/src/components/NewslettersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

chore: Update Excel export to show Coming Soon instead of alert
  web/src/components/MembersGrid.tsx
  web/src/components/NewslettersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

chore: Remove @progress/kendo-react-excel-export
  package-lock.json
  package.json
Due: none

feat: Replace Newsletters and Subscriptions with Coming Soon placeholders
  web/src/components/ComingSoonPlaceholder.tsx
  web/src/components/NewslettersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

docs: Add critical lesson about concurrent Claude Code sessions
  CLAUDE.md
Due: none

fix: Prevent infinite re-render loop causing error notification spam
  web/src/components/AdminPortal.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Admin portal UI improvements
  web/src/components/AdminSidebar.tsx
  web/src/components/HealthDashboard.tsx
  web/src/components/MembersGrid.tsx
  web/src/components/icons.tsx
Due: .azure-pipelines/admin-portal.yml

docs: Update implementation plan with completed tasks
  IMPLEMENTATION_PLAN.md
Due: none

feat: Add EUID auto-generation feature for KvK identifiers
  api/src/essential-index.ts
  api/src/functions/CreateIdentifier.ts
  api/src/functions/GenerateEUID.ts
  api/src/functions/UpdateIdentifier.ts
  api/src/services/euidService.ts
  api/tests/euid-generation-test.sh
  web/src/components/IdentifiersManager.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Add LEI enrichment feature with GLEIF API integration
  api/src/essential-index.ts
  api/src/functions/FetchLEI.ts
  api/src/services/leiService.ts
  web/src/components/IdentifiersManager.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: Improve error messages for duplicate identifier conflicts
  web/src/components/IdentifiersManager.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Add TypeScript types for LEI fetch response
  web/src/components/IdentifiersManager.tsx
Due: .azure-pipelines/admin-portal.yml

chore: trigger pipeline deployment to fix admin portal 404 errors
  api/README.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

docs: Add critical lesson about deployment sync issues (Oct 25)
  CLAUDE.md
Due: none

fix: Replace index.ts with essential-index.ts to fix function registration
  api/src/index.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

fix: Update package.json main to point to dist/index.js
  api/package.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

feat: Add comprehensive Function App hardening and diagnostics
  api/src/index.ts
  api/src/utils/startup-diagnostics.ts
  docs/FUNCTION_APP_HARDENING.md
  infrastructure/azure-monitor-alerts.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

fix: Update pipeline to use admin-portal directory instead of web
  .azure-pipelines/admin-portal.yml
Due: none

fix: Add pipeline file to trigger paths and update test marker
  .azure-pipelines/admin-portal.yml
  admin-portal/.pipeline-test
Due: none

fix: Update workspace from web to admin-portal in root package.json
  package.json
Due: none

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: web, api
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: portal, api
  .azure-pipelines/terraform.yml: any of: infrastructure
