Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/playwright-tests.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/api-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: APITests
    displayName: Run API Tests
    jobs:
    - job: RunTests
      displayName: Execute API Test Suite
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/container-app-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and Push
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      steps:
      - task: AzureCLI@2
        displayName: Build and Push Docker image
        inputs:
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/playwright-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Test
    displayName: E2E Testing
    jobs:
    - job: PlaywrightTests
      displayName: Run Playwright Tests
      timeoutInMinutes: 30
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

feat: add EORI validation and Belgium/EORI registry tabs
  admin-portal/src/components/BelgiumRegistryDetails.tsx
  admin-portal/src/components/EoriRegistryDetails.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/components/member/MemberDetailSections.tsx
  admin-portal/src/hooks/useMemberDetails.ts
  admin-portal/src/services/api/index.ts
  admin-portal/src/services/api/legalEntities.ts
  api/src/routes.ts
  api/src/services/eoriService.ts
  database/migrations/062_eori_registry_data.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

refactor: simplify identifier edit modal
  admin-portal/src/components/identifiers/IdentifierDialogs.tsx
Due: .azure-pipelines/admin-portal.yml

fix: correct EORI SOAP request namespace format
  api/src/services/eoriService.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix: use correct ON CONFLICT syntax for EORI registry upsert
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

refactor: begin routes.ts modularization with new architecture
  api/docs/ROUTES_ARCHITECTURE_DIAGRAM.md
  api/docs/ROUTES_REFACTORING_PLAN.md
  api/docs/ROUTES_REFACTORING_QUICKSTART.md
  api/src/controllers/eori.controller.ts
  api/src/controllers/system.controller.ts
  api/src/routes/index.ts
  api/src/routes/middleware/requireAuth.ts
  api/src/routes/v1/eori.routes.ts
  api/src/routes/v1/index.ts
  api/src/routes/v1/system.routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

style: narrow City, CC, and EUID columns in MembersGrid
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

style: standardize validation badge across all registry tabs
  admin-portal/src/components/BelgiumRegistryDetails.tsx
  admin-portal/src/components/EoriRegistryDetails.tsx
  admin-portal/src/components/GermanRegistryDetails.css
  admin-portal/src/components/GermanRegistryDetails.tsx
  admin-portal/src/components/KvkRegistryDetails.css
  admin-portal/src/components/KvkRegistryDetails.tsx
  admin-portal/src/components/LeiRegistryDetails.css
  admin-portal/src/components/LeiRegistryDetails.tsx
  admin-portal/src/components/PeppolRegistryDetails.css
  admin-portal/src/components/PeppolRegistryDetails.tsx
  admin-portal/src/components/ViesRegistryDetails.css
  admin-portal/src/components/ViesRegistryDetails.tsx
Due: .azure-pipelines/admin-portal.yml

fix: add Google Maps to CSP frame-src whitelist
  admin-portal/public/staticwebapp.config.json
  member-portal/public/staticwebapp.config.json
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/member-portal.yml

chore: reduce container app max replicas to 1
  infrastructure/bicep/container-app.bicep
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

chore: remove expensive Azure resources for cost savings
  infrastructure/bicep/main.bicep
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

feat: add GitHub Actions workflows for CI/CD migration
  .github/workflows/admin-portal.yml
  .github/workflows/api.yml
  .github/workflows/bicep-infrastructure.yml
  .github/workflows/member-portal.yml
Due: none

fix: correct workflow path syntax (cannot use paths + paths-ignore together)
  .github/workflows/admin-portal.yml
  .github/workflows/member-portal.yml
Due: none

fix: simplify portal workflows - remove staging environment
  .github/workflows/admin-portal.yml
  .github/workflows/member-portal.yml
Due: none

feat: add Semgrep SAST and unit tests to GitHub workflows
  .github/workflows/admin-portal.yml
  .github/workflows/member-portal.yml
Due: none

chore: add Dependabot for automated dependency security scanning
  .github/dependabot.yml
Due: none

chore: migrate from Azure DevOps to GitHub Actions
  .claude/agents/devops-guardian-dg.md
  .gitleaksignore
  CLAUDE.md
  README.md
  docs/OPERATIONAL_RUNBOOK.md
  scripts/calculate-mttr.sh
  scripts/check-pipeline-status.sh
  scripts/generate-dora-report.sh
  scripts/get-build-logs.sh
  scripts/quick-check.sh
  scripts/setup-deployment-alerts.sh
  scripts/verify-deployment-sync.sh
  scripts/wait-for-auto-trigger.sh
  tests/api/curl/endpoint-registration-workflow/README.md
  tests/api/curl/endpoint-registration-workflow/TEST_REPORT.md
  tests/api/curl/endpoint-registration-workflow/check-deployment.sh
  tests/api/curl/tier-authentication-test.sh
Due: none

docs: update MCP server mapping with GitHub MCP server
  .claude/MCP_SERVER_MAPPING.md
Due: none

feat: add Azure Automation for PostgreSQL start/stop scheduling
  .gitignore
  infrastructure/automation/README.md
  infrastructure/automation/Start-PostgreSQL.ps1
  infrastructure/automation/Stop-PostgreSQL.ps1
  infrastructure/automation/automation-account.bicep
  infrastructure/automation/deploy.sh
  infrastructure/automation/schedules.bicep
Due: .azure-pipelines/terraform.yml

feat(kvk): integrate Open Data API for company status and insolvency info
  api/src/controllers/kvk-verification.controller.ts
  api/src/services/kvkService.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(ci): use root package-lock.json for npm cache
  .github/workflows/api.yml
Due: none

fix(bicep): skip role assignments if already exist
  .github/workflows/api.yml
  infrastructure/bicep/container-app.bicep
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

feat(euid): improve EUID validation and add unit tests
  .claude/agents/architecture-reviewer-ar.md
  .claude/agents/security-analyst-sa.md
  CLAUDE.md
  api/src/services/euidService.ts
  api/src/utils/validators.ts
  database/migrations/063_fix_euid_format.sql
  package-lock.json
  package.json
  tests/api/unit/services/euidService.test.ts
  tests/api/unit/utils/validators.test.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(member-portal): use import.meta.env for Vite environment variables
  member-portal/src/App.tsx
  member-portal/src/auth/authConfig.ts
Due: .azure-pipelines/member-portal.yml

fix(member-portal): use VITE_API_URL for v1 API endpoints
  member-portal/src/App.tsx
Due: .azure-pipelines/member-portal.yml

fix(member-portal): add missing VITE_API_URL to vite config
  member-portal/.env.example
  member-portal/vite.config.ts
Due: .azure-pipelines/member-portal.yml

fix(api): correct EUID format in KvK verification flow
  api/src/routes-legacy.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(member-portal): improve navigation contrast for WCAG compliance
  member-portal/src/App.tsx
Due: .azure-pipelines/member-portal.yml

fix(api): save kvk_document_url to legal_entity on upload
  api/src/routes-legacy.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): fix PostgreSQL type error in member status update
  api/src/controllers/members.controller.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(database): make legal_entity.status NOT NULL
  database/migrations/064_legal_entity_status_not_null.sql
Due: none

feat(kvk): add document history table and admin verification actions
  admin-portal/src/components/KvkDocumentUpload.tsx
  admin-portal/src/components/kvk/KvkVerificationDisplay.tsx
  admin-portal/src/hooks/useKvkDocumentUpload.ts
  api/src/controllers/kvk-verification.controller.ts
  api/src/routes/v1/kvk-verification.routes.ts
  api/src/services/kvkService.ts
  database/migrations/065_fix_nullable_columns_with_defaults.sql
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(member-portal): add pending verification message for KvK document
  member-portal/src/components/KvKDocumentView.tsx
Due: .azure-pipelines/member-portal.yml

feat(api): implement endpoint registration workflow
  api/src/controllers/endpoints.controller.ts
  api/src/routes/v1/endpoints.routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(api): replace email verification with callback challenge-response
  api/src/controllers/endpoints.controller.ts
  api/src/routes/v1/endpoints.routes.ts
  member-portal/src/components/EndpointRegistrationWizard.tsx
  packages/api-client/dist/endpoints/endpoints.d.ts
  packages/api-client/dist/endpoints/endpoints.d.ts.map
  packages/api-client/dist/endpoints/endpoints.js
  packages/api-client/src/endpoints/endpoints.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml

feat(database): add endpoint lifecycle migration 066
  database/migrations/066_endpoint_lifecycle_enhancements.sql
Due: none

feat(api): add endpoint lifecycle controllers and routes
  api/src/controllers/endpoints.controller.ts
  api/src/routes/v1/endpoints.routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(member-portal): add endpoint lifecycle provider flow (Phase 4)
  member-portal/src/components/EndpointRegistrationWizard.tsx
  member-portal/src/components/EndpointsView.tsx
  member-portal/src/types.ts
Due: .azure-pipelines/member-portal.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, .azure-pipelines/admin-portal.yml, but not: api, member-portal, docs, **/*.md
  .azure-pipelines/api-tests.yml: any of: api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/container-app-api.yml: any of: api, infrastructure/container-app.bicep, .azure-pipelines/container-app-api.yml
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, docs, **/*.md
  .azure-pipelines/playwright-tests.yml: any of: admin-portal/e2e, member-portal/e2e, tests/*.setup.ts, playwright.config.ts
  .azure-pipelines/terraform.yml: any of: infrastructure
