Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal, docs, **/*.md
  .azure-pipelines/terraform.yml: any of: infrastructure

chore(admin-portal): add @tabler/icons-react dependency
  admin-portal/package.json
  package-lock.json
Due: .azure-pipelines/admin-portal.yml

refactor(admin-portal): migrate Settings page to Mantine components
  admin-portal/src/components/Settings.css
  admin-portal/src/components/Settings.tsx
Due: .azure-pipelines/admin-portal.yml

chore(admin-portal): remove duplicate and unused files - codebase cleanup
  admin-portal/src/components/AdminSidebar.css
  admin-portal/src/components/ComingSoonPlaceholder.tsx
  admin-portal/src/components/ExampleUsage.tsx
  admin-portal/src/components/MembersGrid.refactored.tsx
  admin-portal/src/utils/genericExportUtils.ts
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): comprehensive code quality improvements from Code Review agent
  admin-portal/e2e/bug-investigation/contargo-kvk-visibility-check.spec.ts
  admin-portal/e2e/bug-investigation/member-grid-row-click.spec.ts
  admin-portal/e2e/screenshots/deployed-about.png
  admin-portal/e2e/screenshots/deployed-audit-logs.png
  admin-portal/e2e/screenshots/deployed-dashboard.png
  admin-portal/e2e/screenshots/deployed-health-status.png
  admin-portal/e2e/screenshots/deployed-members.png
  admin-portal/e2e/screenshots/deployed-tasks.png
  admin-portal/e2e/screenshots/deployed-user-management.png
  admin-portal/e2e/urgent/add-kvk-95944192-fixed.spec.ts
  admin-portal/e2e/urgent/add-kvk-to-contargo.spec.ts
  admin-portal/e2e/urgent/contargo-kvk-simple.spec.ts
  admin-portal/e2e/width-consistency-test.spec.ts
  admin-portal/e2e/width-measurements-deployed.json
  admin-portal/scripts/inspect-widths.js
  admin-portal/scripts/measure-deployed-widths.js
  admin-portal/scripts/measure-with-manual-login.js
  admin-portal/src/components/LanguageSwitcher.tsx
  admin-portal/src/services/apiClient.ts
  admin-portal/src/shared/constants.ts
  admin-portal/src/theme/colors.ts
  admin-portal/src/utils/dateUtils.ts
Due: .azure-pipelines/admin-portal.yml

refactor(admin-portal): standardize page headers across all languages
  admin-portal/src/components/Dashboard.tsx
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/locales/de/translation.json
  admin-portal/src/locales/en/translation.json
  admin-portal/src/locales/nl/translation.json
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): optimize MembersGrid layout and column configuration
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

refactor(admin-portal): simplify header and add dashboard navigation to logo
  admin-portal/src/components/AdminPortal.tsx
Due: .azure-pipelines/admin-portal.yml

refactor(admin-portal): remove Member Since column, pin actions column, and eliminate horizontal scrollbar
  admin-portal/src/components/MembersGrid.css
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

feat(admin-portal): standardize page headers with Mantine theme across all pages
  admin-portal/src/App.tsx
  admin-portal/src/components/About.tsx
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/Dashboard.tsx
  admin-portal/src/components/HealthDashboard.tsx
  admin-portal/src/components/Settings.tsx
  admin-portal/src/components/TasksGrid.tsx
  admin-portal/src/components/audit/AuditLogViewer.tsx
  admin-portal/src/components/shared/PageHeader.tsx
  admin-portal/src/components/users/UserManagement.tsx
  admin-portal/src/locales/de/translation.json
  admin-portal/src/locales/en/translation.json
  admin-portal/src/locales/nl/translation.json
Due: .azure-pipelines/admin-portal.yml

feat(member-portal): add endpoint registration wizard with verification workflow
  IMPLEMENTATION_PLAN.md
  api/src/essential-index.ts
  api/src/functions/EndpointRegistrationWorkflow.ts
  api/src/index.ts
  database/migrations/025_endpoint_verification_fields.sql
  member-portal/src/components/EndpointRegistrationWizard.tsx
  member-portal/src/components/EndpointsView.tsx
  member-portal/src/hooks/useApiClient.ts
  package-lock.json
  packages/api-client/dist/endpoints/endpoints.d.ts
  packages/api-client/dist/endpoints/endpoints.d.ts.map
  packages/api-client/dist/endpoints/endpoints.js
  packages/api-client/dist/types.d.ts
  packages/api-client/dist/types.d.ts.map
  packages/api-client/package.json
  packages/api-client/src/endpoints/endpoints.ts
  packages/api-client/src/types.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(api): resolve TypeScript compilation errors in zitadel-auth middleware
  api/src/middleware/zitadel-auth.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

docs: update documentation for endpoint registration feature
  docs/COMPLETED_ACTIONS.md
  docs/LESSONS_LEARNED.md
Due: none

fix(api): improve IDOR protection error handling in endpoint registration
  api/src/functions/EndpointRegistrationWorkflow.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

test(api): add comprehensive endpoint registration workflow test suite
  api/tests/endpoint-registration-workflow/00-comprehensive-e2e-test.sh
  api/tests/endpoint-registration-workflow/01-initiate-registration-test.sh
  api/tests/endpoint-registration-workflow/02-send-verification-test.sh
  api/tests/endpoint-registration-workflow/03-verify-token-test.sh
  api/tests/endpoint-registration-workflow/04-test-endpoint-test.sh
  api/tests/endpoint-registration-workflow/05-activate-endpoint-test.sh
  api/tests/endpoint-registration-workflow/99-error-scenarios-test.sh
  api/tests/endpoint-registration-workflow/QUICK_START.md
  api/tests/endpoint-registration-workflow/README.md
  api/tests/endpoint-registration-workflow/TEST_EXECUTION_REPORT.md
  api/tests/endpoint-registration-workflow/TEST_REPORT.md
  api/tests/endpoint-registration-workflow/auth-helper.sh
  api/tests/endpoint-registration-workflow/check-deployment.sh
  docs/FINAL_TEST_RESULTS.md
  docs/IMPLEMENTATION_PLAN.md
  docs/INVESTIGATION_REPORT_2025-11-06.md
  docs/WARP.md
  docs/ZITADEL_README.md
  docs/ZITADEL_SETUP_COMPLETED.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

fix(member-portal): simplify endpoint registration wizard and fix build issues
  admin-portal/package.json
  api/package.json
  member-portal/src/components/EndpointRegistrationWizard.tsx
  member-portal/src/components/EndpointsView.tsx
  member-portal/src/hooks/useApiClient.ts
  package-lock.json
  packages/api-client/dist/client.js
  packages/api-client/dist/endpoints/audit.js
  packages/api-client/dist/endpoints/auth.js
  packages/api-client/dist/endpoints/contacts.js
  packages/api-client/dist/endpoints/endpoints.js
  packages/api-client/dist/endpoints/identifiers.js
  packages/api-client/dist/endpoints/legalEntities.js
  packages/api-client/dist/endpoints/members.js
  packages/api-client/dist/endpoints/orchestrations.js
  packages/api-client/dist/index.js
  packages/api-client/dist/types.js
  packages/api-client/dist/utils/error.js
  packages/api-client/dist/utils/interceptors.js
  packages/api-client/dist/utils/retry.js
  packages/api-client/package.json
  packages/api-client/tsconfig.json
  scripts/check-pipeline-status.sh
  scripts/get-build-logs.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(member-portal): implement full multi-step endpoint registration wizard
  member-portal/src/components/EndpointRegistrationWizard.tsx
Due: .azure-pipelines/member-portal.yml

feat(member-portal): improve endpoint registration wizard UX
  member-portal/src/components/EndpointRegistrationWizard.tsx
Due: .azure-pipelines/member-portal.yml

fix(member-portal): use legalEntityId instead of organizationId for entity-scoped APIs
  api/src/functions/GetMemberEndpoints.ts
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/DnsVerificationView.tsx
  member-portal/src/components/EndpointsView.tsx
  member-portal/src/types.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

refactor(api-client): remove @ts-nocheck and restore full type safety
  docs/ID_USAGE_AUDIT.md
  member-portal/src/components/EndpointRegistrationWizard.tsx
  packages/api-client/dist/client.d.ts
  packages/api-client/dist/client.d.ts.map
  packages/api-client/dist/client.js
  packages/api-client/dist/endpoints/audit.d.ts
  packages/api-client/dist/endpoints/audit.d.ts.map
  packages/api-client/dist/endpoints/audit.js
  packages/api-client/dist/endpoints/auth.d.ts
  packages/api-client/dist/endpoints/auth.d.ts.map
  packages/api-client/dist/endpoints/contacts.d.ts
  packages/api-client/dist/endpoints/contacts.d.ts.map
  packages/api-client/dist/endpoints/endpoints.d.ts
  packages/api-client/dist/endpoints/endpoints.d.ts.map
  packages/api-client/dist/endpoints/identifiers.d.ts
  packages/api-client/dist/endpoints/identifiers.d.ts.map
  packages/api-client/dist/endpoints/legalEntities.d.ts
  packages/api-client/dist/endpoints/legalEntities.d.ts.map
  packages/api-client/dist/endpoints/members.d.ts
  packages/api-client/dist/endpoints/members.d.ts.map
  packages/api-client/dist/endpoints/orchestrations.d.ts
  packages/api-client/dist/endpoints/orchestrations.d.ts.map
  packages/api-client/dist/utils/error.d.ts
  packages/api-client/dist/utils/error.d.ts.map
  packages/api-client/dist/utils/interceptors.d.ts
  packages/api-client/dist/utils/interceptors.d.ts.map
  packages/api-client/dist/utils/interceptors.js
  packages/api-client/src/client.ts
  packages/api-client/src/endpoints/audit.ts
  packages/api-client/src/endpoints/auth.ts
  packages/api-client/src/endpoints/contacts.ts
  packages/api-client/src/endpoints/endpoints.ts
  packages/api-client/src/endpoints/identifiers.ts
  packages/api-client/src/endpoints/legalEntities.ts
  packages/api-client/src/endpoints/members.ts
  packages/api-client/src/endpoints/orchestrations.ts
  packages/api-client/src/utils/error.ts
  packages/api-client/src/utils/interceptors.ts
  packages/api-client/tsconfig.json
Due: .azure-pipelines/member-portal.yml

fix(api): replace partyId JWT claim with email-based lookup for member endpoints
  api/src/functions/GetMemberContacts.ts
  api/src/functions/GetMemberEndpoints.ts
  member-portal/api/tests/debug-endpoints.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

chore: clean up references to extracted portals after monorepo split
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/asr-api.yml
  .azure-pipelines/member-portal.yml
  .azure-pipelines/playwright-tests.yml
  .claude/agents/architecture-reviewer-ar.md
  .claude/agents/devops-guardian-dg.md
  .gitignore
  docs/WARP.md
  playwright.config.ts
Due: .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

refactor(infrastructure): remove orchestrator portal and cosmos db resources
  infrastructure/bicep/main.bicep
  infrastructure/bicep/modules/cosmos-db.bicep
  infrastructure/bicep/modules/key-vault-secrets.bicep
  infrastructure/bicep/modules/static-web-apps.bicep
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

feat(m2m): enable Zitadel authentication for M2M endpoints
  ZITADEL_QUICKSTART.md
  api/src/functions/GetContainerStatus.ts
  api/src/functions/GetETAUpdates.ts
  api/src/functions/ManageBookings.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml

feat(infrastructure): add Azure deployment for Zitadel M2M authentication
  AZURE_ZITADEL_SETUP.md
  DEPLOY_TO_AZURE.md
  infrastructure/deploy-zitadel-azure.sh
Due: .azure-pipelines/terraform.yml

fix(admin-portal): resolve endpoints visibility issues in Admin Portal
  admin-portal/src/components/AdminPortal.tsx
  admin-portal/src/components/AllEndpointsView.tsx
  admin-portal/src/components/MemberDetailView.tsx
  admin-portal/src/locales/en/translation.json
Due: .azure-pipelines/admin-portal.yml

feat(m2m): migrate from Zitadel to Keycloak (Cloud IAM) for M2M authentication
  .env.zitadel.example
  AZURE_ZITADEL_SETUP.md
  DEPLOY_TO_AZURE.md
  TASK_MANAGER.md
  TEST_STATUS_SUMMARY.txt
  WARP.md
  ZITADEL_QUICKSTART.md
  api/src/functions/GetContainerStatus.ts
  api/src/functions/GetETAUpdates.ts
  api/src/functions/ManageBookings.ts
  api/src/middleware/keycloak-auth.ts
  database/migrations/026-rename-zitadel-to-generic-m2m-fixed-v2.sql
  database/migrations/026-rename-zitadel-to-generic-m2m-fixed.sql
  database/migrations/026-rename-zitadel-to-generic-m2m.sql
  database/migrations/run-008-fix.sh
  docker-compose.zitadel.yml
  docs/CLOUD_IAM_SETUP_GUIDE.md
  docs/KEYCLOAK_M2M_AUTHENTICATION.md
  docs/KEYCLOAK_MIGRATION_SUMMARY.md
  docs/ZITADEL_M2M_SETUP.md
  docs/ZITADEL_README.md
  docs/ZITADEL_SETUP_COMPLETED.md
  infrastructure/deploy-zitadel-azure.sh
  scripts/setup-zitadel-m2m.sh
  scripts/test-keycloak-m2m.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/terraform.yml

docs: cleanup documentation and add database schema analysis
  .claude/agents/design-analyst-da.md
  .claude/agents/devops-guardian-dg.md
  database/migrations/027_fix_duplicate_legal_entities.sql
  docs/archive/2025-11-02-grid-standardization-complete.md
  docs/archive/2025-11-02-post-migration-tasks.md
  docs/archive/2025-11-02-test-status-after-migration.md
  docs/database/DATABASE_SCHEMA_ANALYSIS_2025-11-13.md
  docs/database/SCHEMA_ISSUES_SUMMARY.md
Due: none

fix(db): correct PostgreSQL syntax in migration 027 (remove MySQL @ variables)
  database/migrations/027_fix_duplicate_legal_entities.sql
Due: none

fix(db): remove unused CTEs from migration 027
  database/migrations/027_fix_duplicate_legal_entities.sql
Due: none

fix(db): use CREATE UNIQUE INDEX for partial unique constraint in migration 027
  database/migrations/027_fix_duplicate_legal_entities.sql
Due: none

fix(db): comment out non-existent table updates in migration 027
  database/migrations/027_fix_duplicate_legal_entities.sql
Due: none

fix(db): update validation to check for UNIQUE INDEX instead of CONSTRAINT in migration 027
  database/migrations/027_fix_duplicate_legal_entities.sql
Due: none

docs(db): update migration 027 status and add verification guide
  docs/database/MIGRATION_027_VERIFICATION.md
  docs/database/SCHEMA_ISSUES_SUMMARY.md
  verify-migration-027.sh
Due: none

feat(db): complete Phase 2 schema refactoring and merge ROADMAP tasks
  TASK_MANAGER.md
  database/migrations/028_phase2_schema_refactoring.sql
  database/migrations/README_PHASE2.md
  database/migrations/verify_028_phase2.sh
  docs/database/API_QUERY_REVIEW_PHASE2.md
  docs/database/PHASE2_COMPLETION_SUMMARY.md
  docs/database/SCHEMA_ISSUES_SUMMARY.md
Due: none

fix(db): correct correlated subquery in v_members_full view (migration 028)
  database/migrations/028_phase2_schema_refactoring.sql
Due: none

fix(db): relax org_id CHECK constraint to accept existing formats (migration 028)
  database/migrations/028_phase2_schema_refactoring.sql
Due: none

fix(db): add data cleanup step for email trailing dots (migration 028)
  database/migrations/028_phase2_schema_refactoring.sql
Due: none
