Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-ADMIN
      RunAsPreJob: true
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
      SecretsFilter: AIKIDO-CI-API-KEY,AZURE-STATIC-WEB-APPS-API-TOKEN-MEMBER
      RunAsPreJob: true
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

debug(admin-portal): Add alert to diagnose button click issue
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

debug(admin-portal): Replace Kendo Button with native td onClick
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

debug(admin-portal): Add onRowClick to Grid to bypass cell event issues
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Remove e.preventDefault() blocking ActionCell clicks in MembersGrid
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

debug(admin-portal): Add window.alert to onRowClick for definitive test
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

feat(member-portal): Add self-service registration components
  admin-portal/e2e/bug-investigation/member-grid-row-click.spec.ts
  api/tests/members-grid-api-test.sh
  docs/INVESTIGATION_SUMMARY_2025-10-30.md
  docs/MEMBER_REGISTRATION_IMPLEMENTATION_PLAN.md
  docs/bug-reports/2025-10-30-members-grid-row-click-fix.md
  member-portal/src/components/KvKDocumentUpload.tsx
  member-portal/src/components/RegistrationForm.tsx
  member-portal/src/components/icons.tsx
  scripts/verify-fix-2025-10-30.sh
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

feat(member-portal): Integrate registration flow into App.tsx
  member-portal/src/App.css
  member-portal/src/App.tsx
Due: none

feat(database): Add applications table for member registration
  database/migrations/016_member_registration_applications.sql
Due: none

feat(api): Add member registration endpoint (POST /v1/register-member)
  api/src/essential-index.ts
  api/src/functions/registerMember.ts
  api/src/middleware/auditLog.ts
  member-portal/src/App.tsx
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

docs: Document member registration implementation (Phase 1-3 complete)
  docs/COMPLETED_ACTIONS.md
  docs/MEMBER_REGISTRATION_IMPLEMENTATION_PLAN.md
  docs/api/MEMBER_REGISTRATION_API.md
Due: none

fix(admin-portal): Stop checkbox propagation to allow row clicks in MembersGrid
  admin-portal/src/components/MembersGrid.tsx
  database/migrations/016_member_registration_applications.sql
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Remove debug alert from MembersGrid row click
  admin-portal/src/components/MembersGrid.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Refactor contacts and identifiers to persist to database
  admin-portal/src/components/ContactsManager.tsx
  admin-portal/src/components/IdentifiersManager.tsx
  admin-portal/src/components/MemberDetailView.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Update MemberDetailDialog to use new ContactsManager interface
  admin-portal/src/components/MemberDetailDialog.tsx
Due: .azure-pipelines/admin-portal.yml

fix: Add missing full_name column to contact create/update operations
  api/src/functions/CreateContact.ts
  api/src/functions/UpdateContact.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix: Contact creation + security update compatibility fixes
  api/src/functions/registerMember.ts
  api/src/middleware/endpointWrapper.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(security): Disable CSRF validation for JWT-authenticated endpoints
  api/src/middleware/endpointWrapper.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(ui): Display contact names in ContactsManager grid
  admin-portal/src/components/ContactsManager.tsx
Due: .azure-pipelines/admin-portal.yml

fix(ui): Normalize ContactsManager grid row heights
  admin-portal/src/components/ContactsManager.css
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): Fix contact delete confirmation dialog async handling
  admin-portal/src/components/ConfirmDialog.tsx
Due: .azure-pipelines/admin-portal.yml

feat(admin-portal): Add aggressive cache-control headers to prevent caching issues
  admin-portal/public/staticwebapp.config.json
Due: .azure-pipelines/admin-portal.yml

fix(api): Return actual full_name column instead of computing from first+last names
  api/src/functions/GetContacts.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(ui): Improve ContactsManager row height and action button layout
  admin-portal/src/components/ContactsManager.css
Due: .azure-pipelines/admin-portal.yml

fix(ui): Make contact action buttons clickable by disabling pointer events on icons
  admin-portal/src/components/ContactsManager.css
Due: .azure-pipelines/admin-portal.yml

fix(ui): Force CSS specificity with !important to override Kendo defaults
  admin-portal/src/components/ContactsManager.css
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): contacts grid row height and actions alignment
  admin-portal/src/components/ContactsManager.css
  admin-portal/src/components/ContactsManager.tsx
Due: .azure-pipelines/admin-portal.yml

fix(api): correct Azure Functions route param casing for tier & DNS endpoints (legalentityid/tokenid)
  WARP.md
  api/src/functions/TierManagement.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/member-portal.yml

fix(admin-portal): reduce Contacts grid row height to 36px and tighten action buttons to match Identifiers tab
  admin-portal/src/components/ContactsManager.css
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): render contact full_name as single line (strip line breaks and <br>) to reduce grid row height
  admin-portal/src/components/ContactsManager.tsx
Due: .azure-pipelines/admin-portal.yml

fix(admin-portal): enforce single-line rendering for all Contacts grid text cells (strip \n and <br>)
  admin-portal/src/components/ContactsManager.tsx
Due: .azure-pipelines/admin-portal.yml

style(admin-portal): apply compact density (k-grid-sm) to Contacts grid
  admin-portal/src/components/ContactsManager.tsx
Due: .azure-pipelines/admin-portal.yml

Remove PostgreSQL scheduled start/stop automation
  infrastructure/bicep/main.bicep
  infrastructure/bicep/modules/automation-account.bicep
  infrastructure/runbooks/start-postgresql.ps1
  infrastructure/runbooks/stop-postgresql.ps1
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

fix(admin-portal): prevent Contacts grid row stretching by using auto-height (scrollable=none)
  admin-portal/src/components/ContactsManager.tsx
Due: .azure-pipelines/admin-portal.yml

chore(admin-portal): remove sidebar separator under Token Management
  admin-portal/src/components/AdminSidebar.tsx
Due: .azure-pipelines/admin-portal.yml

feat(admin-portal): clarify Contact modal required fields (aria-required, no placeholders, proper autocomplete)
  admin-portal/src/components/ContactForm.tsx
Due: .azure-pipelines/admin-portal.yml

docs: move completed Admin Portal tasks to COMPLETED_ACTIONS and mark [DONE] in ROADMAP.md (2025-10-31)
  docs/COMPLETED_ACTIONS.md
Due: none

fix(admin-portal): show Production environment and dynamic API host on Settings; display Production in Health Monitor
  admin-portal/src/components/HealthDashboard.tsx
  admin-portal/src/components/Settings.tsx
Due: .azure-pipelines/admin-portal.yml

docs(admin-portal): mark Health Monitor item done and document env label changes (2025-10-31)
  docs/COMPLETED_ACTIONS.md
Due: none

fix(admin-portal): preserve Members grid page when filters change (configurable in useGridState)
  admin-portal/src/components/MembersGrid.tsx
  admin-portal/src/hooks/useGridState.ts
Due: .azure-pipelines/admin-portal.yml

docs(admin-portal): mark Members grid pagination fix [DONE] and log to COMPLETED_ACTIONS (2025-10-31)
  docs/COMPLETED_ACTIONS.md
Due: none

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml, but not: booking-portal, orchestrator-portal, ctn-docs-portal, docuflow-portal
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/member-portal.yml: any of: portal, api
  .azure-pipelines/terraform.yml: any of: infrastructure
