Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/playwright-tests.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/api-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: APITests
    displayName: Run API Tests
    jobs:
    - job: RunTests
      displayName: Execute API Test Suite
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/container-app-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and Push
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      steps:
      - task: AzureCLI@2
        displayName: Build and Push Docker image
        inputs:
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/playwright-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Test
    displayName: E2E Testing
    jobs:
    - job: PlaywrightTests
      displayName: Run Playwright Tests
      timeoutInMinutes: 30
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

fix(api): query legal_entity_number table for KvK verification
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(member-portal): apply admin portal Mantine footer design
  member-portal/src/App.tsx
Due: .azure-pipelines/member-portal.yml

fix(api): correct members table reference in registration endpoint
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): remove non-existent columns from KvK verification query
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

chore: remove temporary test files
  member-portal/e2e/kvk-verification.spec.ts
  test-kvk-endpoint.js
Due: .azure-pipelines/member-portal.yml, .azure-pipelines/playwright-tests.yml

fix(api): remove non-existent columns from endpoints and KvK flagged queries
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): change dt_modified to dt_updated in applications endpoints
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(api): implement complete application approval workflow
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(api): add endpoints for KvK verification history and registry data
  api/src/routes.ts
  member-portal/auth-failure.png
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml

feat(api): add missing POST endpoint for KvK document upload (member portal)
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): correct column names in legal_entity INSERT for application approval
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): convert country names to ISO codes in application approval
  CLAUDE.md
  api/src/routes.ts
  database/asr_dev.sql
  database/current_schema.sql
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): correct column name in KvK document upload endpoint
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): correct column names in approval endpoint to match database schema
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

refactor: improve TypeScript strictness and code quality
  .claude/skills/frontend-design/SKILL.md
  .claude/skills/typescript-review/SKILL.md
  admin-portal/biome.json
  admin-portal/src/hooks/useMemberForm.ts
  api/src/middleware/auth/jwtAuthenticator.ts
  api/src/services/m2mClientService.ts
  api/src/types/gremlin.d.ts
  api/src/utils/csrf.ts
  api/src/utils/database.ts
  api/src/utils/gremlinClient.ts
  api/tsconfig.json
  docs/CODE_REVIEW_FINDINGS.md
  member-portal/biome.json
  tests/admin-portal/e2e/portal-smoke-test.spec.ts
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml

docs: add code review fixes summary
  docs/CODE_REVIEW_FIXES_SUMMARY.md
Due: none

fix(api): correct verification records endpoint response format
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): create verification history records during application approval
  api/src/routes.ts
  database/migrations/027_backfill_verification_history.sql
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): correct kvk-verification endpoint to query legal_entity table
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

docs: add KvK document visibility fix and blob storage auth troubleshooting
  docs/BLOB_STORAGE_AUTH_TROUBLESHOOTING.md
  docs/KVK_DOCUMENT_VISIBILITY_FIX.md
Due: none

fix(api): correct database schema mismatches in API endpoints
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): add EUID and EORI identifier types to member endpoints
  api/src/routes.ts
  database/migrations/030_add_euid_eori_to_views.sql
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(schema): remove EURI, add integration tests, update documentation
  .azure-pipelines/container-app-api.yml
  CLAUDE.md
  admin-portal/src/hooks/useIdentifiers.ts
  api/package.json
  api/src/routes.ts
  api/tests/integration/README.md
  api/tests/integration/query-parser.js
  api/tests/integration/schema-contract-tests.js
  api/tests/integration/schema-introspection.js
  database/migrations/031_remove_euri_not_real_identifier.sql
  docs/SCHEMA_CONTRACT_TESTS.md
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(ci): add missing smoke test script symlink
  scripts/smoke-test.sh
Due: none

fix(api): correct column name in members endpoint - euri not euid/eori
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

docs: comprehensive multi-agent codebase review (Nov 21, 2025)
  docs/COMPREHENSIVE_CODEBASE_REVIEW_2025-11-21.md
  task-manager.md
Due: none

fix(api): update all-members endpoint to use euid/eori instead of euri
  api/src/routes.ts
  api/tsconfig.json
  check-db.sh
  docs/diagnostic-report-members-page-2025-11-21.md
  test-members.sh
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): add endpoint to create missing member records
  api/src/routes.ts
  check-lk-details.sh
  check-lk-holding.sh
  check-lk-member.sh
  check-members-table.sh
  create-lk-member.sh
  database/migrations/032_fix_missing_member_records.sql
  fix-lk-holding.sql
  search-legal-entities.sh
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

improve(api): enhance approval endpoint logging and cleanup
  api/src/routes.ts
  count-missing-members.sh
  fix-missing-members.sh
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(api): implement automatic KvK document verification
  api/src/routes.ts
  check-lk-verification.sh
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(api): add manual verification trigger endpoint for existing documents
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(api): add GLEIF LEI enrichment to automatic KvK verification
  api/src/routes.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): correct blob name parsing in SAS URL generation
  api/src/services/__tests__/blobStorageService.test.ts
  api/src/services/blobStorageService.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

feat(api): add critical BDI token endpoints (JWKS, BVAD, BVOD)
  AUTOMATIC_VERIFICATION_IMPLEMENTATION.md
  MIGRATION_GAPS_AUDIT.md
  api/src/routes.ts
  find-denoronha.sh
  find-docs-in-db.sh
  find-entities-with-docs.sh
  test-lk-verification.sh
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(api): use buffer instead of SAS URL for Document Intelligence verification
  api/src/routes.ts
  api/src/services/blobStorageService.ts
  api/src/services/documentIntelligenceService.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(tests): remove API root 404 check from smoke tests
  tests/api/curl/smoke-test.sh
Due: none

chore: add testing and debugging scripts for KVK verification workflow
  check-dnc-status.sh
  check-full-entity.sh
  check-lk-kvk-verif.sh
  check-verification-history.sh
  check-verifications.sh
  trigger-lk-verification.sh
  upload-dnc-kvk-document.sh
Due: none

fix(api): improve blob URL parsing for document download
  api/src/services/blobStorageService.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, .azure-pipelines/admin-portal.yml, but not: api, member-portal, docs, **/*.md
  .azure-pipelines/api-tests.yml: any of: api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/container-app-api.yml: any of: api, infrastructure/container-app.bicep, .azure-pipelines/container-app-api.yml
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, docs, **/*.md
  .azure-pipelines/playwright-tests.yml: any of: admin-portal/e2e, member-portal/e2e, tests/*.setup.ts, playwright.config.ts
  .azure-pipelines/terraform.yml: any of: infrastructure
