Repository DeNoronha/ctn-asr-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-portal.yml, .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml, .azure-pipelines/playwright-tests.yml, .azure-pipelines/terraform.yml

.azure-pipelines/admin-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/api-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: APITests
    displayName: Run API Tests
    jobs:
    - job: RunTests
      displayName: Execute API Test Suite
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

.azure-pipelines/asr-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy ASR API
    jobs:
    - job: DeployAPI
      displayName: Deploy Association Register API
      steps:
      - task: NodeTool@0
        displayName: Install Node.js 20.x
        inputs:
          versionSpec: 20.x
  ...

.azure-pipelines/bicep-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Bicep Templates
    jobs:
    - job: ValidateBicep
      displayName: Bicep Validation
      steps:
      - task: AzureCLI@2
        displayName: Install Bicep CLI
        inputs:
          azureSubscription: $(azureSubscription)
  ...

.azure-pipelines/container-app-api.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and Push
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      steps:
      - task: AzureCLI@2
        displayName: Build and Push Docker image
        inputs:
  ...

.azure-pipelines/member-portal.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    fetchDepth: 10
    persistCredentials: true
  - task: AzureKeyVault@2
    displayName: Fetch secrets from Key Vault
    inputs:
      azureSubscription: $(azureSubscription)
      KeyVaultName: $(keyVaultName)
  ...

.azure-pipelines/playwright-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Test
    displayName: E2E Testing
    jobs:
    - job: PlaywrightTests
      displayName: Run Playwright Tests
      timeoutInMinutes: 30
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js
        inputs:
          versionSpec: $(nodeVersion)
  ...

.azure-pipelines/terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: ValidateTerraform
      displayName: Terraform Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.6.3
  ...

feat(member-portal): add endpoint lifecycle consumer flow (Phase 5)
  member-portal/src/App.tsx
  member-portal/src/components/DirectoryView.tsx
  member-portal/src/components/MyAccessGrantsView.tsx
Due: .azure-pipelines/member-portal.yml

chore: remove dead code from endpoint lifecycle (Phase 6)
  api/src/controllers/endpoints.controller.ts
  member-portal/src/components/Endpoints.tsx
  packages/api-client/dist/endpoints/endpoints.d.ts
  packages/api-client/dist/endpoints/endpoints.d.ts.map
  packages/api-client/dist/endpoints/endpoints.js
  packages/api-client/dist/endpoints/member.d.ts
  packages/api-client/dist/endpoints/member.d.ts.map
  packages/api-client/dist/endpoints/member.js
  packages/api-client/src/endpoints/endpoints.ts
  packages/api-client/src/endpoints/member.ts
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml

feat(member-portal): improve UX with clear 4-step data sharing flow
  member-portal/src/App.tsx
  member-portal/src/components/APIAccessView.tsx
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/DirectoryView.tsx
  member-portal/src/components/EndpointsView.tsx
  member-portal/src/components/MyAccessGrantsView.tsx
Due: .azure-pipelines/member-portal.yml

refactor(member-portal): rename API Keys to System Credentials
  member-portal/src/App.tsx
  member-portal/src/components/APIAccessView.tsx
  member-portal/src/components/Dashboard.tsx
  member-portal/src/components/MyAccessGrantsView.tsx
Due: .azure-pipelines/member-portal.yml

docs: add Poort8 demo summary for endpoint lifecycle
  docs/POORT8_DEMO_SUMMARY.md
Due: none

refactor(member-portal): simplify System Credentials - remove endpoint linking
  member-portal/src/components/M2MClientsView.tsx
Due: .azure-pipelines/member-portal.yml

chore: remove obsolete Azure DevOps pipelines
  .azure-pipelines/admin-portal.yml
  .azure-pipelines/api-tests.yml
  .azure-pipelines/bicep-infrastructure.yml
  .azure-pipelines/container-app-api.yml
  .azure-pipelines/member-portal.yml
  .azure-pipelines/playwright-tests.yml
Due: .azure-pipelines/admin-portal.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/member-portal.yml

docs: remove completed refactoring planning documents
  api/docs/MIDDLEWARE_MIGRATION_GUIDE.md
  api/docs/REFACTORING_REPORT_TASK_CR_004.md
  api/docs/ROUTES_ARCHITECTURE_DIAGRAM.md
  api/docs/ROUTES_REFACTORING_PLAN.md
  api/docs/ROUTES_REFACTORING_QUICKSTART.md
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

docs: remove one-off task summaries and historical test reports
  admin-portal/USER_MANAGEMENT_CONFIRMATIONS_PATCH.md
  admin-portal/docs/TASK-CR-008-TYPE-SAFETY-SUMMARY.md
  admin-portal/docs/TASK-CR-010-SUMMARY.md
  database/schema/SCHEMA_VALIDATION_REPORT.md
  docs/ARCHITECTURE_ALIGNMENT_REPORT.md
  tests/api/curl/endpoint-registration-workflow/TEST_EXECUTION_REPORT.md
  tests/api/curl/endpoint-registration-workflow/TEST_REPORT.md
  tests/api/curl/results/container-apps-test-report-2025-11-19.md
Due: none

docs: remove outdated deployment guide
  docs/DEPLOYMENT_GUIDE.md
Due: none

docs: remove internal Claude/personal/customer-specific files
  CLAUDE.md
  TASK_MANAGER.md
  docs/POORT8_DEMO_SUMMARY.md
  scripts/README-TASK-MANAGER.md
Due: none

chore: clean up .gitignore — drop dead .azure-pipelines entry
  .gitignore
Due: none

docs: fix dead links and outdated commands in README
  README.md
Due: none

chore: remove orphan TASK-CR-010 logging guide and update-task-manager.sh
  admin-portal/docs/LOGGING_GUIDE.md
  scripts/update-task-manager.sh
Due: none

chore: remove project-level Claude Code config and personal debug script
  .claude/MCP_SERVER_MAPPING.md
  .claude/agents/architecture-reviewer-ar.md
  .claude/agents/coding-assistant-ca.md
  .claude/agents/database-expert-de.md
  .claude/agents/devops-guardian-dg.md
  .claude/agents/security-analyst-sa.md
  .claude/agents/technical-writer-tw.md
  .claude/agents/test-engineer-te.md
  .claude/settings.json
  .claude/skills/frontend-design/SKILL.md
  .claude/skills/typescript-review/SKILL.md
  scripts/debug-tasks.sh
Due: none

security: remove hardcoded dev database password
  api/tests/integration/README.md
  api/tests/integration/schema-contract-tests.js
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

security: remove hardcoded dev database password (#22)
  api/tests/integration/README.md
  api/tests/integration/schema-contract-tests.js
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

fix(automation): repair PostgreSQL auto-stop (RBAC + weekday-only schedule)
  .github/workflows/postgres-automation.yml
  infrastructure/automation/README.md
  infrastructure/automation/automation-account.bicep
  infrastructure/automation/deploy.sh
  infrastructure/automation/schedules.bicep
Due: .azure-pipelines/terraform.yml

fix(automation): correct schedule timezone offset and jobSchedule recreation
  infrastructure/automation/schedules.bicep
Due: .azure-pipelines/terraform.yml

fix(api): decouple schema-contract tests from build (unbreak Docker image)
  api/package.json
  api/tests/integration/README.md
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/container-app-api.yml

docs: replace dead Azure DevOps pipeline references with GitHub Actions
  infrastructure/bicep/README.md
  infrastructure/bicep/main.bicep
  tests/README-LOCAL-TESTING.md
  tests/README.md
  tests/api/curl/README.md
  tests/api/curl/TEST_CATALOG.md
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

chore(ci): bump GitHub Actions to Node 24 runtimes
  .github/workflows/admin-portal.yml
  .github/workflows/api.yml
  .github/workflows/bicep-infrastructure.yml
  .github/workflows/member-portal.yml
  .github/workflows/playwright-tests.yml
Due: none

chore(ci): bump postgres-automation workflow actions to Node 24 runtimes
  .github/workflows/postgres-automation.yml
Due: none

fix(api): unbreak Docker build + clean up dead Azure DevOps CI references (#24)
  api/package.json
  api/tests/integration/README.md
  infrastructure/bicep/README.md
  infrastructure/bicep/main.bicep
  tests/README-LOCAL-TESTING.md
  tests/README.md
  tests/api/curl/README.md
  tests/api/curl/TEST_CATALOG.md
Due: .azure-pipelines/api-tests.yml, .azure-pipelines/asr-api.yml, .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/container-app-api.yml, .azure-pipelines/terraform.yml

chore(ci): bump GitHub Actions to Node 24 runtimes (#25)
  .github/workflows/admin-portal.yml
  .github/workflows/api.yml
  .github/workflows/bicep-infrastructure.yml
  .github/workflows/member-portal.yml
  .github/workflows/playwright-tests.yml
Due: none

fix(automation): repair PostgreSQL auto-stop (RBAC + weekday-only schedule) (#23)
  .github/workflows/postgres-automation.yml
  infrastructure/automation/README.md
  infrastructure/automation/automation-account.bicep
  infrastructure/automation/deploy.sh
  infrastructure/automation/schedules.bicep
Due: .azure-pipelines/terraform.yml

fix(ci): drop unassignable role from automation bicep; remove orphaned playwright workflow
  .github/workflows/playwright-tests.yml
  database/schema/ERD.md
  infrastructure/automation/automation-account.bicep
Due: .azure-pipelines/terraform.yml

fix(ci): drop unassignable role from automation bicep; remove orphaned playwright workflow (#26)
  .github/workflows/playwright-tests.yml
  database/schema/ERD.md
  infrastructure/automation/automation-account.bicep
Due: .azure-pipelines/terraform.yml

fix(infra): repair bicep preflight errors; gate infra deploy to manual
  .github/workflows/bicep-infrastructure.yml
  infrastructure/bicep/modules/ai-services.bicep
  infrastructure/bicep/modules/messaging.bicep
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

fix(infra): repair bicep preflight errors; gate infra deploy to manual (#27)
  .github/workflows/bicep-infrastructure.yml
  infrastructure/bicep/modules/ai-services.bicep
  infrastructure/bicep/modules/messaging.bicep
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

refactor(infra): consolidate environment — drop duplicate/unused resources
  infrastructure/bicep/main.bicep
  infrastructure/bicep/modules/core-infrastructure.bicep
  infrastructure/bicep/modules/messaging.bicep
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

refactor(infra): consolidate environment — drop duplicate/unused resources (#28)
  infrastructure/bicep/main.bicep
  infrastructure/bicep/modules/core-infrastructure.bicep
  infrastructure/bicep/modules/messaging.bicep
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

docs(infra): update bicep README to match current architecture
  infrastructure/bicep/README.md
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

docs(infra): update bicep README to match current architecture (#29)
  infrastructure/bicep/README.md
Due: .azure-pipelines/bicep-infrastructure.yml, .azure-pipelines/terraform.yml

Path conditions:
  .azure-pipelines/admin-portal.yml: any of: admin-portal, .azure-pipelines/admin-portal.yml, but not: api, member-portal, docs, **/*.md
  .azure-pipelines/api-tests.yml: any of: api
  .azure-pipelines/asr-api.yml: any of: api, .azure-pipelines/asr-api.yml
  .azure-pipelines/bicep-infrastructure.yml: any of: infrastructure/bicep
  .azure-pipelines/container-app-api.yml: any of: api, infrastructure/container-app.bicep, .azure-pipelines/container-app-api.yml
  .azure-pipelines/member-portal.yml: any of: member-portal, .azure-pipelines/member-portal.yml, but not: api, admin-portal, docs, **/*.md
  .azure-pipelines/playwright-tests.yml: any of: admin-portal/e2e, member-portal/e2e, tests/*.setup.ts, playwright.config.ts
  .azure-pipelines/terraform.yml: any of: infrastructure
